$text-link-color: #3a98d8;
$expando-button-color: #666;

$primary-text-color: #32383f;
$heading-text-color: #23374b;
$strikethrough-text-color: #999;

$code-block-background-color: rgba(0, 0, 0, 0.01);
$code-block-text-color: rgba(0,0,0,0.9);

$pre-block-background-color: rgba(0, 0, 0, 0.05);

$usertext-body-background-color: rgba(0, 0, 0, 0.02);
$usertext-body-border-color: $pre-block-background-color;

$content-background-color: #fff;
$header-background-color: #323a47;
$header-after-background-color: rgba(0, 0, 0, 0.45);
$footer-background-color: rgba(36, 42, 48, 0.9);


$sidebar-border-color: #e1e3e4;
$sidebar-background-color: #f7f7f7;

$link-info-border-color: #ccd1d5;
$link-button-background-color: #cc2222;

$title-box-text-color: #666;
$subscriber-count-color: #000;

$upvote-color: #ee5559;
$downvote-color: #3a98d8;
$secondary-text-color: #fff; // this is poorly named, my bad.
$upvote-info-text-color: #ffb6af;

$admin-tag-background-color: $upvote-color;
$submitter-tag-background-color: $downvote-color;
$moderator-tag-background-color: $upvote-color;

$header-text-color: hsl(0, 0%, 20%);
$h1-after-background-color: hsl(0, 0%, 75%);
$h3-text-color: #366099;
$h4-text-color: #b34747;

$input-text-color: #262626;
$input-focus-border-color: #e1e1e1;
$side-input-background-color: $sidebar-border-color;

$radio-button-checked-background-color: #c22222;
$radio-button-unchecked-background-color: #ccd2d2;

$select-text-color: #000;

$button-default-background-color: #3a98d8;
$button-default-text-color: $sidebar-background-color;
$button-post-action-background-color: rgba(255, 255, 255, .1);

$link-flair-background-color: $link-button-background-color;
$link-flair-text-color: #fff;

$self-text-background-color: hsl(0, 0%, 99%);
$self-text-border-color: rgba(0,0,0, .05432591);

$policy-button-border-color: #a41b1b;
$policy-button-text-color: #f1f7f7;

$gold-accent-text-color: #cd9930;
$gold-title-button-text-color: #f0c330;
$reddit-gold-comment-highlight: rgba(100,100,255,0.05);

$igm-table-header-background-color: #eaeaea;

$post-disclaimer-background-color: #A63832;
$post-disclaimer-divider-color: #ccc;
$post-endorsement-background-color: #32CD32;

/* More specific nonsense */
$fancy-toggle-background-color: #3d5a99;

$link-text-icon-color: rgba(0, 0, 0, .4);

$search-result-link-color: $heading-text-color;

$header-action-overlay-color: rgba(0, 0, 0, .35);
$reddit-top-bar-background-color: $primary-text-color;
$reddit-top-bar-spacer-color: rgba(0, 0, 0, .1);
$reddit-top-bar-link-color: $primary-text-color;
$reddit-top-bar-link-hover-background-color: rgba(50, 58, 71, .1);
$reddit-top-bar-link-hover-text-color: $primary-text-color;

$res-dialog-drop-shadow-color: rgba(0, 0, 0, .5);
$res-dialog-border-color: $sidebar-background-color;
$res-dialog-background-color: #fff;
$res-shortcut-border-color: $link-info-border-color;
$res-shortcut-edit-container-text-color: $primary-text-color;
$res-search-menu-item-hover-color: rgba(50, 58, 71, .2);
$res-active-elemtn-background-color: rgba(0, 0, 0, 0.02);

$drop-choices-icon-color: #fff;
$drop-choices-border-color: #434b55;
$drop-choices-hover-text-color: #ffb6af;

$more-link-border-color: rgba(0, 0, 0, .1);
$more-link-background-color: #fff;
$more-link-after-background-color: rgba(255, 255, 255, 0.5);

$page-name-text-color: #fff;
$page-name-text-shadow-color: rgba(0, 0, 0, 0.3215);

$tab-menu-hover-box-shadow-color: rgba(0, 0, 0, 0.5);
$tab-menu-option-background-color: #fff;
$tab-menu-option-border-color: rgba(0, 0, 0, 0.1);
$tab-menu-option-text-color: $primary-text-color;
$tab-menu-option-hover-background-color: rgba(50, 58, 71, .1);
$tab-menu-option-selected-text-color: #fff;

$message-count-background-color: #c4918a;

$neutral-pretty-button-border-color: #67676d;
$positive-pretty-button-background-color: #3aca74;
$pressed-pretty-button-background-color: #21252a;

$reported-stamp-background-color: rgba(255,255,0,0.4);

$next-preview-link-hover-background-color: rgba(255, 255, 255, .8);

$search-result-link-border-color: rgba(255, 255, 255, 0.35);

$comment-menu-area-toggle-text-color: #9da5a5;

$commenting-as-text-color: #2a3939;

$message-reply-entry-text-color: #31ab67;

/* Night mode */
$nightmode-content-background-color: #282828;
$nightmode-link-flair-text-color: #c8c8c8;
$nightmode-header-text-color: #eee;
