/* Header
----------------*/
#header {
	$header: header-contractionary;

	@if($expansionary) {
		$header: header-expansionary;
	}

	@include order(-1);
	margin: 30px 0 0;
	width: 100%;
	height: 160px;
	border: 0;
	background-color: $header-background-color;
	background-image: linear-gradient(rgba(50,58,71,.15) 32%,rgba(50,58,71,.55)), url(%%#{$header}%%);
	background-position: left top;
	background-size: cover;
}

#header:after {
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: $header-action-overlay-color;
	content: ""
}

/* SINGLE COLUMN
----------------*/

.link {
	width: 100%;
}

.link.odd {
	padding-right: 0;
	border-right: 0;
}

.link.even {
	border-left: 0;
}

body>.content .link.even.thing .midcol {
	margin-left: -3px;
}

.link.even .entry { 
	margin-left: 130px;
}

/* IGM Style Tables 
-------------------*/

.md table {
	width: 100%;
	border: none;
}

thead {
	background-color: $igm-table-header-background-color;
}

.md td, .md th {
	border: 1px solid transparent !important;
	text-align: left;
}


/* Body text headings 
---------------------*/

.md h1, h2, h3, h4, h5, h6 {
	font-family: $font-family;
}

.wiki-page-content .md h1, h2, h3, h4, h5, h6 {
	font-family: $font-family;
}

.md h1, .wiki-page-content .md h1 { 
	font-size: 22px !important;
	line-height: 1em !important;
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;
	color: $header-text-color;
}

.md h1:after, .wiki-page-content .md h1:after {
	width: 100%;
	background: $h1-after-background-color;
}

.md h2, h3, h4, h5 {
	color: $header-text-color;
	margin-top: 0.4em !important;
	margin-bottom: 0.4em !important;
	font-size: 18px !important;
}

.wiki-page-content .md h2, h3, h4, h5 {
	color: $header-text-color;
	margin-top: 0.4em !important;
	margin-bottom: 0.4em !important;
	font-size: 18px !important;
}

.wiki-page-content .md h2 {
	font-size: 16px !important;
}

.md h3 {
	color: $h3-text-color;
}

.md h4 {
	color: $h4-text-color;
}

.md h5, .wiki-page-content .md h5 {
	color: $header-text-color !important;
	text-decoration: underline !important;
}

.md h6, .wiki-page-content .md h6 {
	margin: -1px;
	color: $h4-text-color !important;
	font-size: 16px !important;
	padding: 5px !important;
}


/* Text Dividers
-----------------*/

.md hr {
	background: $h1-after-background-color;
}

/* Link buttons
-------------------*/
.morelink a, 
.sidecontentbox a.helplink, .account-activity-box a {
	background: $link-flair-background-color !important;
	border-color: $policy-button-border-color;
	color: $policy-button-text-color;
}


/* Subscribe Button
--------------------*/
.side .fancy-toggle-button a.option.active,
#authorInfoToolTip .fancy-toggle-button a.option.active,
.fancy-toggle-button .add.active,
.res #RESHoverInfoSubscriptionButton {
    background: $fancy-toggle-background-color;
}

.fancy-toggle-button a.option.active.remove {
    background: $fancy-toggle-background-color !important;
}


/* Code Block
--------------*/

.md code {
	background: $code-block-background-color !important;
	color: $code-block-text-color !important;
}

 .md pre {
	background: $pre-block-background-color !important;
}

/* Reddit Gold 
---------------*/

/* Comment highlights */
.new-comment .usertext-body {
    background: $reddit-gold-comment-highlight;
}

/* Comments
------------*/

.res.res-commentBoxes .comment,
.comment {
	overflow: hidden;
	margin-bottom: 0 !important;
	border: 1px solid $sidebar-background-color !important;
	border-right: 0 !important;
	border-bottom: 0 !important;
	padding: 0 !important;
	padding-top: 8px !important;
}

.res.res-commentBoxes .comment {
	@include border-image(linear-gradient(to right, rgba(0,0,0,0.1) 500px, rgba(0,0,0,0.0) 100%) 42% 1% !important);
}

.res-nightmode .md h1,
.res-nightmode .md h2,
.res-nightmode .md h3,
.res-nightmode .md h4,
.res-nightmode .md strong {
	color: $nightmode-header-text-color;
}

.morechildren, .deleted.comment {
	@include border-image(linear-gradient(to right, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.0) 100%) 42% 1% !important);
}

.usertext.border .usertext-body {
	background: $usertext-body-background-color !important;
	border: 2px dashed $usertext-body-border-color;
	margin-bottom: 5px;
}

.md p {
	max-width: 840px;
}


/* Search box
--------------*/

#search input[type=text] {
	background: $content-background-color;
	border: 1px solid $tab-menu-option-border-color !important;
}

/* Score
---------*/

body span.score {
	color: $title-box-text-color;
	font-weight: bold;
}

/* Self text
------------*/
.link .usertext-body .md {
	background: $self-text-background-color;
	border: 1px solid $self-text-border-color !important;
	max-width: 860px !important;
}

/* User Help
-------------*/

.usertext .help-toggle, .usertext .help-toggle a, .usertext a.reddiquette {
	margin-left: 3px !important;
	border-right-width: 1px !important;
}

/* Block Quotes
----------------*/

.md blockquote {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 0em !important;
}

/* Flexbox-ify Listing Page 
----------------*/
.listing-page #siteTable .link {
  display: flex;
  position: relative;
  align-items: center;
}

.listing-page #siteTable .link > .midcol {
  position: relative;
  display: inline-block;
  top: 50%;
  overflow: visible;
  margin: 0;
  margin-right: 10px;
}

.listing-page #siteTable .link > .thumbnail {
  margin-right: 15px;
}

.listing-page #siteTable .link > .entry {
  margin-left: 0;
  align-self: stretch;
  flex-grow: 1;
  border: 1px solid transparent;
}

.listing-page #siteTable .link > .entry a.subreddit {
  margin: 0 0 0 3px;
  line-height: 16px;
}


.arrow.downmod {
    overflow: visible;
}

.thing.comment .midcol.dislikes {
    padding-bottom: 15px;
}

.thing.comment .downmod:focus:after {
    color: #0000e5;
}

.thing.comment .upmod:focus:after {
    color: #e66060;
}

.thing.comment .downmod:focus:after, .thing.comment .upmod:focus:after {
    content: "";
    width: 60px;
    height: 43px;
    font-size: 9px;
    font-weight: normal;
    text-shadow: 0px 0px 1px #333333;
    position: relative;
    top: 0px;
    opacity: 0;
    -webkit-animation-name: DeathKnell;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-name: DeathKnell;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-delay: 0.2s;
    -moz-animation-iteration-count: 1;
    -o-animation-name: DeathKnell;
    -o-animation-duration: 2s;
    -o-animation-timing-function: ease-out;
    -o-animation-delay: 0.2s;
    -o-animation-iteration-count: 1;
    -ms-animation-name: DeathKnell;
    -ms-animation-duration: 2s;
    -ms-animation-timing-function: ease-out;
    -ms-animation-delay: 0.2s;
    -ms-animation-iteration-count: 1;
    animation-name: DeathKnell;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
}

.thing.comment .upmod:focus:after {
    animation-name: DeathKnellUp;
    -ms-animation-name: DeathKnellUp;
    -o-animation-name: DeathKnellUp;
    -moz-animation-name: DeathKnellUp;
    -webkit-animation-name: DeathKnellUp;
}

@keyframes DeathKnell {
    8% {
        top: 5px;
        opacity: 1
    }
    15% {
        top: 10px
    }
    40% {
        opacity: 1
    }
    50% {
        top: 15px
    }
    100% {
        top: 20px;
        opacity: 0
    }
}

@-webkit-keyframes DeathKnell {
    8% {
        top: 5px;
        opacity: 1
    }
    15% {
        top: 10px
    }
    40% {
        opacity: 1
    }
    50% {
        top: 15px
    }
    100% {
        top: 20px;
        opacity: 0
    }
}

@-moz-keyframes DeathKnell {
    8% {
        top: 5px;
        opacity: 1
    }
    15% {
        top: 10px
    }
    40% {
        opacity: 1
    }
    50% {
        top: 15px
    }
    100% {
        top: 20px;
        opacity: 0
    }
}

@-o-keyframes DeathKnell {
    8% {
        top: 5px;
        opacity: 1
    }
    15% {
        top: 10px
    }
    40% {
        opacity: 1
    }
    50% {
        top: 15px
    }
    100% {
        top: 20px;
        opacity: 0
    }
}

@keyframes DeathKnellUp {
    8% {
        top: 2px;
        opacity: 1
    }
    15% {
        top: -5px
    }
    40% {
        opacity: 1
    }
    50% {
        top: -10px
    }
    100% {
        top: -15px;
        opacity: 0
    }
}

@-webkit-keyframes DeathKnellUp {
    8% {
        top: 2px;
        opacity: 1
    }
    15% {
        top: -5px
    }
    40% {
        opacity: 1
    }
    50% {
        top: -10px
    }
    100% {
        top: -15px;
        opacity: 0
    }
}

@-moz-keyframes DeathKnellUp {
    8% {
        top: 2px;
        opacity: 1
    }
    15% {
        top: -5px
    }
    40% {
        opacity: 1
    }
    50% {
        top: -10px
    }
    100% {
        top: -20px;
        opacity: 0
    }
}

@-o-keyframes DeathKnellUp {
    8% {
        top: -2px;
        opacity: 1
    }
    15% {
        top: -5px
    }
    40% {
        opacity: 1
    }
    50% {
        top: -10px
    }
    100% {
        top: -20px;
        opacity: 0
    }
}

.thing[data-fullname$="a"].comment .downmod:focus:after,
.thing[data-fullname$="e"].comment .downmod:focus:after,
.thing[data-fullname$="k"].comment .downmod:focus:after,
.thing[data-fullname$="p"].comment .downmod:focus:after,
.thing[data-fullname$="r"].comment .downmod:focus:after,
.thing[data-fullname$="w"].comment .downmod:focus:after,
.thing[data-fullname$="z"].comment .downmod:focus:after,
.thing[data-fullname$="7"].comment .downmod:focus:after,
.thing[data-fullname$="0"].comment .downmod:focus:after {
    content: "Tariffs!"
}

.thing[data-fullname$="b"].comment .downmod:focus:after,
.thing[data-fullname$="f"].comment .downmod:focus:after,
.thing[data-fullname$="j"].comment .downmod:focus:after,
.thing[data-fullname$="o"].comment .downmod:focus:after,
.thing[data-fullname$="u"].comment .downmod:focus:after,
.thing[data-fullname$="v"].comment .downmod:focus:after,
.thing[data-fullname$="x"].comment .downmod:focus:after,
.thing[data-fullname$="4"].comment .downmod:focus:after,
.thing[data-fullname$="6"].comment .downmod:focus:after,
.thing[data-fullname$="9"].comment .downmod:focus:after {
    content: "Tariffs..."
}

.thing[data-fullname$="c"].comment .downmod:focus:after,
.thing[data-fullname$="g"].comment .downmod:focus:after,
.thing[data-fullname$="l"].comment .downmod:focus:after,
.thing[data-fullname$="n"].comment .downmod:focus:after,
.thing[data-fullname$="q"].comment .downmod:focus:after,
.thing[data-fullname$="s"].comment .downmod:focus:after,
.thing[data-fullname$="2"].comment .downmod:focus:after,
.thing[data-fullname$="3"].comment .downmod:focus:after {
    content: "TARIFFS"
}

.thing[data-fullname$="d"].comment .downmod:focus:after,
.thing[data-fullname$="h"].comment .downmod:focus:after,
.thing[data-fullname$="i"].comment .downmod:focus:after,
.thing[data-fullname$="m"].comment .downmod:focus:after,
.thing[data-fullname$="t"].comment .downmod:focus:after,
.thing[data-fullname$="y"].comment .downmod:focus:after,
.thing[data-fullname$="1"].comment .downmod:focus:after,
.thing[data-fullname$="5"].comment .downmod:focus:after,
.thing[data-fullname$="8"].comment .downmod:focus:after {
    content: "Fuck Populism!";
    font-size: 0.9em;
}

.thing[data-fullname$="a"].comment .upmod:focus:after,
.thing[data-fullname$="e"].comment .upmod:focus:after,
.thing[data-fullname$="k"].comment .upmod:focus:after,
.thing[data-fullname$="p"].comment .upmod:focus:after,
.thing[data-fullname$="r"].comment .upmod:focus:after,
.thing[data-fullname$="w"].comment .upmod:focus:after,
.thing[data-fullname$="z"].comment .upmod:focus:after,
.thing[data-fullname$="7"].comment .upmod:focus:after,
.thing[data-fullname$="0"].comment .upmod:focus:after {
    content: "FREE TRADE"
}

.thing[data-fullname$="b"].comment .upmod:focus:after,
.thing[data-fullname$="f"].comment .upmod:focus:after,
.thing[data-fullname$="j"].comment .upmod:focus:after,
.thing[data-fullname$="o"].comment .upmod:focus:after,
.thing[data-fullname$="u"].comment .upmod:focus:after,
.thing[data-fullname$="v"].comment .upmod:focus:after,
.thing[data-fullname$="x"].comment .upmod:focus:after,
.thing[data-fullname$="4"].comment .upmod:focus:after,
.thing[data-fullname$="6"].comment .upmod:focus:after,
.thing[data-fullname$="9"].comment .upmod:focus:after {
    content: "CORN!"
}

.thing[data-fullname$="c"].comment .upmod:focus:after,
.thing[data-fullname$="g"].comment .upmod:focus:after,
.thing[data-fullname$="l"].comment .upmod:focus:after,
.thing[data-fullname$="n"].comment .upmod:focus:after,
.thing[data-fullname$="q"].comment .upmod:focus:after,
.thing[data-fullname$="s"].comment .upmod:focus:after,
.thing[data-fullname$="2"].comment .upmod:focus:after,
.thing[data-fullname$="3"].comment .upmod:focus:after {
    content: "Wage Growth"
}

.thing[data-fullname$="d"].comment .upmod:focus:after,
.thing[data-fullname$="h"].comment .upmod:focus:after,
.thing[data-fullname$="i"].comment .upmod:focus:after,
.thing[data-fullname$="m"].comment .upmod:focus:after,
.thing[data-fullname$="t"].comment .upmod:focus:after,
.thing[data-fullname$="y"].comment .upmod:focus:after,
.thing[data-fullname$="1"].comment .upmod:focus:after,
.thing[data-fullname$="5"].comment .upmod:focus:after,
.thing[data-fullname$="8"].comment .upmod:focus:after {
    content: "Praise Robert Peel!"
}
