/***************************
 *   r/neoliberal Flairs   *
 ***************************/

$text-flairs: (
	red: #cc2222,
	green: #22bb22,
	blue: #003497,
	gray: rgba(0, 0, 0, 0.5)
);

/* ORDER MATTERS */
$image-flairs:
	blair,
	brown,
	clegg,
	clinton,
	erhard,
	keating,
	khama,
	macron,
	obama,
	osborne,
	thatcher,
	tusk,
	yew,
	eu,
	nato,
	wto,
	commonwealth,
	un,
	acemoglu,
	autor,
	bernanke,
	carney,
	fama,
	friedman,
	george,
	goolsbee,
	hayek,
	heckman,
	keynes,
	krugman,
	mankiw,
	sen,
	yellen,
	hrclinton,
	merkel,
	verhofstadt,
	kant,
	volcker,
	sumner,
	lagarde,
	greenspan,
	mill,
	singh,
	aziz,
	douglas,
	indrawati,
	juncker,
	locke,
	montesquieu,
	okonjoiweala,
	peel,
	smith,
	wollstonecraft,
	globe,
	trudeau,
	rockefeller,
	au,
	stalin,
	trump,
	worldbank,
	imf,
	soros,
	foucault,
	fdr
;

$icon-flairs:
	beer,
	code,
	globe,
	lightbulb,
	magic,
	megaphone,
	writer,
	biohazard,
	beaker,
	skull
;

// Flairs in this list will be overridden.
$clear-flairs:
	hrclinton
;

.flair,
.linkflairlabel {
	vertical-align: middle;
	margin: -1px 6px 0 6px;
	max-width: none;
	border: 0;
	border-radius: 0;
}

.flair {
	font-size: 11px !important;
}

.linkflairlabel {
	font-size: 10px;
	font-weight: 700;
	background-color: $link-flair-background-color !important;
	color: $link-flair-text-color !important;
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 0px;
}

.tagline .flair::after {
  position: relative;
  top: calc(50% - 7px);
}

.tagline .flair-text {
  height: 20px;
}

.flair,
[href^="#flair"] {
	display: inline-block;
	font-size: 0 !important;
	background: none;
}

[href^="#flair"] {
	cursor: default;
}

[href^="#flair"]:after {
	content: "?";
}

[class$="-img"],
[href$="-img"] {
	background: url(%%flairs%%) no-repeat;
	background-size: 36px calc(0.4 * #{length($image-flairs) * 100}px);
	min-width: 36px;
	height: 40px;
	text-indent: 38px;
	padding-top: 12px;
	border: none !important;
}

.flair {
	position: relative;
	line-height: 40px;
	font-weight: bold;
	color: #fff;
	z-index: 0;
	text-indent: 44px;
	margin: 0 2px;
	padding: 0;
}

.flair::after {
	content: none;
}

.flair::before {
	content: "";
	position: absolute;
	width: calc(100% - 36px);
	height: 16px;
	display: block;
	left: 40px;
	top: calc(50% - 8px);
	z-index: -1;
}

[class*="flair-text"],
[href|="#flair-text"] {
	font-size: 10px !important;
	margin-right: 10px;
}

[href*="#flair-text"]:after {
	content: attr(title);
	font-size: 10px;
	background-color: $sidebar-border-color !important;
	color: $title-box-text-color !important;
	font-weight: bold;
	padding: 2px 3px;
	border-radius: 0px;
}

[class*="flair-text"][class*="icon"] {
	margin-right: 38px;
}

[class*="flair-text"][class*="icon"]:after {
	content: " ";
	background-image: url(%%flairicons%%);
	width: 24px;
	height: 24px;
	position: absolute;
	margin-left: 10px;
	top: 50%;
	background-size: cover;
	transform: translateY(-50%); 
}

@each $iconKey in $icon-flairs {
	$offset: -24 * (index($icon-flairs, $iconKey) - 1);

	[class*="flair-text"][class*="-icon-#{$iconKey}"]:after {
		background-position: 0 #{$offset}px;
	}
}

@each $key, $flairColor in $text-flairs {
	[class*="flair-text-#{$key}"]:not([class*="img"]) {
		text-indent: 3px;
		line-height: 20px;
	}

	[class*="flair-text-#{$key}"]:not([class*="img"]):before {
		width: calc(100% - -3px);
        left: 0;
        text-indent: 4px;
	}

	.tagline [class*="flair-text-#{$key}"]:not([class*="img"]) {
		height: 20px;
	}
	
	[class*="flair-text-#{$key}"]:before,
	[href*="#flair-text-#{$key}"]:before {
		background-color: $flairColor !important;
	}
}

@each $flair in $image-flairs {
	$offset: -100 * (index($image-flairs, $flair) - 1);
	
	[class$="-#{$flair}-img"],
	[href$="-#{$flair}-img"] {
		background-position: 0 calc(0.4 * #{$offset}px);
	}
}

@each $flair in $clear-flairs {
	[class$="-#{$flair}-img"],
	[href$="-#{$flair}-img"] {
		background: none;
  	text-indent: 3px;
	}

	[class$="-#{$flair}-img"]:before,
	[href$="-#{$flair}-img"]:before {
		left: 0;
		width: calc(100% - -4px);
	}
}

body.listing-page div.content .flair {
	display:none;
}

/* Night Mode */

.res-nightmode .flair, .res-nightmode .linkflairlabel {
	color: $nightmode-link-flair-text-color;
	background-color: transparent !important;
	border-color: none !important;
}
