$submit-link: "submit link";
$submit-text: "submit text";

$thumbnail-label-stickied: "stickied";
$thumbnail-label-nsfw: "nsfw";
$thumbnail-label-self: "self";
$thumbnail-label-link-reddit: "reddit";

$userattr-hover-moderator: "oderator, speaking officially";
$userattr-hover-submitter: "ubmitter";
$userattr-hover-admin: "dmin, speaking officially";

$submissions-disabled-text: "submissions restricted";

$subscribe-button-text: "subscribe";
$unsubscribe-button-prefix: "un";

$subreddit-theme-citation: "subreddit theme: /r/Apicem by /u/Cereal_Addict with edits by /r/neoliberal";