/* "No Participation"-Mode, aka "Read Only"-Mode
 * (Also subscribers-version)
 * /r/NoParticipation
 * 
 * Link people to np.reddit.com/r/YourSubreddit to show them a read-only version.
 * This is of course by no means fool-proof, but it should work for the average user.
 *  */

body:lang(np) .arrow {
    visibility: hidden !important;
}

body:lang(np) .usertext-edit,
body:lang(np) .sidebox.submit,
body:lang(np) .commentingAs,
body:lang(np) .markdownEditor,
body:lang(np) a[onclick*="return reply(this)"],
body:lang(np) .helplink {
    display: none !important;
}

body:lang(np) #siteTable:before {
    content: "You have been linked to a read-only version of this subreddit. Please respect the community by not voting.";
    display: block;
    max-width: 800px;
    background-color: #F6E69F;
    padding: 5px 10px;
    margin: 5px 305px 5px 0px;
    border: 1px solid orange;
    font-size: small;
}

body:lang(np) .entry.likes:not(.reddit-entry):before,
body:lang(np) .entry.dislikes:not(.reddit-entry):before {
    content: "Please do not vote or comment when you come from external subreddits.";
    color: red;
    font-size: large;
    font-weight: bold;
}


/* Wiki protection */

body.wiki-page:lang(np) span.pageactions a.wikiaction-edit:not(.wikiaction-current),
body.wiki-page:lang(np) div.wiki-page-content form#editform label[for='reason'],
body.wiki-page:lang(np) div.wiki-page-content form#editform input#wiki_revision_reason,
body.wiki-page:lang(np) div.wiki-page-content form#editform input[type='submit'] {
    display: none !important;
}
