.user-override-disclaimer {
	color: $post-disclaimer-background-color;
	font-style: italic;
	border-top: 1px dashed $post-disclaimer-divider-color;
	padding: 3px 5px;
	margin-top: 1px;
	margin-bottom: 5px;
	display: block;
	text-transform: uppercase;
	font-weight: 800;
}

@import "post-tags";