/* Tablets
----------------*/
@media screen and (max-width: 1024px) {
  body {
    max-width: 100%; 
    overflow-x: hidden;
  }
  .comments-page .side {
    display: none;
  }

  body>.content:before {
    margin-right: -10px;
  }

  body.comments-page > .content,
  .res.res-commentBoxes body>.content {
    width: 100%;
  }

  .link .usertext-body .md {
    max-width: 100%;
  }


 #header .tabmenu:hover {
    box-shadow: none;
  }

  #header .tabmenu {
    padding: 0;
    height: 50px;
    display: flex;
    align-items: center;
    max-width: calc(100% - 450px);
    overflow-x: auto;
  }

  #header .tabmenu li, 
  #header .tabmenu li.selected {
    position: relative;
    opacity: 1;
    display: inline;
    background: none;
    padding: 0;
  }

  #header .tabmenu:hover li.selected {
    background: none;
    padding: 0;
  }

  #header .tabmenu:hover li.selected a,
  #header .tabmenu:hover li a,
  #header .tabmenu li a {
    display: inline;
    background: none;
    color: $secondary-text-color;
    line-height: normal;
    border-top: none;
  }

  #header .tabmenu li.selected a {
    line-height: normal;
  }

  #header .tabmenu li.selected a::after {
    display: none;
  }

  #header .tabmenu li:last-of-type {
    padding: 0;
  }
}
