/***************************
 *   r/neoliberal Flairs   *
 ***************************/

$text-flairs: (
	red: #cc2222,
	green: #22bb22,
	blue: #003497,
	gray: rgba(0, 0, 0, 0.5)
);

$image-flairs: (
	blair: 0
	brown: 1
	clegg: 2,
	clinton: 3,
	erhard: 4,
	keating: 5,
	khama: 6,
	macron: 7,
	obama: 8,
	osborne: 9,
	thatcher: 10,
	tusk: 11,
	yew: 12,
	eu: 13,
	nato: 14,
	wto: 15,
	commonwealth: 16,
	un: 17,
	acemoglu: 18,
	autor: 19,
	bernanke: 20,
	carney: 21,
	fama: 22,
	friedman: 23,
	george: 24,
	goolsbee: 25,
	hayek: 26,
	heckman: 27,
	keynes: 28,
	krguman: 29,
	mankiw: 30,
	sen: 31,
	yellen: 32,
	hrclinton: 33,
	merkel: 34,
	verhofstadt: 35,
	kant: 36,
	volcker: 37,
	sumner: 38,
	lagarde: 39,
	greenspan: 40,
	mill: 41,
	singh: 42,
	aziz: 43,
	douglas: 44,
	indrawati: 45,
	juncker: 46,
	locke: 47,
	montesquieu: 48,
	okojoiweala: 49,
	peel: 50,
	smith: 51,
	wollstonecrat: 52,
	globe: 53,
	trudeau: 54,
	rockefeller: 55,
	au: 56,
	stalin: 57,
	trump: 58,
	worldbank: 59,
	imf: 60,
	soros: 61,
	foucault: 62
);

.flair,
.linkflairlabel {
	vertical-align: middle;
	margin: -1px 6px 0 6px;
	max-width: none;
	border: 0;
	border-radius: 0;
}

.flair {
	font-size: 11px !important;
}

.linkflairlabel {
	font-size: 10px;
	font-weight: 700;
	background-color: $link-flair-background-color !important;
	color: $link-flair-text-color !important;
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 0px;
}

.tagline .flair::after {
  position: relative;
  top: calc(50% - 7px);
}

.tagline .flair-text {
  height: 20px;
}

.flair,
[href^="#flair"] {
	display: inline-block;
	font-size: 0 !important;
	background: none;
}

[href^="#flair"] {
	cursor: default;
}

[href^="#flair"]:after {
	content: "?";
}

[class$="-img"],
[href$="-img"] {
	background: url(%%flairs%%) no-repeat;
	background-size: 36px calc(0.4 * 6300px);
	min-width: 36px;
	height: 40px;
	text-indent: 38px;
	padding-top: 12px;
	border: none !important;
}

@each $key, $value in $text-flairs {
	.flair-text-#{$key} {
		text-indent: 3px;
		line-height: 20px;
	}

	.flair-text-#{$key}:before {
		width: calc(100% - -3px);
    left: 0;
    text-indent: 4px;
	}

	.tagline .flair-text-#{$key} {
		height: 20px;
	}
	
	[class*="flair-text-#{$key}"]:before,
	[href*="#flair-text-#{$key}"]:before {
		background-color: $value !important;
	}
}

.flair {
	position: relative;
	line-height: 40px;
	font-weight: bold;
	color: #fff;
	z-index: 0;
	text-indent: 44px;
	margin: 0 2px;
	padding: 0;
}

.flair::after {
	content: none;
}

.flair::before {
	content: "";
	position: absolute;
	width: calc(100% - 36px);
	height: 17px;
	display: block;
	left: 40px;
	top: calc(50% - 8px);
	z-index: -1;
}

[class*="flair-text"],
[href|="#flair-text"] {
	font-size: 10px !important;
	margin-right: 10px;
}

[href*="#flair-text"]:after {
	content: attr(title);
	font-size: 10px;
	background-color: $sidebar-border-color !important;
	color: $title-box-text-color !important;
	font-weight: bold;
	padding: 2px 3px;
	border-radius: 0px;
}

@each $key, $value in $image-flairs {
	[class$="-#{$key}-img"],
	[href$="-#{$key}-img"] {
    background-position: 0 calc(0.4 * (-100 * $value)px);
	}
}



/* Night Mode */

.res-nightmode .flair, .res-nightmode .linkflairlabel {
	color: $nightmode-link-flair-text-color;
	background-color: transparent !important;
	border-color: none !important;
}