.flairselector .flairthrobber {
	margin-top: 5px;
}

.flairselector h2 {
	margin-bottom: 10px;
	background: 0;
}

.side .flairselector h2 {
	text-align: left;
}

.flairselector .error {
	text-align: left;
}

.flairoptionpane {
	margin-bottom: 10px;
	text-align: left;
}

.content .flairselector ul {
	width: 100% !important;
	max-width: none;
	padding: 6px;
}

.content .flairselector .linkflair {
	text-align: center;
}

.flairselector li,
body .entry .buttons .flairselector li,
.flairselector li:hover,
.flairselector li.selected {
	border: 0;
	padding: 5px;
}

.flairselector li:hover {
	background: $link-info-border-color
}

.flairoptionpane a.title,
.flairselector li a.author {
	display: none;
}

.flairselector form {
	border-top: 1px solid $link-info-border-color;
}

.flair-settings+.tabmenu {
	font-size: 12px
}

.flair-settings+.tabmenu li {
	font-weight: 400;
}

.flair-settings+.tabmenu li a {
	background: 0;
}

.flair-settings+.tabmenu li.selected a {
	border: 0;
	color: $upvote-info-text-color;
}

.flair-jump button {
	vertical-align: top;
	margin-left: 10px
}