
.wiki-page > .content[role="main"] > span {
	display: block;
	margin-top: 10px;
}

.wiki-page .wikititle {
	display: inline-block;
	margin-left: 10px;
}

.wiki-page .wiki-page-content {
	display: block;
	margin: 10px;
}

.wiki-page .wiki-page-content .discussionlink a {
  padding: 0 10px;
  font-size: 10px;
  width: auto;;
}

.wiki-page .wiki-page-content .discussionlink a:hover {
  text-indent: 0;
}

.wiki-page .wiki-page-content .discussionlink a:hover::after {
  content: none;
}

.wiki-page .pageactions {
	border: 0;
}

.wiki-page .pageactions .wikiaction {
	border-radius: 0;
}

.wiki-page .pageactions .wikiaction-current,
.wiki-page .pageactions .wikiaction:hover {
	background: $link-info-border-color;
}

.wiki-page .wiki-page-content .wiki>.toc>ul {
	border: 1px solid $link-info-border-color
}