.stylesheet-customize-container {
    @include display-flex();
    flex-direction: column;
    padding: $stylesheet-page-vertical-spacing $stylesheet-page-horizontal-spacing;
    .sheets,
    h2,
    #stylesheet_contents+div,
    #RESStyleSheetTipPane,
    ul.image-preview-list {
        margin: 0;
        padding: $stylesheet-page-vertical-spacing 0;
    }
    h2,
    #RESStyleSheetTipPane-header {
        font-size: 1em;
        text-transform: uppercase;
        color: $stylesheet-page-header-text-color;
        font-family: $future-font;
        letter-spacing: 0.05em;
        font-weight: 600;
        a {
            color: inherit;
        }
    }
    #RESStyleSheetTipPane {
        width: 100%;
        border: 0;
        #RESStyleSheetTipPane-header {
            padding: 0;
        }
    }
    #stylesheet_contents+div {
        @include display-flex();
        justify-content: flex-start;
        align-items: center;
        text-transform: uppercase;
    }
    ul.image-preview-list {
        @include display-flex();
        flex-wrap: wrap;
        li {
            width: 50%;
            @include display-flex();
            align-items: center;
            justify-content: flex-start;
            .description {
                padding-left: $stylesheet-page-vertical-spacing;
            }
        }
    }
}