$future-font: Futura, "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", "Trebuchet MS", Arial, sans-serif;
$base-font: "Open Sans", Arial, sans-serif;
$header-font: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
$base-font-weight: 400;

$base-font-size: 12px;
$base-letter-spacing: 0.05em;

$header-font-size: 1em;

$announcement-font-size: 1.2em;
$announcement-font-weight: 400;
$announcement-bold-font-weight: 600;
$announcement-letter-spacing: $base-letter-spacing;

$sidebar-button-font-size: 1em;
$sidebar-button-font-weight: 500;
$sidebar-button-letter-spacing: $base-letter-spacing;

$toolbox-bar-font-size: $base-font-size;

$np-font-size: 1.2em;
$np-font-weight: 600;
$np-letter-spacing: $base-letter-spacing;