$body-spacing: 2rem;

$topbar-height: 4rem;
$header-height: 30rem;
$bottombar-height: 4rem;
$combined-header-height: $topbar-height + $header-height + $bottombar-height;

$header-spacing: 2rem;
$header-item-spacing: 0.6rem;

$sidebar-width: 30rem;
$sidebar-spacing: 2rem;
$combined-sidebar-width: $sidebar-width + $sidebar-spacing + $sidebar-spacing;
$combined-sidebar-spacing: $body-spacing + $combined-sidebar-width;
$sidebar-item-spacing: 1rem;
$sidebar-button-height: 4rem;

$announcement-top: $body-spacing + $combined-header-height + $body-spacing;
$announcement-left: $body-spacing;
$announcement-right: $combined-sidebar-spacing;
$announcement-height: 5rem;
$announcement-spacing: 2rem;

$content-top: $announcement-height + $body-spacing;
$content-spacing: $combined-sidebar-spacing;

$link-spacing: $body-spacing;

$flairsheet-flair-width: 92px;
$flairsheet-flair-height: 100px;
$flair-image-scale-factor: 0.4;
$flair-image-height: $flairsheet-flair-height * $flair-image-scale-factor;
$flair-image-width: $flairsheet-flair-width * $flair-image-scale-factor;
$flair-text-height: 20px;
$flair-text-padding: 6px;
$flair-text-spacing: 3px;
$flair-image-padding: 3px;

$message-count-bottom: $body-spacing;
$message-count-height: 6rem;
$message-count-width: 30vw;
$message-count-text-size: 1.2rem;

$stylesheet-page-horizontal-spacing: 2rem;
$stylesheet-page-vertical-spacing: 1rem;

$toolbox-bar-height: 4rem;
$toolbox-bar-spacing: $body-spacing;
$toolbox-bar-item-spacing: 0.3rem;

$np-height: 4rem;
$np-vertical-spacing: 2rem;

$footer-spacing: 2rem;