$announcement-text: "Announcements:";

$sidebar-text: "CSS based on /r/Structura with modifcations by /r/Neoliberal";

$message-count-text: "new message(s) from Soros";

$np-message: "You have been linked to a read-only version of this subreddit. Please respect the community by not voting.";