body:lang(np):not(.subscriber) {
    .arrow {
        visibility: hidden !important;
    }
    .usertext-edit,
    .sidebox.submit,
    .commentingAs,
    .markdownEditor,
    a[onclick*="return reply(this)"],
    .subButtons,
    .helplink,
    .titlebox .fancy-toggle-button.toggle>.option.add {
        display: none !important;
    }
    #siteTable:before {
        content: $np-message;
        display: inline-flex;
        width: 100%;
        padding: 0 $np-vertical-spacing;
        color: $np-text-color;
        height: $np-height;
        align-items: center;
        text-transform: uppercase;
        font-family: $future-font;
        letter-spacing: $np-letter-spacing;
        font-weight: $np-font-weight;
        font-size: $np-font-size;
    }
   &.wiki-page {
       span.pageactions a.wikiaction-edit:not(.wikiaction-current),
       div.wiki-page-content form#editform label[for='reason'],
       div.wiki-page-content form#editform input#wiki_revision_reason,
       div.wiki-page-content form#editform input[type='submit'] {
           display: none !important;
       }
   }
}