body.mod-toolbox {
    .tb-bracket-button {
        position: absolute;
        width: 100%;
        height: 18px;
        box-sizing: border-box;
        border-width: 1px;
        left: 0;
        text-align: center;
        top: 0;
        &.global-mod-button,
        &.nuke-button {
            position: relative;
            width: 18px;
        }
        &.add-user-tag-neoliberal:not([title=""]) {
            position: relative;
        }
    }
    .history-button,
    .usernote-button {
        position: relative;
        min-width: 18px;
        height: 18px;
    }
}