body.mod-toolbox {
    .tb-bracket-button {
        @include box-sizing(border-box);
        position: relative;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        border: 0;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        display: block;
        margin-right: 0.3em;
        color: white;
        background-color: #c22;
        font-weight: 600
    }
    .usernote-button {
        margin-left: 0
    }
    .history-button {
        display: flex
    }
    div#tb-bottombar {
        background-color: $toolbox-bar-background-color;
        text-align: unset;
        @include display-flex();
        justify-content: flex-start;
        align-items: center;
        padding: 0 $toolbox-bar-spacing !important;
        border: 0;
        height: $toolbox-bar-height;
        font-size: $toolbox-bar-font-size;
        font-family: $future-font;
        color: $toolbox-bar-text-color;
        #tb-bottombar-contentleft {
            @include display-flex();
            align-items: center;
            height: auto;
            width: auto;
            line-height: unset;
            >a {
                background: transparent;
                border: 0;
                vertical-align: unset;
                height: auto;
                color: $toolbox-bar-text-color;
                text-transform: uppercase;
            }
        }
        #tb-bottombar-contentright {
            flex: 1;
            #tb-toolbarcounters {
                display: flex;
                align-items: center;
                margin: 0;
                >a {
                    margin: 0 $toolbox-bar-item-spacing;
                    text-decoration: none;
                    top: 0;
                    bottom: 0;
                }
            }
        }
    }
}

.tb-modbar-shown {
    margin-bottom: $body-spacing;
}