$header-image-offset: -87px -33px/126px 180px;

$upvote-arrow-background-position: -145px -115px;
$upvote-arrow-mod-background-position: -110px -160px;
$downvote-arrow-background-position: -180px -115px;
$downvote-arrow-mod-background-position: -75px -160px;

$header-user-icon-background-position: -40px -160px;
$header-no-mail-icon-background-position: -40px -90px;
$header-has-mail-icon-background-position: -40px -125px;
$header-modmail-icon-background-position: -5px -55px;
$header-new-modmail-icon-background-position: 0 -100px;
$header-language-icon-background-position: -110px -55px;
$header-res-preferences-icon-background-position: -110px -125px;
$header-logout-icon-background-position: -40px -55px;

$search-submit-background-offset: -75px -125px;

$more-link-icon-background-position: -110px -90px;
$help-link-icon-background-position: -40px -90px;

$sidebar-create-icon-background-position: -75px -90px;
$account-activity-box-icon-background-position: -5px -160px;

$res-account-switcher-icon-background-position: 0 -50px;
$chat-app-icon-position: 0 -150px;