/* Definitions */
$main-color: #D7695C;
$body-color: #E6E3DE;
$content-color: #F1EFED;
$footer-color: #686963;

$text-color: #333;
$text-highlight-color: #787878;
$text-light-color: #eee;

$sticky-color: #3BB273;

/* Specific Items */
$header-text-color: $text-color;
$topbar-color: $content-color;
$bottombar-color: $content-color;
$background-color: $main-color;

$announcement-background-color: $content-color;
$announcement-text-color: $text-color;
$announcement-bold-color: $main-color;

$sidebar-background-color: $content-color;

$message-count-background-color: $main-color;
$message-count-text-color: $text-light-color;

$stylesheet-page-header-text-color: $main-color;

$toolbox-bar-background-color: $content-color;
$toolbox-bar-text-color: $text-color;

$np-text-color: $main-color;