@mixin box($width, $height: $width) {
	height: $height;
	width: $width;
}

@mixin box-sizing($sizing-rule) {
	box-sizing: $sizing-rule;
}

@mixin text-size-adjust($type) {
	text-size-adjust: $type;
}

@mixin appearance($rule) {
	appearance: $rule;
}

@mixin display-flex() {
	display: flex;
}

@mixin flex-flow($rule) {
	flex-flow: $rule;
}

@mixin transform($transform) {
	transform: $transform;
}

@mixin flex($rule) {
	flex: $rule;
}

@mixin order($order) {
	order: $order;
}

@mixin border-image($rule) {
	border-image: $rule;
}

@mixin animation($rule) {
	animation: $rule;
}

@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
			@content;
	}
	@-moz-keyframes #{$animationName} {
			@content;
	}
	@keyframes #{$animationName} {
			@content;
	}
}
