$body-padding: 20px;

/* Header */
$topbar-height: 40px;
$header-height: 300px;
$bottombar-height: 40px;
$combined-header-height: $topbar-height + $header-height + $bottombar-height;

$header-spacing: 0 20px;
$header-item-spacing: 0 6px;