$body-spacing: 20px;

/* Header */
$topbar-height: 40px;
$header-height: 300px;
$bottombar-height: 40px;
$combined-header-height: $topbar-height + $header-height + $bottombar-height;

$header-spacing: 0 20px;
$header-item-spacing: 0 6px;

$sidebar-width: 300px;
$sidebar-spacing: 20px;

$announcement-top: $body-spacing + $combined-header-height + $body-spacing;
$announcement-left: $body-spacing;
$announcement-right: $body-spacing + $sidebar-width + $sidebar-spacing + $sidebar-spacing;
$announcement-height: 40px;
$announcement-spacing: 20px;
