$body-spacing: 20px;

/* Header */
$topbar-height: 40px;
$header-height: 300px;
$bottombar-height: 40px;
$combined-header-height: $topbar-height + $header-height + $bottombar-height;

$header-spacing: 20px;
$header-item-spacing: 6px;

$sidebar-width: 300px;
$sidebar-spacing: 20px;
$combined-sidebar-spacing: $body-spacing + $sidebar-width + $sidebar-spacing + $sidebar-spacing;

$announcement-top: $body-spacing + $combined-header-height + $body-spacing;
$announcement-left: $body-spacing;
$announcement-right: $combined-sidebar-spacing;
$announcement-height: 50px;
$announcement-spacing: 20px;

$content-top: $announcement-height + $body-spacing;
$content-spacing: $combined-sidebar-spacing;

$link-spacing: $body-spacing;

$message-count-bottom: $body-spacing;
$message-count-height: 60px;
$message-count-width: 30vw;
$message-count-text-size: 12px;