$font-family: -apple-system, BlinkMacSystemFont, Helvetica, "Roboto", Arial, "Lucida Grande", sans-serif;
$code-block-font-family: "Courier New", monospace;

$sidebar-text: "CSS based on /r/Structura with modifcations by /r/Neoliberal";