/* Header
----------------*/
#header {
	@include order(-1);
	margin: 30px 0 0;
	width: 100%;
	height: 160px;
	border: 0;
	background-color: $header-background-color;
	background-image: linear-gradient(rgba(50,58,71,.15) 32%,rgba(50,58,71,.55)), url(%%header%%);
	background-position: left top;
	background-size: cover;
	overflow-x: hidden;
}

#header:after {
	position: absolute;
	z-index: -1;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: $header-action-overlay-color;
	content: ""
}
#sr-header-area {
	position: absolute;
	top: -30px;
	left: -30px;
	width: calc(100% - -30px);
	height: 30px;
	border: 0;
	background: #fff;
	white-space: nowrap;
	font-size: 9px;
	color: $reddit-top-bar-background-color;
}

#sr-header-area #srLeftContainer {
	margin: 0;
	padding: 0
}

#sr-header-area .separator,
#sr-header-area .srSep {
	display: none
}

#sr-header-area #srLeftContainer,
#sr-header-area #RESShortcutsViewport,
#sr-header-area #RESShortcutsEditContainer {
	max-height: none
}

#sr-header-area #srLeftContainer {
	display: inline-block;
}

#sr-header-area .sr-list {
	height: 30px;
}

#sr-header-area ul.flat-list.sr-bar,
#sr-header-area #srLeftContainer {
	display: inline-block;
	position: relative;
	top: 5px;
	height: 20px;
	line-height: 20px;
}

#sr-header-area ul.flat-list.sr-bar:nth-of-type(1),
#sr-header-area #srLeftContainer {
	margin-right: 12px;
	border-right: 1px solid $reddit-top-bar-spacer-color;
	padding-right: 12px;
}

#sr-header-area #RESShortcutsViewport {
	display: inline-block;
	position: relative;
	top: 5px;
}

#sr-header-area #RESShortcuts {
	padding: 0;
}

#sr-header-area .dropdown.srdrop {
	padding: 0;
}

#sr-header-area .dropdown.srdrop .selected {
	margin-top: 5px;
	margin-right: 0;
	height: 20px;
	padding: 0 6px;
	background: 0;
	line-height: 20px;
}

.dropdown.lightdrop .selected {
	padding-right: 0;
}

#sr-header-area .dropdown.srdrop .selected,
#sr-header-area #srDropdown {
	margin-left: 12px;
	font-size: 0 !important;
	vertical-align: top;
}

#sr-header-area .dropdown.srdrop .selected:after,
#sr-header-area #srDropdown #srDropdownContainer a:after {
	vertical-align: middle;
	font-size: 18px;
	content: "≡";
}

#sr-header-area #srDropdown #srDropdownContainer a {
    letter-spacing: inherit
}

#sr-header-area a {
	display: inline-block;
	height: 20px;
	padding: 0 6px;
	line-height: 20px;
	letter-spacing: .5px;
	color: $reddit-top-bar-link-color;
}

#sr-header-area a:not(#sr-more-link):hover,
#sr-header-area .dropdown.srdrop .selected:hover,
#header #sr-header-area .selected a,
.res #sr-header-area a.RESShortcutsCurrentSub {
	background: $reddit-top-bar-link-hover-background-color;
	font-weight: 400;
	color: $reddit-top-bar-link-hover-text-color !important;
}

#header #sr-header-area .sr-bar a.gold:hover {
	font-weight: 700;
}

#sr-header-area .sr-bar .separator {
	display: none;
}

#sr-header-area .drop-choices.srdrop,
.res #srList,
.res #RESSubredditGroupDropdown {
	top: 30px !important;
	margin-left: 0;
	box-shadow: 0 0 10px $res-dialog-drop-shadow-color;
	border: 0;
	padding: 10px!important;
	background: $reddit-top-bar-link-color;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-size: 9px;
}

#sr-header-area .drop-choices.srdrop {
	top: 30px !important;
}

#sr-header-area .drop-choices.srdrop a,
.res #srList tr,
.res #RESSubredditGroupDropdown li a {
	height: 30px;
	padding: 0 10px;
	border-top: solid 1px $drop-choices-border-color;
	border-bottom: 0;
	line-height: 30px;
	color: $secondary-text-color;
}

#sr-header-area .drop-choices.srdrop:before,
.res #srList thead td:nth-of-type(1) {
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 700;
	color: $drop-choices-icon-color;
	content: "YOUR SUBREDDITS";
}

#sr-header-area .drop-choices.srdrop:before {
	padding: 0 50px 0 10px
}

body #header #sr-header-area .srdrop+.drop-choices.srdrop a.choice:hover,
.res #srList tbody tr:hover a,
.res #RESSubredditGroupDropdown li a:hover,
.res #RESSubredditGroupDropdown .RESShortcutsEditButtons .res-icon:hover,
.res #RESSubredditGroupDropdown .RESShortcutsCurrentSub a,
#autocomplete_dropdown .selectedItem {
	font-weight: 400;
	color: $drop-choices-hover-text-color !important;
}

a#sr-more-link,
.res #RESShortcutsEditContainer {
	display: flex;
	margin-top: 5px;
	width: auto;
	height: 20px;
	border-left: 1px solid $more-link-border-color;
	padding-left: 12px;
	background: $more-link-background-color;
}

#sort-menu p {
	margin-bottom: 5px;
	color: #fff;
}

#header .pagename {
	position: absolute;
	top: 25px;
	left: 25px;
	margin: 0;
	width: auto;
	height: 30px;
	line-height: 30px;
	text-align: center;
	letter-spacing: -10px;
	font-size: 0;
	font-weight: 700;
}


#header .pagename a {
	background-color: transparent;
	display: block;
	font-size: 0px;
	letter-spacing: 10px;
	color: $page-name-text-color;
	padding-top: 129px;
	overflow: hidden;
	white-space: nowrap;
	text-transform: lowercase;
	text-indent: 20px;
	height: 297px;
	width: 300px;
	border-radius: 1000px;
	text-shadow: -1px 1px 3px $page-name-text-shadow-color !important;
}

#header .pagename:after {
	margin-left: 25px;
	white-space: nowrap;
	letter-spacing: 6px;
	font-size: 12px;
	font-weight: 400;
	vertical-align: top;
	color: $button-default-text-color;
	display: inline-block;
}

#header #header-img {
	position: absolute;
	left: 25px;
	bottom: 10px;
	margin: 0;
	width: 30px;
	height: 30px;
	padding-left: 30px;
	background: url(%%spritesheet%%) $header-image-offset;
	opacity: .8;
}

#header .tabmenu {
	position: absolute;
	left: 70px;
	top: 90px;
	margin: 0;
	min-width: 210px;
	padding-top: 50px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
	transition: box-shadow .5s;
}

#header .tabmenu:hover,
#header:target .tabmenu {
	box-shadow: 0 0 10px $tab-menu-hover-box-shadow-color;
}

#header .tabmenu li {
	display: block;
	margin: 0;
	padding: 0 10px;
	background: $tab-menu-option-background-color;
	font-weight: 400;
	opacity: 0;
	transition: .3s;
}

#header .tabmenu li:last-of-type {
	padding-bottom: 10px;
}

#header .tabmenu:hover li,
#header:target .tabmenu li,
#header .tabmenu li.selected {
	opacity: 1;
}

#header .tabmenu li a {
	display: block;
	overflow: hidden;
	height: 0;
	border: 0;
	padding: 0 10px;
	line-height: 0;
	background: $tab-menu-option-background-color;
	color: transparent;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-property: height, line-height, color;
	transition-property: height, line-height, color;
}

#header .tabmenu:hover li a,
#header:target .tabmenu li a {
	height: 40px;
	border-top: 1px solid $tab-menu-option-border-color;
	line-height: 40px;
	color: $tab-menu-option-text-color;
}

#header .tabmenu li a:hover,
#header .tabmenu:hover li.selected a:hover,
#header:target .tabmenu li.selected a:hover {
	background: $tab-menu-option-hover-background-color;
}

#header .tabmenu li.selected {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 10px;
	background: 0;
}

#header .tabmenu li.selected a {
	width: 100%;
	height: 40px;
	border: 0;
	background: 0;
	line-height: 40px;
	color: $tab-menu-option-selected-text-color;
	opacity: 1;
	transition: .3s color;
}

#header .tabmenu:hover li.selected,
#header:target .tabmenu li.selected {
	background: $tab-menu-option-background-color;
}

#header .tabmenu:hover li.selected a,
#header:target .tabmenu li.selected a {
	color: $tab-menu-option-text-color;
}

#header .tabmenu li.selected a:after {
	content: " ▾";
}

#header .tabmenu:hover li.selected a:after,
#header:target .tabmenu li.selected a:after {
	color: transparent;
}

#header .tabmenu li.selected {
	padding-top: 5px;
}

#header .tabmenu:hover li.selected,
#header:target .tabmenu li.selected {
	padding-bottom: 10px;
}

#header #header-bottom-right {
	top: auto;
	bottom: 0;
	height: 62px;
	padding: 0 0 0 35px;
	background: 0;
	text-transform: uppercase;
	font-size: 11px;
	color: $tab-menu-option-selected-text-color;
	right: 1px;
}

#header:hover #header-bottom-right:after,
#header:target #header-bottom-right:after {
	opacity: 0;
	transition: .2s;
}

#header #header-bottom-right .user,
#header-bottom-right.res-userbar-toggle > .user {
	margin-left: 0;
	font-size: 0;
}

#header-bottom-right #userbarToggle,
#header-bottom-right .separator {
	display: none !important;
}

.res.res-accountSwitcher-dropDownStyle-alien #RESAccountSwitcherIconOverlay {
	display: none !important;
}

#header .beta-hint > a,
#header-bottom-right .user > a,
.res .res #RESAccountSwitcherIcon,
#header-bottom-right #mail,
#header-bottom-right #modmail,
#header-bottom-right #new_modmail,
.ChatApp__reddit-icon,
#header-bottom-right .pref-lang,
#header-bottom-right #openRESPrefs .gearIcon,
#header-bottom-right .logout a,
a#RESAnnouncementAlert {
	display: inline-block !important;
	position: relative;
	top: 0 !important;
	overflow: visible;
	vertical-align: top;
	width: 25px !important;
	height: 25px;
	background: url(%%spritesheet%%);
	font-size: 0 !important;
	transition: .2s;
}

#header #header-bottom-right .beta-hint>a,
#header-bottom-right #new_modmail,
.res .res #RESAccountSwitcherIcon,
.ChatApp__reddit-icon {
	background: url(%%spritesheet2%%);
}

#header-bottom-right .user > a {
	background-position: $header-user-icon-background-position;
}

#header-bottom-right #mail.nohavemail {
	background-position: $header-no-mail-icon-background-position;
}

#header-bottom-right #mail.havemail {
	background-position: $header-has-mail-icon-background-position;
}

#header-bottom-right #modmail {
	background-position: $header-modmail-icon-background-position;
}

#header-bottom-right #new_modmail {
	background-position: $header-new-modmail-icon-background-position;
}

#header-bottom-right .pref-lang {
	background-position: $header-language-icon-background-position;
}

#header-bottom-right #openRESPrefs .gearIcon {
	background-position: $header-res-preferences-icon-background-position;
}

#header-bottom-right .logout a {
	background-position: $header-logout-icon-background-position;
}

.beta-hint,
#header-bottom-right .user,
#header-bottom-right .flat-list.hover,
#header-bottom-right #openRESPrefs,
#header-bottom-right .logout {
	position: static;
	display: inline-block !important;
	opacity: 1;
	vertical-align: top;
	margin: 25px 25px 0 0;
	height: auto
}

#header-bottom-right .user {
	margin: 0;
}

#header-bottom-right .user>a,
.res .res #RESAccountSwitcherIcon,
#header-bottom-right #mail,
#header-bottom-right #modmail,
#header-bottom-right #new_modmail,
.ChatApp__reddit-icon,
a#RESAnnouncementAlert {
	margin: 25px 25px 0 0 !important;
}

#header #header-bottom-right .beta-hint>a {
	margin: 0;
}

#header .beta-hint>a:before,
#header-bottom-right .user>a:before,
.res .res #RESAccountSwitcherIcon:before,
#header-bottom-right #mail:before,
#header-bottom-right #modmail:before,
#header-bottom-right #new_modmail:before,
.ChatApp__reddit-icon:before,
#header-bottom-right .pref-lang:before,
#header-bottom-right #openRESPrefs .gearIcon:before,
#header-bottom-right .logout a:before,
a#RESAnnouncementAlert:before {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	left: 50%;
	@include transform(translateX(-50%));
	top: -52px;
	box-shadow: 0 0 10px $tab-menu-hover-box-shadow-color;
	padding: 0 20px;
	background: $tab-menu-option-background-color;
	white-space: nowrap;
	line-height: 30px;
	text-indent: 0;
	font-family: inherit;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	color: $tab-menu-option-text-color;
	transition: .2s;
}

#header .beta-hint>a:hover:before,
#header-bottom-right .user>a:hover:before,
.res .res #RESAccountSwitcherIcon:hover:before,
#header-bottom-right #mail:hover:before,
#header-bottom-right #modmail:hover:before,
#header-bottom-right #new_modmail:hover:before,
.ChatApp__reddit-icon:hover:before,
#header-bottom-right .pref-lang:hover:before,
#header-bottom-right #openRESPrefs .gearIcon:hover:before,
#header-bottom-right .logout a:hover:before,
a#RESAnnouncementAlert:hover:before {
	opacity: 1;
	top: -55px;
}

#header .beta-hint>a:before {
	content: "/r/Beta";
}

#header-bottom-right .user>a:before {
	content: "User Page";
}

#header-bottom-right #mail:before {
	content: "Mail";
}

#header-bottom-right #modmail:before {
	content: "Mod Mail";
}

#header-bottom-right #new_modmail:before {
	content: "New Mod Mail";
}

.ChatApp__reddit-icon:before {
	content: "Orange Chat";
}

#header-bottom-right .pref-lang:before {
	content: "Preferences";
}

#header-bottom-right #openRESPrefs .gearIcon:before {
	content: "RES Preferences";
}

#header-bottom-right .logout a:before {
	content: "Logout";
}


#header .beta-hint>a:after,
#header-bottom-right .user>a:after,
.res .res #RESAccountSwitcherIcon:after,
#header-bottom-right #mail:after,
#header-bottom-right #modmail:after,
#header-bottom-right #new_modmail:after,
.ChatApp__reddit-icon:after,
#header-bottom-right .pref-lang:after,
#header-bottom-right #openRESPrefs .gearIcon:after,
#header-bottom-right .logout a:after,
a#RESAnnouncementAlert:after {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	top: -22px;
	left: calc(50% - 6px);
	width: 12px;
	height: 1px;
	border: 6px solid transparent;
	border-bottom-width: 0;
	border-top-color: $res-dialog-background-color;
	content: "";
	transition: .2s;
}

#header .beta-hint>a:hover:after,
#header-bottom-right .user>a:hover:after,
.res .res #RESAccountSwitcherIcon:hover:after,
#header-bottom-right #mail:hover:after,
#header-bottom-right #modmail:hover:after,
#header-bottom-right #new_modmail:hover:after,
.ChatApp__reddit-icon:hover:after,
#header-bottom-right .pref-lang:hover:after,
#header-bottom-right #openRESPrefs .gearIcon:hover:after,
#header-bottom-right .logout a:hover:after,
a#RESAnnouncementAlert:hover:after {
	opacity: 1;
	top: -25px;
}


#header-bottom-right a.message-count {
	position: relative;
	margin: 15px 20px 0 -40px;
	z-index: 1;
	width: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	font-size: 11px;
	font-weight: 400;
	background: $message-count-background-color;
}
