/* This is just RES styles that don't fit under anything else. */


.res #srList {
	position: fixed;
	left: calc(50% - 250px);
	width: 500px;
	height: calc(100vh - 60px);
	padding-top: 0;
	overflow: visible;
	max-height: none !important;
	opacity: 1;
	pointer-events: auto;
	transition: .2s;
	z-index: 2147483647;
}

.res #RESSubredditGroupDropdown {
	transition: .2s;
}

.res #srList tbody {
	display: block;
	max-height: calc(100% - 50px);
	overflow: scroll;
}

.res #srList:before {
	position: fixed;
	left: 50%;
	margin-left: -250px;
	top: 30px;
	width: 500px;
	height: calc(100vh - 60px);
	background: $reddit-top-bar-background-color;
	content: "";
	z-index: -1;
	transition: .2s opacity;
}

.res #srList:after {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	padding: 50px 70px 0 0;
	background-image: url(%%crosshatch%%), url(%%overlay%%), linear-gradient(45deg, rgba(196, 145, 138, 0.75) 20%, rgba(96, 147, 196, 0.985) 80%);
	background-size: auto 100%, 100px 100px, cover;
	background-position: center, center, center;
	content: "✕";
	text-align: right;
	text-transform: lowercase;
	font-size: 40px;
	font-weight: 100;
	color: $drop-choices-icon-color;
	z-index: -2;
	transition: .2s opacity;
	pointer-events: none;
}

.sortAsc,
.sortDesc {
	margin-top: 18px;
	margin-right: 10px;
	height: 12px;
	line-height: 12px;
}

div#RESSubredditGroupDropdown ul {
	border: 0;
}

.res #srList thead {
	display: block;
	height: 50px
}

.res #srList thead td:nth-of-type(1):before {
	content: "YOUR ";
}

.res #srList thead td:nth-of-type(1):after {
	margin-left: -5px;
	content: "S";
}

.res #srList thead tr {
	height: 50px;
	line-height: 50px;
	white-space: nowrap;
}

.res #srList td {
	padding: 0;
}

.res #srList tr td:nth-of-type(1) {
	width: 300px;
}

.res #srList td.RESvisited {
	width: 120px;
}

.res #srList td.RESshortcut {
	width: 60px;
}

.res #srList td.RESvisited,
.res #srList td.RESshortcut {
	text-transform: uppercase;
}

#sr-header-area .drop-choices.srdrop a,
.res #RESSubredditGroupDropdown li a {
	display: block;
	min-width: 50%;
}

.res #srList thead tr,
.res #RESSubredditGroupDropdown li:nth-of-type(1) a,
.res #RESSubredditGroupDropdown a.res-icon {
border: 0;
}

.res #RESSubredditGroupDropdown ul {
	padding: 0;
}

.res #RESSubredditGroupDropdown li+.RESShortcutsEditButtons,
.res #RESSubredditGroupDropdown>.RESShortcutsEditButtons {
	margin: 0;
	border-top: solid 1px $res-shortcut-border-color;
	padding: 0
}

.res #RESSubredditGroupDropdown .RESShortcutsEditButtons {
	white-space: nowrap;
}

.res #RESSubredditGroupDropdown .RESShortcutsEditButtons .res-icon {
	display: inline-block;
	margin: 0;
	color: $drop-choices-icon-color;
}

.res #RESSubredditGroupDropdown li+.RESShortcutsEditButtons a.delete {
	text-align: right;
}

.res #RESSubredditGroupDropdown li {
	margin: 0;
	padding: 0;
}

.res #srList tr:hover,
.res #RESSubredditGroupDropdown li:hover {
	background: 0;
}

.res #RESSubredditGroupDropdown li a:hover,
#autocomplete_dropdown .selectedItem {
  background: 0;
}

.res #RESShortcutsEditContainer div {
	position: static;
	display: inline-block;
	margin-right: 12px;
	width: auto;
	background: 0;
	line-height: 18px;
	font-weight: 400;
	color: $res-shortcut-edit-container-text-color;
}

#RESShortcutsRight {
	order: 2;
}

.res .res #RESAccountSwitcherIcon {
	background-position: $res-account-switcher-icon-background-position;
}

.ChatApp__reddit-icon {
	background-position: $chat-app-icon-position;
}

.res .res #RESAccountSwitcherIcon:before {
	content: "Switch Accounts";
}

a#RESAnnouncementAlert:before {
	content: "RES Announcement";
}

a#RESAnnouncementAlert {
	margin: 22.5px 35px 0 0;
	width: 30px;
	height: 30px;
	background-position: -5px -88px;
}

a#RESAnnouncementAlert>span {
	font-size: 0;
}

#RESMainGearOverlay.RESGearOverlay {
	display: none !important;
}


.res .RESDropdownList {
	margin-top: 10px!important;
	right: 45px!important;
	width: auto;
	box-shadow: 0 0 10px $res-dialog-drop-shadow-color;
	border: 0;
	border-radius: 0;
	padding: 10px;
	background: $res-dialog-background-color;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 11px;
}

.res .RESDropdownList li {
    height: 40px;
    border-bottom: 1px solid $more-link-border-color;
    line-height: 39px;
    font-weight: 400;
    color: $tab-menu-option-text-color;
}

.RESDropdownList li:last-of-type {
	border: 0;
}

.res .RESDropdownList li:hover {
	background: $reddit-top-bar-link-hover-background-color;
	color: $tab-menu-option-text-color;
}

.RESDropdownList li:first-of-type,
#RESAnnouncementMenuItem {
	padding: 0;
}

.RESDropdownList #DashboardLink a {
	background: 0;
	color: $tab-menu-option-text-color;
}

.RESDropdownList #SettingsConsole,
#RESAnnouncementMenuItem a {
	padding-left: 10px;
	background: 0;
	color: $tab-menu-option-text-color;
}

.res #RESSearchMenuItem {
	position: static;
	margin: 9px;
	border: 0;
	border-radius: 50%;
	background-color: $tab-menu-option-hover-background-color;
}

.res #RESSearchMenuItem:hover {
    background-color: $res-search-menu-item-hover-color;
}

.moduleToggle::before,
.toggleButton::before {
	display: none;
}

.res .moduleToggle .toggleOn,
.res .toggleButton .toggleOn,
.res .moduleToggle .toggleOff,
.res .toggleButton .toggleOff {
	border: 0;
}

.res .moduleToggle:not(.enabled) .toggleOff,
.res .toggleButton:not(.enabled) .toggleOff {
	background: $radio-button-checked-background-color;
}

.res .moduleToggle.enabled .toggleOn,
.res .toggleButton.enabled .toggleOn {
	background: $button-default-background-color;
}

.RESDropdownList .toggleButton {
	margin-right: 10px;
}

.res .moduleToggle span,
.res .toggleButton span {
	margin-top: 0;
	height: 20px;
	padding: 0;
	line-height: 20px;
}

.res .res .RESshortcutside,
.res .res .RESDashboardToggle,
.RESHoverBody #subTooltipButtons .res-fancy-toggle-button,
.res #subTooltipButtons .RESFilterToggle {
	width: auto;
	border: 0;
	padding: 0;
	background: none !important;
	text-transform: lowercase;
	font-size: 12px;
	font-weight: 400;
	color: $title-box-text-color
}

.res-nightmode body>.content,
.res-nightmode .res.res-commentBoxes body>.content,
.res-nightmode .modtools-page>div.content {
	background: $nightmode-content-background-color !important;
}

.res-flairSearch.linkflairlabel>a {
	position: static !important;
}

.res .RES-keyNav-activeElement,
.subreddit-rule-item:hover {
	background-color: $res-active-elemtn-background-color!important;
	border: 1px dotted $input-focus-border-color !important;
	padding: 5px;
}

.res .commentarea .RES-keyNav-activeElement .md,
.res .RES-keyNav-activeElement .md-container {
	background-color: transparent !important;
}

.res .RESUserTagImage {
	margin-right: 5px;
	border: 0;
	background: 0;
}

.res .RESUserTagImage::after {
	display: inline-block;
	vertical-align: middle;
	width: 19px;
	height: 16px;
	background: url(%%spritesheet%%) -4px -95px/158px 225px;
	content: "";
}

.res #progressIndicator,
.res .NERPageMarker {
	margin: 0;
	width: 100%;
	height: auto;
	border: 0;
	border-top: 1px solid $link-info-border-color;
	border-radius: 0;
	padding: 10px;
	background: 0;
	color: $secondary-text-color;
}

.res #progressIndicator p.NERWidgetText {
	margin: 8px;
}

.res #NERFail {
	width: 100%;
	border: 0;
}

#NERFail .nextprev {
	margin-bottom: 10px;
}

#NERFail .nextprev a,
.next-suggestions a {
	display: inline-block;
	border: 0;
	border-radius: 0;
	padding: 5px;
	background: $upvote-color;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}

.res .RESNotificationHeader h3 {
	margin-top: 0;
	padding-top: 0;
}

.res .RESNotificationHeader h3 .gearIcon {
	display: inline-block;
	margin-top: 12.5px;
	height: 15px;
	line-height: 15px;
}

.res .RESNotificationHeader h3+.RESCloseButton {
	top: 0;
	margin-top: 10px;
}

.res .RESNotificationContent {
	padding-bottom: 10px;
}

.res.wiki-page .RESBigEditorPop {
	margin-right: 0;
}

.res .RESSubscriptionButton,
.res .RESSubscriptionButton:hover {
	width: auto;
	border: 0;
	border-radius: 0;
	padding: 5px;
	background: $upvote-color;
	text-transform: uppercase;
	color: $secondary-text-color;
}

.commentarea .RESSubscriptionButton {
	margin-top: -3px;
}

.res .RESSubscriptionButton.unsubscribe {
	background: $link-info-border-color;
	color: $secondary-text-color;
}


#REScommentNavToggle span:not(:first-of-type) {
	display: none;
}

.res-commentNavToggle::after {
	height: 16px;
	margin-left: 4px;
}

.res.res-commentBoxes.res-commentBoxes-rounded .comment {
	border-radius: 0 !important;
}

.res #RESStyleSheetTipPane {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	border: 0;
	color: $title-box-text-color
}

.res #RESStyleSheetTipPane * {
	border: 0;
	padding: 0;
}

.res #RESStyleSheetTipPane-header,
.res #RESStyleSheetTipPane-header span.details {
	font-size: 11px;
	letter-spacing: 1px;
}

.res #RESStyleSheetTipPane .RESCloseButton {
	position: static;
	display: inline-block;
	margin-left: 20px;
}

.res .RESCloseButton:hover {
	border: 0;
	background: $sidebar-background-color;
}

.res #RESShortcutsAddFormContainer {
	top: 30px;
	box-shadow: 0 0 10px $res-dialog-drop-shadow-color;
	border: 0;
	border-radius: 0;
	background: $res-dialog-background-color;
	color: $input-text-color;
}

.res #addSubreddit {
	border-radius: 0;
	background: 0;
}

div.guider .guider_content p,
.res .RESNotificationContent {
	color: $title-box-text-color;
}

.res .RESNotificationContent {
	border-top: 1px solid $link-info-border-color;
	border-bottom: 1px solid $link-info-border-color;
}

body.res-voteEnhancements-highlightScores span.score {
	color: $input-text-color;
}

/* RES Fixes
------------*/

.RESHoverInfoCard h3 {
	font-size: 11px !important;
	font-variant: normal !important;
	padding: 5px !important;
}

.RESDialogSmall > h3 {
	background-color:$content-background-color !important;
	border: none !important;
}

.RESHoverInfoCard .fancy-toggle-button .add.active {
	height: 20px;
	padding: 0px 5px;
	line-height: 20px;
}

.RESHoverInfoCard::before {
	display: none;
}

.RESHoverInfoCard::after {
	display: none;
}
