.side {
	margin: 2px 0 0;
	width: 321px;
	border-left: 1px solid $side-input-background-color;
	padding: 10px;
	background: $sidebar-background-color;
}

.side .spacer {
	margin: 0;
}

#search {
	overflow: hidden;
	margin-bottom: 10px;
	width: 300px;
}

#search input[type=text] {
	width: 299px;
	height: 40px;
	padding: 0 38px 0 15px;
	font-size: 14px;
	color: $input-text-color !important;
}

#search input[type="text"]::-webkit-input-placeholder {
	text-transform: capitalize;
	color: $input-text-color;
}

#search input[type=submit],
#search input[type=submit]:hover {
	margin-left: 0;
	width: 25px;
	height: 25px;
	background: url(%%spritesheet%%) $search-submit-background-offset;
	transition: .2s;
}

#search:hover input[type=submit] {
	margin-left: -33px
}

#searchexpando {
	margin: 0;
	margin-top: 10px;
	border: 0;
	padding: 0;
	background: 0;
	line-height: 25px;
	text-align: center;
	color: $tab-menu-option-selected-text-color;
}

#searchexpando label {
	position: relative;
	display: inline-block;
	height: 20px;
	line-height: 20px;
}

#searchexpando p {
	margin: 0
}

label+#moresearchinfo {
	border: 0;
}

.sponsor-300-250 {
	margin-bottom: 10px;
}

.linkinfo,
.login-form-side {
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid $link-info-border-color;
	border-bottom: 1px solid $link-info-border-color;
	border-radius: 0;
	padding: 10px;
	background: 0;
	color: $input-text-color;
}

div.linkinfo .upvotes {
	color: $upvote-info-text-color;
}

div.linkinfo .downvotes {
	color: $downvote-color;
}

.login-form-side {
	font-size: 12px;
}

.login-form-side input[type=text],
.login-form-side input[type=password] {
	margin: 0;
	width: 135px;
}

.login-form-side input[type=text] {
	margin-right: 9px;
}

.login-form-side #remember-me {
	margin-left: 0;
}

.sidebox.submit {
	position: relative;
	margin-bottom: 10px;
}

.morelink,
.sidecontentbox a.helplink,
.account-activity-box {
	height: 40px;
	border: 0;
	background: none !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0;
	font-weight: 700;
}

.sidecontentbox a.helplink,
.account-activity-box {
	letter-spacing: 1px;
}

.submit-text .morelink {
	margin-top: -50px;
	float: right;
}

.sidebox.submit.submit-link {
	margin-bottom: -50px !important;
}

.sidebox.submit.submit-text {
	margin-top: 60px;
}

.submit-link .morelink {
	margin-bottom: 60px;
}

.morelink a,
.sidecontentbox a.helplink,
.account-activity-box a {
	position: relative;
	width: 145px;
	height: 40px;
	border: 1px solid $downvote-color;
	background: $downvote-color;
	text-align: center;
	line-height: 40px;
	color: $sidebar-background-color;
	transition: .4s;
	z-index: 1;
}

.account-activity-box {
	margin-top: 10px;
}

.account-activity-box a {
	background: 0;
	color: $downvote-color;
}

.morelink:hover a,
.morelink a:hover {
	opacity: .8;
}

.morelink a:hover,
.sidecontentbox a.helplink:hover,
.account-activity-box a:hover {
	text-indent: -15px;
}

.sidebox.submit.disabled .morelink a {
	width: 300px;
}

.sidebox.submit.disabled .morelink a:hover {
	text-indent: 0;
}

.sidebox .subtitle {
	display: none;
}

.morelink a:before {
	display: inline-block;
	width: 145px;
	font-size: 10px;
	letter-spacing: 1px;
}

.sidebox.submit.disabled .morelink a:before {
	width: 300px;
	content: $submissions-disabled-text;
}

.morelink a:after,
.sidecontentbox a.helplink:after,
.account-activity-box a:after {
	position: absolute;
	top: 6px;
	right: -25px;
	width: 25px;
	height: 25px;
	background: url(%%spritesheet%%);
	content: "";
	transition: .4s;
}

.submit-text .morelink a:after {
	background-position: $submit-text-hover-icon-background-offset;
}

.submit-link .morelink a:after {
	background-position: $submit-link-hover-icon-background-offset;
}

.sidecontentbox a.helplink:after {
    background-position: $help-link-icon-background-position;
}

.morelink a:hover:after,
.sidecontentbox a.helplink:hover:after,
.account-activity-box a:hover:after {
	right: 8px;
}

.sidebox.submit.disabled .morelink a:hover:after {
	right: -25px;
}

.morelink .nub {
	display: none;
}

.submit .morelink:after {
	position: absolute;
	top: 0;
	width: 144px;
	height: 40px;
	background: $more-link-after-background-color;
	line-height: 40px;
	font-size: 11px;
	color: $primary-text-color;
	content: "- - -";
}

.submit-link .morelink:after {
	left: 155px;
}

.submit-text .morelink:after {
	left: -154px;
}

.side .titlebox {
	border-top: 1px solid $link-info-border-color;
	color: $title-box-text-color;
}

.side h1.redditname {
	margin-bottom: 10px;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid $link-info-border-color;
}

.titlebox h1 a {
	color: inherit;
}

.side h1.redditname a {
	display: inline-block;
	line-height: 49px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 700;
	color: $input-text-color;
}

.side .fancy-toggle-button {
	display: block;
	margin: 0;
}

.side .fancy-toggle-button a.option.active {
	position: relative;
	float: right;
	margin-top: -50px;
	font-size: 0;
	z-index: 1;
	transition: .2s;
}

.side .fancy-toggle-button a.option.active,
#authorInfoToolTip .fancy-toggle-button a.option.active,
.fancy-toggle-button .add.active,
.res #RESHoverInfoSubscriptionButton {
	display: inline-block;
	vertical-align: middle;
	border: 0;
	border-radius: 0;
	width: auto;
	height: 30px;
	padding: 0 10px;
	background: $radio-button-checked-background-color;
	line-height: 30px;
	text-transform: uppercase;
}

#authorInfoToolTip .fancy-toggle-button {
	margin-bottom: 0;
}

.side .fancy-toggle-button a.option:after {
	letter-spacing: 1px;
	font-size: 10px;
	content: $subscribe-button-text;
}

.side .fancy-toggle-button a.option:before {
	display: inline-block;
	letter-spacing: 1px;
	font-size: 10px;
	content: $unsubscribe-button-prefix;
	margin-right: 0;
}

.side .fancy-toggle-button a.option.add:before {
	margin-right: -15px;
	opacity: 0;
}

.side .fancy-toggle-button a.option.add:active:before {
	@include animation(remove 10s linear);
}

@include keyframes(remove) {
    0% {
        opacity: 0
    }
    1% {
        margin-right: 8px
    }
    2% {
        margin-right: 0;
        opacity: 1
    }
    100% {
        margin-right: 0;
        opacity: 1
    }
}

@include keyframes("swing") {
    15% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px)
    }
    30% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px)
    }
    50% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px)
    }
    65% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    80% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px)
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.res .side .fancy-toggle-button a.option.active {
	margin-top: -83px;
}

.fancy-toggle-button a.option.active.remove,
.res .res-fancy-toggle-button.remove,
.res .RESFilterToggle.remove {
	background: $downvote-color !important;
}

.hover-bubble {
	border: 1px solid $link-info-border-color;
	background: $primary-text-color;
	color: $page-name-text-color;
}

.hover-bubble.multi-selector {
	margin-top: -120px;
}

.hover-bubble.multi-selector strong {
	color: $page-name-text-color;
}

.hover-bubble.multi-selector label:hover,
.drop-choices a.choice:hover {
	background: $link-info-border-color;
}

.hover-bubble.multi-selector label a {
	margin-top: 3px;
	border: 0;
	background: 0;
}

.hover-bubble.anchor-right:before {
	border-left-color: $link-info-border-color;
}

.hover-bubble.anchor-right:after {
	border-left-color: $primary-text-color
}

.hover-bubble.anchor-top:before {
	border-bottom-color: $link-info-border-color;
}

.hover-bubble.anchor-top:after {
	border-bottom-color: $primary-text-color;
}

.side .titlebox h1.redditname+div {
	padding: 5px 0;
	text-transform: lowercase;
}

.res .RESshortcutside {
	margin-right: 10px;
	margin-bottom: 5px;
}

.side .subscribers {
	font-weight: bold; 
	color: $subscriber-count-color;
	display: block;
	margin-top: 5px;
	margin-right: 4px;
}

.side .users-online {
	display: block;
}

.side .users-online:before {
	display: none;
}

.leavemoderator,
.toggle.leavecontributor-button {
	display: none;
}

.titlebox form.toggle {
	padding: 5px 0;
	background: 0;
	text-transform: lowercase;
	font-size: 12px;
	color: $title-box-text-color
}

.titlebox .tagline {
	margin-left: 0;
	color: $title-box-text-color;
}

.titlebox .tagline a {
	color: $title-box-text-color;
}

.side .flairselector.drop-choices.active {
	position: static;
	margin-top: 10px;
	box-shadow: none;
	width: 300px !important;
	border: 0;
	border-top: 1px solid $link-info-border-color;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.side .usertext {
	margin-top: 10px;
	font-size: 12px;
	color: $page-name-text-color;
}

.titlebox .bottom {
	border-top: 1px solid $link-info-border-color;
	border-bottom: 1px solid $link-info-border-color;
	padding: 6px 0;
	font-size: 12px;
	color: $title-box-text-color;
}

.titlebox .age {
	display: block;
	margin-top: 5px;
	float: none;
}

.sidecontentbox .collapse-button,
.icon-menu a:before,
img.tb-moderation-tools-icons {
	display: none !important;
}

.icon-menu a {
	background: 0;
}

.sidecontentbox {
	border-bottom: 1px solid $link-info-border-color;
}

.sidecontentbox .content {
	border: 0;
	padding: 0;
	padding-bottom: 10px;
}

#moderation_tools {
	margin-bottom: 10px;
}


.sidebox.create {
	margin-bottom: 10px;
}

.sidebox.create .morelink,
.sidecontentbox a.helplink,
.account-activity-box {
	font-size: 10px;
}

.sidebox.create .morelink a,
.sidecontentbox a.helplink,
.account-activity-box a {
	width: 300px;
}

.sidecontentbox a.helplink {
	float: none;
	margin: 0;
	margin-bottom: 10px;
	color: $downvote-color;
}

.sidebox.create .morelink a:after {
	background-position: $sidebar-create-icon-background-position;
}

.sidebox.create .morelink + .spacer {
	display: none;
}

.sidecontentbox a.helplink,
.account-activity-box a {
	display: inline-block;
	overflow: hidden;
}

.account-activity-box a:after {
	background-position: $account-activity-box-icon-background-position
}

.side:after {
	display: block;
	margin-top: 10px;
	border-top: 1px solid $link-info-border-color;
	padding-top: 10px;
	font-size: 12px;
	color: $title-box-text-color;
	content: $subreddit-theme-citation;
}

.gadget .midcol {
	width: 35px;
}

.sidecontentbox .reddit-link {
  display: flex;
  align-items: center;
}

.gadget .midcol {
  flex-shrink: 0;
}

.gadget .reddit-entry {
  margin-left: 5px;
  flex-grow: 1;
}

.sidecontentbox .gadget .linkflairlabel {
  margin-left: 0;
}

.sidecontentbox .title h1 {
	display: inline-block;
}

.sidecontentbox a.helplink+.title {
	border-top: 1px solid $link-info-border-color;
}


.side .md a[href="#button"]+a,
.side .md a[href="#specialbutton"]+a {
	margin: 5px 0;
	width: 145px;
	padding: 11.5px 10px;
}

.side .md a[href="#rightalign"]+a[href="#button"]+a,
.side .md a[href="#rightalign"]+a[href="#specialbutton"]+a {
	margin-left: 10px;
}

.side .md a[href="#bigbutton"]+a,
.side .md a[href="#bigspecialbutton"]+a {
	margin: 5px 0;
	width: 300px;
	padding: 11.5px 10px;
}

.side .md ul {
  padding-left: 20px;
}

.side .md>blockquote:nth-of-type(1) {
	display: none;
}

#header { 
	$header: header-contractionary;

	@if($expansionary) {
		$header: header-expansionary;
	}

   height: 300px;
   background: linear-gradient(rgba(50,58,71,0.1) 52%,rgba(50,58,71,.6)), url(%%#{$header}%%);
}

#header .pagename {
  top: 4px;
  left: 567px;
}

#header .pagename:after {
  display: block;
  margin-top: 40px;
  margin-left: 0
}

#header .pagename a {
	transition: all 2s ease-in-out;
}

#header .tabmenu { 
	top: 250px;
}

.side .md a[href="#headerbutton"] + a {
	top: 350px;
}

.side .md>h3:first-of-type {
	top: 410px;
}

.sidecontentbox .flair {
	display: none;
}

/* READERS AND USERS HERE NOW
-----------------------------*/
.side .titlebox .word {
	display: none;
}

.side .subscribers .number:after {
	content: " #{$subscriber-description}";
}
.side .users-online .number:after {
	content: " #{$online-users-description}"
}

/* submit link */
.submit-link .morelink a:before {
    content: $submit-link;
}

/* submit text */
.submit-text .morelink a:before {
    content: $submit-text;
}
