.md a[href$="/spoiler"],
.md a[href$="#spoiler"],
.md a[href$="/s"],
.md a[href$="#s"] {
    border: 0;
    padding: 0 5px;
    background: $input-text-color !important;
    color: $input-text-color !important
}

.md a[href$="/spoiler"]:hover,
.md a[href$="#spoiler"]:hover,
.md a[href$="/s"]:hover,
.md a[href$="#s"]:hover {
    color: $secondary-text-color !important;
}