a[href$="/spoiler"],
a[href$="#spoiler"],
a[href$="/s"],
a[href$="#s"] {
    background: $link-button-background-color !important;
    color: $link-button-background-color !important
}

a[href$="/spoiler"]:hover,
a[href$="#spoiler"]:hover,
a[href$="/s"]:hover,
a[href$="#s"]:hover {
    color: #fff !important
}