body {
    background-color: $body-color;
    padding: $body-spacing;
    @include display-flex();
    flex-flow: row wrap;
}

#search input[type=text],
body,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Helvetica, sans-serif
}


#editShortcutDialog input[type=text],
#search input[type=text],
.c-form-control,
.combined-search-page #search input[type=text],
.linefield input[type=text],
.linkinfo .shortlink input,
.login-form-side input[type=password],
.login-form-side input[type=text],
.pretty-form input[type=text],
.pretty-form textarea,
.roundfield input[type=text],
.roundfield input[type=url],
.roundfield textarea,
input[type=checkbox],
input[type=text],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border: 1px solid rgba(144, 144, 144, .25);
    border-radius: 5px;
    background-color: rgba(144, 144, 144, .075);
    color: #4d5968
}

.flairselector .customizer input,
select#comment-visits {
    background-color: #f7f7f7
}

#editShortcutDialog input[type=text]:focus,
#search input[type=text]:focus,
.c-form-control:focus,
.hover-bubble.multi-selector .create-multi input[type=text]:focus,
.roundfield input[type=url]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 0 1px #5f9dd2;
    border-color: #5f9dd2
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    padding: 0 20px 0 5px;
    background: url(%%spritesheet%%) no-repeat right -31px top -106px/50px 121px;
}

input[type=radio] {
    border-radius: 50%
}

a.choice[href$="controversial"] {
    visibility: hidden;
    position: relative;
}

a.choice[href$="controversial"]:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .075);
    padding: 0 5px;
    line-height: 30px;
    color: #fff;
    width: 100%;
    content: "Hot takes"
}

body.show-controversial .comment.controversial>.entry .score:after {
    top: 0px;
    content: " Hot Take"
}

.arrow.up {
    background-image: url(%%up%%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.arrow.upmod {
    background-image: url(%%upmod%%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
}

@media only screen and (max-width: 876px) {
    .side {
        display: none;
    }
    body>.content {
        margin-top: 0;
    }
    .panestack-title {
        margin-right: 0;
    }
}

.message-count {
    position: fixed;
    left: 0;
    right: 0;
    bottom: $message-count-bottom;
    margin: 0 auto;
    width: $message-count-width;
    height: $message-count-height;
    line-height: $message-count-height;
    text-align: center;
    background-color: $message-count-background-color;
    font-size: $message-count-text-size;
    color: $message-count-text-color;
    &:after {
        content: $message-count-text;
        margin-left: 0.5em;
    }
}

@import "announcement";
@import "buttons";
@import "comments";
@import "content";
// @import "flair";
@import "footer";
@import "header";
@import "np";
@import "post";
@import "sidebar";
@import "search";
@import "spoilers";
@import "voting";
@import "wiki";
