*,
:after,
:before {
    box-sizing: border-box;
    text-size-adjust: none;
}

#search input[type=text],
body,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Helvetica, sans-serif
}

.md .-lists,
.md ol,
.md ul {
    padding-left: 30px
}

.md {
    font-weight: 400
}

.md,
.side .md {
    font-size: 14px
}

div.RESDialogSmall>h3 {
    color: #5e6875;
    height: 40px;
    border: 0
}

.md a,
.search-result-meta a,
.side .titlebox h1 a,
a {
    color: #5f9dd2
}

.tagline a,
.tagline a.submitter.author {
    color: #585858
}

.tagline a.subreddit {
    margin-bottom: 0;
    margin-left: 3px;

}

.commentNavSortType:hover,
a:hover {
    text-decoration: none!important
}

.green,
.search-result-meta .moderator {
    color: #c22
}

.md strong,
table#srList thead {
    font-weight: 700
}

.md code,
.md pre {
    font-family: "Courier New", monospace;
    border: 1px solid rgba(144, 144, 144, .25);
    border-radius: 5px;
    padding: 2px 6px;
    background: rgba(144, 144, 144, .075)
}

.md pre {
    padding: 15px
}

.md pre>code {
    margin: 0
}

.link .md :not(pre)>code,
.link .md pre,
.new-comment .md :not(pre)>code,
.new-comment .md pre,
.usertext.border .md :not(pre)>code,
.usertext.border .md pre {
    background: rgba(144, 144, 144, .075)
}

.md hr,
hr {
    height: 1px;
    border: 0;
    background: rgba(144, 144, 144, .25)
}

.linefield .title,
.roundfield span.title,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    letter-spacing: .05em;
    font-weight: 700 !important;
    color: #4d5968 !important
}

.md.wiki > h1 {
    font-size: 175% !important;
}

h1,
h2 {
    font-size: 17px!important
}

.linefield .title,
.roundfield .title,
.side .titlebox h1 a,
.sidecontentbox .title h1,
h3,
h4 {
    font-size: 14px!important
}

h5,
h6 {
    font-size: 11px!important
}

.md blockquote {
    margin: 15px 0;
    border-left: 4px solid rgba(144, 144, 144, .25);
    padding: 5px;
    background: rgba(144, 144, 144, .075);

}

.md td,
.md tr,
.md th {
    border: 0
}

#editShortcutDialog input[type=text],
#search input[type=text],
.c-form-control,
.combined-search-page #search input[type=text],
.linefield input[type=text],
.linkinfo .shortlink input,
.login-form-side input[type=password],
.login-form-side input[type=text],
.pretty-form input[type=text],
.pretty-form textarea,
.roundfield input[type=text],
.roundfield input[type=url],
.roundfield textarea,
input[type=checkbox],
input[type=text],
textarea {
    appearance: none;
    box-shadow: none;
    border: 1px solid rgba(144, 144, 144, .25);
    border-radius: 5px;
    background-color: rgba(144, 144, 144, .075);
    color: #4d5968
}

input[type=radio],
select {
    box-shadow: none;
    border: 1px solid rgba(144, 144, 144, .25);
    background-color: rgba(144, 144, 144, .075);
    color: #4d5968
}

input[type=radio] {
    appearance: none;
}

select {
    border-radius: 5px
}

.flairselector .customizer input,
select#comment-visits {
    background-color: #f7f7f7
}

#editShortcutDialog input[type=text]:focus,
#search input[type=text]:focus,
.c-form-control:focus,
.hover-bubble.multi-selector .create-multi input[type=text]:focus,
.roundfield input[type=url]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 0 1px #5f9dd2;
    border-color: #5f9dd2
}

#rem-login-main,
input[type=checkbox],
input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px!important;
    margin-bottom: 5px!important;
    width: 10px;
    height: 18px
}

select {
    appearance: none;
    height: 20px;
    padding: 0 20px 0 5px;
    background: url(%%spritesheet%%) no-repeat right -31px top -106px/50px 121px
}

input[type=radio] {
    border-radius: 50%
}

input[type=checkbox]:checked,
input[type=radio]:checked {
    border: 0;
    background: #5f9dd2 url(%%spritesheet%%) no-repeat -24px -76px/45px 109px;
    content: ""
}

.md a[href^="#headerbutton"]+a,
.md a[href="#bigbutton"]+a {
    display: inline-block;
    color: #4d5968
}

.md a[href^="headerbutton"]+a,
.md a[href="#bigbutton"]+a {
    width: auto;
    border: 2px solid rgba(144, 144, 144, .25);
    border-radius: 5px;
    background: 0 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    transition: .2s;
    height: 40px;
    padding: 0 20px;
    line-height: 36px
}

.over18 button,
.wiki-page .wiki-page-content input.wiki_button,
button,
span.RESDashboardToggle,
span.RESDashboardToggle.remove,
span.RESshortcutside,
span.RESshortcutside.remove {
    width: auto;
    border-radius: 5px;
    padding: 0 10px
}

.over18 button,
.side .fancy-toggle-button .active,
.usertext .help-toggle .active,
.usertext a.reddiquette,
.wiki-page .wiki-page-content input.wiki_button,
button {
    display: inline-block;
    height: 28px;
    border: 1px solid rgba(144, 144, 144, .25);
    background: 0 0;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: #4d5968;
    transition: .2s
}

.side .fancy-toggle-button .active {
    border-radius: 5px
}

.usertext .help-toggle .active,
.usertext a.reddiquette {
    width: auto;
    padding: 0 10px
}

.flair-jump button,
.submit-page .tabmenu.formtab li a,
.wiki-page .pageactions .wikiaction,
span.RESSubscriptionButton,
span.RESSubscriptionButton.unsubscribe {
    display: inline-block;
    color: #4d5968
}

input#addSubreddit {
    display: inline-block
}

.flair-jump button,
.res .blueButton,
.res a.RESNotificationButtonBlue,
.submit-page .tabmenu.formtab li a,
.wiki-page .pageactions .wikiaction,
a.guider_button,
input#addSubreddit,
span.RESSubscriptionButton,
span.RESSubscriptionButton.unsubscribe {
    width: auto;
    height: 30px;
    border: 1px solid rgba(144, 144, 144, .25);
    border-radius: 5px;
    padding: 0 10px;
    background: 0 0;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    transition: .2s
}

.md a[href="#bigbutton"]+a:hover,
.side .fancy-toggle-button .active:hover,
.usertext .help-toggle .active:hover,
.usertext a.reddiquette:hover,
.wiki-page .pageactions .wikiaction:hover,
body button.RESBigEditorPop:hover,
button:hover,
span.RESDashboardToggle.remove:hover,
span.RESDashboardToggle:hover,
span.RESSubscriptionButton:hover,
span.RESshortcutside.remove:hover,
span.RESshortcutside:hover {
    background-color: rgba(144, 144, 144, .075)
}

.md a[href="#bigbutton"]+a:active,
.side .fancy-toggle-button .active:active,
.usertext .help-toggle .active:active,
.usertext a.reddiquette:active,
button.RESBigEditorPop:active,
button:active,
span.RESDashboardToggle.remove:active,
span.RESDashboardToggle:active,
span.RESshortcutside.remove:active,
span.RESshortcutside:active {
    background-color: rgba(144, 144, 144, .2)
}

.res .blueButton,
.res a.RESNotificationButtonBlue,
.submit-page .tabmenu.formtab li.selected a,
.wiki-page .pageactions .wikiaction-current,
a.guider_button,
button.save,
button[name=save] {
    display: inline-block;
    border-color: transparent;
    background: #c22;
    color: #fff
}

.md a[href^="headerbutton"]+a+.keyNavAnnotation,
.md a[href="#bigbutton"]+a+.keyNavAnnotation,
.res i#RESSearchMenuItem {
    display: none
}

.morelink a:hover,
.wiki-page .pageactions .wikiaction-current:hover,
button.save:hover,
button[name=save]:hover {
    background: #e44
}

.morelink a:active,
button.save:active,
button[name=save]:active {
    border-color: #a00;
    background: #a00
}

.side .md a[href="#bigbutton"]+a {
    margin-top: 5px;
    overflow: hidden;
    vertical-align: center;
    text-overflow: ellipsis;
    text-align: center;
    width: 300px;
}

.side .fancy-toggle-button+span+span {
    margin-right: 0
}

.BEFoot button {
    margin-right: 10px
}

.error {
    color: #e286a9
}

.little {
    font-size: 11px
}

.rounded {
    border-radius: 5px
}

.dropdown.lightdrop .selected,
body .dropdown.srdrop .selected {
    margin-left: 0;
    padding: 0;
    background: 0 0;
    text-decoration: none;
    color: inherit
}

.dropdown.lightdrop .selected:after,
body .dropdown.srdrop .selected:after {
    content: " ▾"
}

.drop-choices,
.res .res .RESDropdownList {
    text-transform: uppercase;
    font-size: 9px
}

.drop-choices,
.res .res .RESDropdownList,
div#RESSubredditGroupDropdown,
table#srList {
    z-index: 2147483647!important;
    overflow: visible;
    width: auto;
    max-height: none!important;
    border: 0;
    border-radius: 5px;
    padding: 10px!important;
    background: #2f373f;
    font-family: inherit;
    transition: opacity .2s
}

.res body.res:not(.res-v5) .RESDropdownList:not(#RESAccountSwitcherDropdown),
body:not(.res-v5) .drop-choices:not(#autocomplete_dropdown),
body:not(.res-v5) div#RESSubredditGroupDropdown,
body:not(.res-v5) table#srList {
    display: block!important;
    opacity: 0;
    pointer-events: none
}

.res .res .RESDropdownList:not(#RESAccountSwitcherDropdown) {
    top: 0
}

#autocomplete_dropdown,
div#header-bottom-right #userbarToggle+* {
    margin-left: 10px
}

#autocomplete_dropdown .selectedItem {
    background: rgba(255, 255, 255, .1)
}

.res body.res:not(.res-v5) .RESDropdownList[style*="display: block"]:not(#RESAccountSwitcherDropdown),
body:not(.res-v5) .drop-choices.inuse:not(#autocomplete_dropdown),
body:not(.res-v5) div#RESSubredditGroupDropdown[style*="display: block"],
body:not(.res-v5) table#srList[style*="display: block"],
div.flairselector.drop-choices.active:not(#autocomplete_dropdown) {
    opacity: 1;
    pointer-events: auto
}

#sr-header-area .drop-choices.srdrop {
    margin-top: 10px;
    margin-left: 10px
}

.srdrop .choice.bottom-option {
    border: 0;
    font-style: normal;
    font-weight: 700
}

.drop-choices.lightdrop {
    margin-top: 8px
}

div#RESSubredditGroupDropdown,
table#srList {
    top: 40px!important;
    text-transform: uppercase;
    font-size: 9px
}

div.RESDropdownList,
ul#RESAccountSwitcherDropdown {
    margin-top: 10px;
    font-size: 9px
}

div.RESDropdownList {
    margin-right: 15px
}

table#srList {
    left: 10px
}

div.sortAsc,
div.sortDesc {
    margin-top: 9px;
    height: 12px
}

div.sortAsc:after,
div.sortDesc:after {
    vertical-align: top
}

table#srList td {
    padding: 0 8px
}

th strong {
    font-size: 16px
}

#sr-header-area .selected a,
div#RESSubredditGroupDropdown .RESShortcutsCurrentSub a,
div#sr-header-area a.RESShortcutsCurrentSub,
table#srList a {
    color: #fff!important
}

table#srList td.RESshortcut,
table#srList td.RESvisited {
    text-transform: uppercase
}

.drop-choices:before,
.res .res .RESDropdownList:before,
div#RESSubredditGroupDropdown:before,
table#srList:before {
    position: absolute;
    top: -8px;
    left: 25px;
    width: 16px;
    height: 8px;
    border: 8px solid transparent;
    border-top: 0;
    border-bottom: 8px solid #2f373f;
    content: ""
}

.res .res .RESDropdownList:before {
    left: auto;
    right: 47px
}

.drop-choices a.choice,
.res .res .RESDropdownList li,
div#RESSubredditGroupDropdown li a,
table#srList tr {
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .075);
    padding: 0 5px;
    line-height: 30px;
    color: #fff
}

div#RESSubredditGroupDropdown ul {
    border: 0;
    padding: 0
}

div#RESSubredditGroupDropdown li {
    margin: 0;
    padding: 0
}

div#RESSubredditGroupDropdown li a {
    display: block
}

.res .res .RESDropdownList li {
    font-weight: 400
}

.drop-choices a.choice:hover,
.res .res .RESDropdownList li a:hover,
.res .res .RESDropdownList li:hover,
div#RESSubredditGroupDropdown li:hover,
div#RESSubredditGroupDropdown ul a:hover,
table#srList tr:hover {
    background: 0 0
}

.res .res .RESDropdownList a,
.res .res .RESDropdownList a:visited,
.res .res .RESDropdownList li a:hover,
.res .res .RESDropdownList li:hover {
    color: #fff
}

div.RESDropdownList .toggleButton {
    margin-left: 20px;
    margin-right: 0
}

div.moduleToggle,
div.toggleButton {
    width: auto
}

div.moduleToggle .toggleOff,
div.moduleToggle .toggleOn,
div.toggleButton .toggleOff,
div.toggleButton .toggleOn {
    border: 0
}

div.moduleToggle:not(.enabled) .toggleOff,
div.toggleButton:not(.enabled) .toggleOff {
    background: #758ce1
}

div.moduleToggle.enabled .toggleOn,
div.toggleButton.enabled .toggleOn {
    background: #5f9dd2
}

.moduleToggle::before,
.toggleButton::before {
    display: none
}

div#RESSubredditGroupDropdown li+.RESShortcutsEditButtons,
div#RESSubredditGroupDropdown>.RESShortcutsEditButtons {
    margin: 0;
    border: 0;
    padding: 0;
    white-space: nowrap
}

div#RESSubredditGroupDropdown .RESShortcutsEditButtons .res-icon {
    display: inline-block;
    float: none;
    margin: 0;
    width: 50%;
    border: 0;
    color: #fff
}

.RESShortcutsEditButtons .res-icon.delete {
    text-align: left
}

.RESShortcutsEditButtons .res-icon.edit {
    text-align: right
}

div.flairselector.drop-choices {
    margin-top: 25px;
    box-shadow: none;
    border: 0!important;
    text-transform: none
}

.side div.flairselector.drop-choices {
    left: auto!important;
    right: 10px;
}

.side div.flairselector.drop-choices:before {
    left: 78%;
}

.content div.flairselector.drop-choices:before {
    left: auto;
    right: 25px
}

a.choice[href$=controversial] {
    visibility: hidden;
    position: relative
}

a.choice[href$=controversial]:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .075);
    padding: 0 5px;
    line-height: 30px;
    color: #fff;
    width: 100%;
    content: "Hot takes"
}

#header .tabmenu li a,
.flairselector h2 {
    color: #fff;
    background: 0 0
}

#header {
    height: 325px;
    border: 0;
    background: rgb(71,81,133) url(%%nlbanner-expansionary%%) 0 0/auto 104% no-repeat;
    box-shadow: inset 0 -38px 0 0 rgba(49, 49, 49, .8)
}

#header,
body .modal {
    z-index: 10000000
}

#sr-header-area {
    height: 30px;
    border: 0;
    padding-right: 110px;
    background: rgba(21, 27, 33, .3);
    line-height: 30px;
    text-transform: uppercase;
    font-size: 9px;
    color: #fff
}

#sr-header-area .dropdown.srdrop .selected {
    margin: 0 10px 0 5px
}

#sr-header-area #srLeftContainer {
    padding-left: 10px
}

#sr-header-area .sr-list {
    margin-right: 50px
}

#sr-header-area #srLeftContainer a,
#sr-header-area .sr-list a,
#sr-header-area a.subbarlink {
    margin-right: 10px;
    color: #fff
}

#sr-header-area .separator {
    display: none
}

#sr-header-area .srSep {
    margin: 0
}

#RESShortcuts.sr-bar {
    text-transform: uppercase!important
}

#sr-more-link,
div#RESShortcutsEditContainer {
    display: flex;
    width: auto;
    height: 30px;
    max-height: none;
    background: 0 0;
    color: #fff
}

div#RESShortcutsEditContainer div {
    position: static;
    display: inline-block;
    margin-right: 6px;
    width: auto;
    height: 30px;
    line-height: 30px;
    background: 0 0;
    text-align: center;
    font-size: 14px!important;
    color: #fff
}

#RESShortcutsRight {
    order: 2
}

#header #header-img {
    top: 82.5px;
    margin: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff url(%%spritesheet%%) 5px -30px;
    line-height: 35px;
    text-indent: 45px;
    font-size: 12px;
    font-weight: 700;
    color: #fff
}

#header img#header-img {
    padding-left: 35px
}

#header #header-img,
#header .pagename,
#header .tabmenu {
    position: absolute;
    left: 20px;
    text-transform: uppercase
}

#header .pagename {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    bottom: 40px
}

#header .pagename a {
    font-size: 30px;
    font-weight: 700;
    color: #fff
}

#header .tabmenu {
    margin: 0;
    bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center
}

#header .tabmenu li,
#header .tabmenu li.res-tabmenu-button {
    display: inline;
    margin: 0 10px 0 0;
    font-weight: 400
}

#header .tabmenu li.selected {
    font-weight: 700;
    border-bottom: none
}

#header .tabmenu li a {
    border: 0;
    padding: 0
}

#header #header-bottom-right {
    right: 20px;
    padding: 0;
    background: 0 0;
    text-transform: uppercase;
    top: 296px
}

div#userbarToggle,
div#userbarToggle.userbarShow {
    position: relative;
    left: auto;
    right: auto;
    height: 20px;
    min-height: 0;
    border: 0;
    background: 0 0;
    line-height: 16px;
    color: #fff
}

.res div#userbarToggle.userbarShow {
    top: -17.5px
}

#userbarToggle.userbarShow:before {
    position: absolute;
    right: calc(100% - -10px);
    white-space: nowrap;
    line-height: 20px;
    font-size: 11px;
    font-weight: 700;
    content: "View userbar"
}

#header .beta-hint {
    height: 20px
}

#header .beta-hint,
#header .beta-hint a {
    position: static;
    margin: 0;
    opacity: 1
}

#header .beta-hint,
#header .logout,
#header .user,
#header-bottom-right .flat-list,
span#openRESPrefs {
    display: inline-block;
    vertical-align: top
}

span#openRESPrefs {
    margin-left: 20px
}

#header #RESAccountSwitcherIcon,
#header .beta-hint a {
    display: inline-block;
    overflow: hidden;
    top: 0;
    vertical-align: top;
    width: 20px!important;
    height: 20px;
    background: url(%%spritesheet%%) 0/120px 290px;
    font-size: 0
}

#header-bottom-right #mail,
#header-bottom-right #modmail,
#header-bottom-right #openRESPrefs .gearIcon,
#header-bottom-right .logout a,
#header-bottom-right a.pref-lang {
    display: inline-block;
    overflow: hidden;
    top: 0;
    vertical-align: top;
    margin-left: 17px;
    width: 20px!important;
    height: 20px;
    background: url(%%spritesheet%%) 0/120px 290px;
    font-size: 0
}

#header-bottom-right #openRESPrefs .gearIcon {
    margin-left: 0;
    background-position: -56px -56px
}

#header .beta-hint a {
    margin-left: 0;
    background-position: -28px -28px
}

#header #RESAccountSwitcherIcon {
    margin: 0 10px;
    background-position: -56px -28px
}

#header-bottom-right #mail {
    background-position: -84px -28px
}

#header-bottom-right #modmail {
    background-position: 0 -56px
}

#header-bottom-right #new_modmail {
    margin-left: 20px;
    transform: scale(1.25);
    top: 1.6px
}

#header-bottom-right a.pref-lang {
    background-position: -28px -56px
}

#header-bottom-right .logout a {
    background-position: -84px -56px
}

#header #header-bottom-right #mail.havemail,
#header #header-bottom-right #modmail.havemail {
    top: -5px!important;
    margin-left: 15px;
    width: 30px!important;
    height: 30px;
    border-radius: 50%;
    background-color: #e286a9
}

#header #header-bottom-right #mail.havemail {
    background-position: -79px -23px
}

#header #header-bottom-right #modmail.havemail {
    background-position: 5px -51px
}

.message-count {
    position: fixed;
    left: calc(50% - 150px);
    bottom: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
    width: 300px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    background: #758ce1;
    font-size: 11px;
    color: #fff
}

.message-count:before {
    position: absolute;
    top: 7.5px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: url(%%spritesheet%%) -84px -28px/120px 290px;
    content: ""
}

.message-count:after {
    content: " new message(s) from Soros"
}

#header .user {
    position: absolute;
    top: -35px;
    line-height: 20px;
    white-space: nowrap;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    background-color: rgba(49, 49, 49, .8);
    padding: 5px 20px;
    height: 26px;
    bottom: 28px;
    margin: 0;
    right: -20px
}

#header .user a {
    color: #fff
}

#header .ChatApp__reddit-icon {
    margin-left: 20px;
    color: #fff
}

#header-bottom-right .separator {
    display: none!important
}

.side {
    margin: 0 0 50px 10px;
    width: 322px;
    border-bottom-left-radius: 5px;
    border-left: 2px solid rgba(144, 144, 144, .25);
    border-bottom: 2px solid rgba(144, 144, 144, .25);
    padding: 0 10px 10px;
    font-size: 11px;
    font-weight: 400
}

.side .spacer {
    margin: 10px 0
}

#search input[type=text] {
    height: 40px
}

#searchexpando {
    margin-top: 10px
}

label+#moresearchinfo {
    margin-top: 10px;
    border: 0
}

.infobar {
    border: 1px solid rgba(144, 144, 144, .25);
    background: #fff
}

#searchexpando,
.ad300x250,
.infobar {
    border-radius: 5px
}

.account-activity-box a,
.morelink,
.morelink:hover,
.sidecontentbox a.helplink {
    position: relative;
    float: none;
    height: 40px;
    border: 0;
    background: 0 0;
    line-height: 40px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700
}

.account-activity-box a,
.morelink,
.morelink:hover {
    text-align: center;
    display: block
}

.sidecontentbox a.helplink {
    border-radius: 5px;
    transition: .2s;
    display: block;
    margin: 10px 0
}

.account-activity-box a,
.morelink a {
    border-radius: 5px;
    background: #c22;
    color: #fff;
    transition: .2s
}

.disabled .morelink a {
    color: rgba(255, 255, 255, .6)
}

.account-activity-box a:hover {
    background: #e44
}

.account-activity-box a:active {
    background: #a00
}

.account-activity-box a:before,
.create .morelink a:before,
.sidecontentbox a.helplink:before,
.submit.mod-override .morelink a:after,
.submit:not(.disabled) .morelink a:before {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: url(%%spritesheet%%) 0/120px 290px;
    content: ""
}

.submit-link:not(.disabled) .morelink a:before {
    background-position: 0 -84px
}

.submit-text:not(.disabled) .morelink a:before {
    background-position: -28px -84px
}

.create .morelink a:before {
    background-position: -84px -84px
}

.sidecontentbox a.helplink:before {
    background-position: -84px -28px
}

.account-activity-box a:before {
    background-position: 0 -112px
}

.side .submit.mod-override .morelink a:after {
    margin: 0;
    left: 35px;
    background-position: -56px -84px;
    opacity: 1
}

.flairselector li a.author,
.flairselector li a.title,
.hover-bubble.anchor-right:before,
.morelink .nub,
.titlebox .leavemoderator:before,
.users-online:before {
    display: none
}

.side .fancy-toggle-button {
    margin: 0;
}

.fancy-toggle-button .add,
.side .fancy-toggle-button .add,
.sidecontentbox a.helplink,
input#addSubreddit {
    border-color: transparent;
    background: #c22;
    color: #fff;
    text-align: center
}

.side .subButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0 10px
}

.side .titlebox .subButtons>span {
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 5px
}

.side .titlebox .subButtons>span:last-child {
    margin-right: 0
}

.side .fancy-toggle-button .add:hover,
.sidecontentbox a.helplink:hover {
    background: #e44
}

.side .fancy-toggle-button .add:active,
.sidecontentbox a.helplink:active {
    background: #d33
}

.titlebox>.subscribe-button {
    width: 100%
}

.res span.RESDashboardToggle,
.res span.RESshortcutside,
.side .fancy-toggle-button .active {
    width: 100%;
    padding: 0;
    white-space: nowrap;
    text-align: center
}

.hover-bubble {
    border: 0
}

.users-online {
    display: inline-block;
    margin-left: 10px
}

.leavemoderator,
.titlebox form.toggle {
    padding: 0;
    font-size: 12px;
    color: inherit
}

.titlebox form.toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0
}

.leavemoderator,
.users-online {
    margin-bottom: 8px
}

.titlebox form.toggle input {
    margin: 0 5px 0 0 !important
}

.flairselector li,
.flairselector li:hover,
body .entry .buttons .flairselector li {
    border: 0;
    padding: 5px;
    background: 0 0;
    height: 40px;
}

.flairselector li.selected {
    border: 0;
    background: rgba(255, 255, 255, .1)
}

.header.tagline,
.flairrow .tagline,
.flairrow .search-result-meta {
    width: 95ex
}

.flairoptionpane {
    max-height: 400px;
    border: 1px solid #ccc;
}

.over18>.entry>p>a.title:before,
.stickied>.entry>p>a.title:before {
    line-height: 20px
}

.flairselector form {
    border-top: 1px solid rgba(255, 255, 255, .075)
}

.flairselector form button {
    background: #fff;
    color: #4d5968
}

.titlebox .bottom {
    border-top: 1px solid rgba(144, 144, 144, .25);
    font-weight: 300;
    color: #5e6875
}

.side .titlebox .bottom {
    padding: 10px 0
}

.sidecontentbox .title {
    margin-bottom: 5px
}

.sidecontentbox .collapse-button {
    width: 15px;
    height: 15px;
    border: 1px solid rgba(144, 144, 144, .25);
    border-radius: 5px;
    text-indent: 0;
    font-weight: 700;
    background: 0 0;
    color: #4d5968;
    line-height: 12px
}

.login-form-side,
.sidecontentbox .content {
    border: 1px solid rgba(144, 144, 144, .25);
    border-radius: 5px;
    padding: 10px
}

.sidecontentbox .helplink~.content li {
    margin: 2px 0
}

.sidecontentbox span.score,
a.reddit-comment-link {
    font-weight: 400;
    color: #5e6875
}

body>.content {
    margin: 85px 10px 10px
}

.reddit-infobar.md-container-small {
    padding: 6.5px 10px
}

.menuarea {
    margin: 0;
    border-bottom: 1px solid rgba(144, 144, 144, .25);
    padding: 0 10px 10px
}

.reddit-infobar {
    border-radius: 5px
}

.link,
.link.last-clicked,
.organic-listing {
    margin: 0;
    border: 0;
    padding: 15px 0
}

.link.last-clicked {
    background: rgba(144, 144, 144, .05)
}

.link a.thumbnail[href*="reddit.com"] img,
.rank {
    display: none
}

.link .midcol {
    margin: 0 10px
}

.comment .midcol {
    width: 20px;
    margin-top: 16px;
    transform: scale(1.3)
}

.link .score {
    margin: 5px 0
}

html body .midcol :not(.score)+div.arrow {
    margin-top: 5px
}

body .thumbnail {
    margin: 0 10px 0 0;
    width: 70px;
    height: 70px;
    border-radius: 5px
}

body .thumbnail img {
    width: auto;
    height: 70px
}

p.title {
    display: flex;
    flex-direction: row;
    align-items: center
}

.approval-checkmark {
    margin: 0 5px 0 0
}

.link.stickied .thumbnail,
.search-result.has-thumbnail>.thumbnail.nsfw,
.self .thumbnail,
.thumbnail.default,
.thumbnail.nsfw,
.thumbnail[href*="reddit.com"] {
    margin: 0 22.5px 0 12.5px;
    flex: none;
    width: 45px;
    height: 45px;
    border: 2px solid rgba(144, 144, 144, .25);
    border-radius: 50%;
    background: #fff url(%%spritesheet%%)
}

.thumbnail.default {
    background-position: -97px -133px
}

.thumbnail[href*="reddit.com"] {
    background-position: 8px -27px
}

.self .thumbnail.self {
    background-position: -60px -133px
}

.search-result.has-thumbnail>.thumbnail.nsfw,
.thumbnail.nsfw {
    background-position: 8px -166px
}

.link.stickied .thumbnail {
    background-position: -26px -133px
}

.link .entry {
    padding-right: 0
}

.link .entry.RES-keyNav-activeElement {
    padding-right: 10px
}

.commentarea div.RES-keyNav-activeElement .md,
.commentarea div.RES-keyNav-activeElement.entry .noncollapsed,
div.RES-keyNav-activeElement {
    background: 0 0!important
}

.commentarea div.RES-keyNav-activeElement.entry .noncollapsed,
div.RES-keyNav-activeElement {
    border-right: 2px solid #95adc9
}

.tagline .RESUserTagImage {
    margin-right: 5px
}

.comment .usertext-body .RESUserTagImage::after {
    margin-left: 3px
}

.thing a.title {
    vertical-align: top
}

.search-result :link,
.search-result :link>mark,
.thing a.title {
    font-weight: 700;
    color: #4d5968
}

.search-result-meta .stickied-tagline,
.tagline .stickied-tagline,
.thing.stickied.link a.title {
    color: #69b391
}

.search-result :visited,
.search-result :visited>mark,
.search-result.visited .search-link,
.search-result.visited .search-link>mark,
.search-result.visited .search-title,
.search-result.visited .search-title>mark,
html .thing .title.visited,
html .thing .title:visited,
html .thing.visited .title {
    color: #95adc9
}

.thing.over18 a.title {
    color: #e286a9
}

.expando-button {
    position: relative;
    width: 25px!important;
    max-width: none!important;
    height: 25px!important;
    max-height: none!important;
    border: 1px solid rgba(144, 144, 144, .25);
    border-radius: 5px;
    background: #fff url(%%spritesheet%%) 0/90px 218px!important
}

.expando-button.selftext {
    background-position: -17px -101px!important
}

.expando-button.video {
    background-position: -38px -101px!important
}

.expando-button.image {
    background-position: -59px -101px!important
}

.expando-button.image.gallery {
    background-position: 2px -122px!important
}

.expando-button.video-muted {
    background-position: -17px -124px!important
}

.expando-button:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    opacity: 0;
    width: 21px;
    height: 21px;
    border-radius: 5px;
    background: #fff;
    line-height: 21px;
    text-align: center;
    text-indent: 1px;
    font-size: 14px;
    font-weight: 900;
    color: #4d5968;
    content: "✕";
    transition: .2s
}

.expando-button.expanded:after {
    transform: scale(1);
    opacity: 1
}

.commentarea .menuarea,
.commentarea .menuarea .toggle a,
.domain,
.domain a,
.entry .buttons li a,
.search-result-meta,
.tagline,
div.commentNavSortType,
span.redditSingleClick {
    font-size: 11px;
    font-weight: 400;
    color: #4d5968
}

.tagline .userattrs a.admin,
.tagline .userattrs a.moderator,
.tagline .userattrs a.submitter,
.thing .tagline a.author.admin,
.thing .tagline a.author.moderator {
    display: inline-block;
    border-radius: 0;
    padding: 1px 6px;
    height: 16px;
    font-size: 11px;
    font-weight: 400;
    color: #fff
}

.tagline .userattrs a.submitter {
    background: #5f9dd2!important
}

.tagline .userattrs a.moderator,
.thing .tagline a.author.moderator,
.thing .tagline a.author.moderator:hover {
    background: #c22!important
}

.tagline .userattrs a.admin,
.thing .tagline a.author.admin,
.thing .tagline a.author.admin:hover {
    background: #e286a9!important
}

.entry .buttons li,
.tagline .userattrs .cakeday,
.tagline .voteWeight {
    margin-right: 5px
}

.tagline .userattrs {
    font-size: 0
}

.userattrs .admin,
.userattrs .moderator,
.userattrs .submitter {
    margin: 0 5px
}

.footer-parent+#hsts_pixel,
span.nsfw-stamp {
    display: none
}

.entry .buttons li+li {
    padding-left: 0
}

a.pretty-button,
div.entry .buttons li.reported-stamp {
    border: 0!important;
    border-radius: 2px;
    padding: 1px 6px;
    line-height: inherit
}

div.entry .buttons li.reported-stamp {
    margin-right: 0;
    color: #000
}

a.pretty-button {
    color: #fff
}

.pretty-button.negative {
    background: #e286a9
}

.pretty-button.neutral {
    background: #4f92d1
}

.pretty-button.positive {
    background: #69b391
}

.pretty-button.negative.pressed {
    background-image: none;
    background-color: #da3574
}

.pretty-button.neutral.pressed {
    background-image: none;
    background-color: #074b8c
}

.pretty-button.positive.pressed {
    background-image: none;
    background-color: #166f46
}

ul.report-reasons {
    width: 100%;
    border: 0;
    color: #000
}

.link .usertext-body .md {
    border-color: rgba(144, 144, 144, .25);
    border-radius: 5px;
    background: #fff
}

.link .usertext .md {
    padding: 15px
}

div#progressIndicator,
div.NERPageMarker {
    width: auto;
    height: auto;
    border: 0;
    border-radius: 0
}

span.RESThrobber,
span.RESThrobber:after,
span.RESThrobber:before {
    box-shadow: none
}

.footer-parent {
    position: relative;
    padding: 0;
    background: url(%%sidebar%%) fixed bottom/auto auto, linear-gradient(45deg, rgba(39, 161, 227, .65), rgba(231, 35, 42, .65)), url(%%header-ex%%) fixed center/cover;
    background-size: cover;
    text-shadow: 1px 1px 1px black, 0px 0px 2px black;
}

.footer {
    display: block;
    margin: 0;
    width: 100%;
    max-width: none;
    border: 0;
    border-radius: 0;
    padding: 720px 0 50px 0;
    text-align: center
}

.footer .col {
    flex: none;
    border: 0;
    padding: 0 50px
}

.flat-vert.title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #fff
}

.footer .col .flat-vert.title:before {
    display: inline-block;
    vertical-align: middle;
    margin-left: -30px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: url(%%spritesheet%%) 0/120px 290px;
    content: ""
}

.footer .col:nth-of-type(1) .flat-vert.title:before {
    background-position: -56px -168px
}

.footer .col:nth-of-type(2) .flat-vert.title:before {
    background-position: -84px -168px
}

.footer .col:nth-of-type(3) .flat-vert.title:before {
    background-position: 0 -196px
}

.footer .col:nth-of-type(4) .flat-vert.title:before {
    background-position: -28px -196px
}

.footer .col li {
    margin-bottom: 10px
}

.footer .col a,
.footer-parent .bottommenu,
.footer-parent .bottommenu a {
    color: #fff
}

.footer-parent .bottommenu:nth-of-type(1) {
    padding: 60px 0 20px
}

.footer-parent .bottommenu:nth-of-type(2) {
    padding-bottom: 60px
}

.footer-parent~.debuginfo {
    position: relative;
    margin-top: -25px;
    color: #fff
}

.linkinfo {
    border: none;
    background: 0 0;
    padding: 7px;
    text-align: center;
}

.panestack-title {
    margin-right: 320px;
    border: 0;
    border-top: 1px solid rgba(144, 144, 144, .25);
    padding: 10px 0
}

div.usertext-edit.md-container {
    width: 503px!important
}

a.edit-btn {
    vertical-align: bottom
}

.content button.RESBigEditorPop {
    margin: 5px 0 0 0;
    border: 1px solid rgba(144, 144, 144, .25);
    border-radius: 0 5px 5px 0;
    border-left: none;
    padding: 0 10px;
    background-position: 10px 50%;
    color: #4d5968;
}

#shortlink-text {
    padding-left: 5px;
    border: 0;
    border-radius: 0
}

.usertext .help-toggle {
    margin-left: 0
}

.usertext a.reddiquette {
    border-radius: 5px 0 0 5px
}

.usertext .help-toggle .active {
    border-radius: 0 !important
}

.res .usertext .help-toggle .active {
    border-radius: 0px 5px 5px 0px;
    border-left: none;
}

.new-comment .usertext-body {
    border: 0;
    background: rgba(144, 144, 144, .075)
}

.formtabs-content,
.gold-accent,
.wiki-page .pageactions {
    border: 0
}

#subreddit_stylesheet>.sheets:before,
.linefield,
.roundfield,
.wiki-page .wiki-page-content .wiki>.toc>ul {
    border: 1px solid rgba(144, 144, 144, .25);
    border-radius: 5px
}

.search-page button.search-submit-button {
    height: 40px;
    border-radius: 5px
}

.submit-page .submit.content .spacer {
    margin-bottom: 10px
}

.image-upload span,
.submit-page ul.tabmenu.formtab {
    padding: 0
}

.submit-page .tabmenu.formtab li {
    margin-right: 10px
}

.roundfield input[type=text],
.roundfield input[type=url],
.roundfield textarea {
    width: 500px
}

.content.submit .info-notice {
    width: 520px;
    border: 0
}

form .spacer+.spacer {
    margin: 10px 0
}

.linefield,
.roundfield {
    width: 520px;
    background: 0 0
}

.linefield div.usertext-edit.md-container {
    width: 494px!important
}

div#RESStyleSheetTipPane {
    width: calc(100% - 322px);
    border-color: rgba(144, 144, 144, .25);
    border-radius: 5px
}

.sheets {
    margin-right: 322px
}

.sheets .buttons,
.sheets .col>div {
    margin: 0
}

ul#image-preview-list.image-list {
    display: block;
    margin: 0 322px 0 0
}

ul#image-preview-list li {
    display: inline-block;
    float: none;
    width: 50%;
    height: auto
}

.flat-list li.selected a {
    color: #e286a9
}

.message .subject .correspondent,
.tabmenu li.selected a,
.tabpane-content,
div#RESStyleSheetTipPane-header,
div.RESDialogSmall {
    border: 0
}

.flair-jump button {
    vertical-align: top;
    margin-left: 10px
}

.RESDialogSmall.livePreview {
    margin-top: 10px
}

div#BigEditor,
div#RESConsoleContainer,
div#RESNotifications,
div#RESShortcutsAddFormContainer,
div#editShortcutDialog,
div#modalOverlay,
div.guider {
    z-index: 2147483647!important
}

div.guider {
    box-shadow: none;
    border: 2px solid rgba(144, 144, 144, .25)
}

.side:before {
    display: block;
    margin: 10px 0;
    height: 435px;
    border-radius: 5px;
    background: url(%%sidebarimage%%);
    background-size: cover;
    content: ""
}

.link .tagline .flair,
.side .titlebox .word,
.sidecontentbox .flair {
    display: none
}

.side .subscribers {
    font-size: 14px;
    display: block;
    margin: 5px 0
}

.side .users-online {
    font-size: 14px;
    margin: 0 0 10px
}

.side .subscribers .number:after {
    content: " policy advisors to Governor Polis"
}

.side .users-online .number:after {
    content: " online now"
}

body.show-controversial .comment.controversial>.entry .score:after {
    top: 0;
    content: " Hot Take"
}

.arrow.up,
.arrow.upmod {
    background-image: url(%%up%%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0
}

.arrow.upmod {
    background-image: url(%%upmod%%)
}

p.tagline {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center
}

.comment>.entry>.tagline {
    min-height: 37px
}

.tagline .score {
    margin-right: 5px

}

.tb-bracket-button.add-user-tag-neoliberal:not([title=""]) {
    position: relative
}

.flair-image {
    margin-top: 9px
}

.top-matter .tagline time {
    margin: 0 3px
}

.top-matter .tagline .author {
    margin-left: 3px
}

.top-matter .tagline .stickied-tagline {
    margin-left: 5px
}

.hover.pagename.redditname {
    visibility: hidden;
    position: unset !important;
}

.hover.pagename.redditname > a {
    position: absolute;
    z-index: 10000000;
    top: 30px;
    left: 497px;
    width: 260px;
    height: 257px;
    border-radius: 150px;
    visibility: visible;
    opacity: 0;
    overflow: hidden;
}

.side .hover.redditname {
    display: none;
}

#NREFloat {
    position: fixed;
    margin-top: 1px;
    right: 13px;
    top: 45px!important;
    z-index: 1234567979797
}

#NREFloat ul {
    display: flex;
    width: 50px;
    left: -5px;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

#NREFloat[hidden] {
    display: block;
    z-index: 2147483646
}

@media only screen and (max-width:876px) {
    .side {
        display: none
    }
    body>.content {
        margin-top: 0
    }
    .panestack-title {
        margin-right: 0
    }
}

.reddit-infobar p {
    margin-left: 50px
}

.md [href="#ohjeremycorbyn"],
.md [href="#mission-accomplished"],
.md [href="#theresamay"],
.md [href="#BasicShyBear"],
.md [href="#theresamayfish"],
.md [href="#GOAT"],
.md [href="#grievelife"],
.md [href="#ryandab"],
.md [href="#voteblair"],
.md [href="#corbynwwe"],
.md [href='#goolsbee-stupid'],
.md [href='#goolsbee-pistol'],
.md [href="#corbynretreat"] {
    background-size: cover;
    display: inline-block;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
    pointer-events: none
}

.md [href="#ohjeremycorbyn"] {
    background: url(%%corbyn%%);
    height: 315px;
    width: 387px;
    animation: corbyn 3.5s steps(40) infinite
}

@keyframes corbyn {
    from {background-position: 0 0}
    to {background-position: 0 -12600px}
}

.md [href='#goolsbee-stupid']{
    background: url(%%goolsbee-stupid%%);
    height: 74px;
    width: 259px;

}

.md [href='#goolsbee-pistol']{
    background: url(%%goolsbee-pistol%%);
    height: 70px;
    width: 301px;

}

.md [href="#mission-accomplished"] {
    background: url(%%mission-accomplished%%) 0/cover;
    height: 360px;
    width: 640px;
    animation: bush 4.8s steps(42) infinite;
}

@keyframes bush {
    from {background-position: 0 0;}
    to {background-position: 0 -15120px;}
}

.md [href="#theresamay"] {
    background: url(%%theresamay%%);
    height: 172px;
    width: 300px;
    animation: theresamay 3.5s steps(73) infinite;
}

@keyframes theresamay {
    from {background-position: 0 0}
    to {background-position: 0 -12349px}
}

.md [href="#BasicShyBear"] {
    background: url(%%BasicShyBear%%);
    height: 250px;
    width: 444px;
    animation: BasicShyBear 8.6s steps(86) infinite;
}

@keyframes BasicShyBear {
    from {background-position: 0 0;}
    to {background-position: 0 -21500px;}
}

.md [href="#theresamayfish"] {
    background: url(%%theresamayfish%%);
    height: 180px;
    width: 374px;
    animation: theresamayfish 3.5s steps(90) infinite;
}

@keyframes theresamayfish {
    from {background-position: 0 0}
    to {background-position: 0 -16200px}
}

.md [href="#GOAT"] {
    background: url(%%GOAT%%);
    height: 200px;
    width: 270px;
    animation: GOAT 1.34s steps(155) infinite;
}

@keyframes GOAT {
    from {background-position: 0 0}
    to {background-position: 0 -31000px}
}

.md [href="#grievelife"] {
    background: url(%%grievelife%%);
    width: 383px;
    height: 216px;
    animation: grievelife 3.1s steps(75) infinite;
}

@keyframes grievelife {
    from {background-position: 0 0;}
    to {background-position: 0 -16200px;}
}

.md [href="#ryandab"] {
    background: url(%%ryandab%%);
    height: 278px;
    width: 468px;
    animation: ryandab 1.9s steps(38) infinite;
}

@keyframes ryandab {
    from {background-position: 0 0}
    to {background-position: 0 -10564px}
}

.md [href="#voteblair"] {
    background: url(%%blair%%);
    height: 240px;
    width: 300px;
    animation: blair 2.8s steps(50) infinite;
}

@keyframes blair {
    from {background-position: 0 0}
    to {background-position: 0 -12000px}
}

.md [href="#corbynwwe"] {
    background: url(%%corbynwwe%%);
    height: 459px;
    width: 480px;
    animation: corbynwwe 1.7s steps(19) infinite;
}

.md [href="#corbynretreat"] {
    background: url(%%corbynretreat%%);
    height: 459px;
    width: 480px;
    animation: corbynwwe 1.7s steps(19) infinite;
}

@keyframes corbynwwe {
    from {background-position: 0 0}
    to {background-position: 0 -8721px}
}

#chat {
    margin-left: 20px;
    transform: scale(1.2);
    top: 3.9px;
}

.res-nightmode .commentarea .flair-image,
.res-nightmode .side .md a[href^="#headerbutton"] + a,
.res-nightmode .side::before {
    opacity: 0.8;
}

.res-nightmode a[href="#bigbutton"] + a,
.res-nightmode .side .subButtons *,
.res-nightmode .side .helplink,
.res-nightmode .image-preview-list .description .img-url,
.res-nightmode .login-required.access-required,
.res-nightmode .side .account-activity-box a {
    color: #ddd;
}

.res-nightmode .side .md > ul:nth-of-type(5) {
    background-color: #000;
}

.res-nightmode #sr-header-area,
.res-nightmode #sr-more-link {
    background-color: rgba(0,0,0,0.3) !important;
    color: #fff !important;
}

.res-nightmode #RESShortcutsEditContainer,
.res-nightmode #RESShortcutsEditContainer div {
    background: none !important;
}

.content thead,
.content tr:nth-of-type(2n) {
    background-color: #f5f5f5;
}

.content tbody {
    background-color: #fafafa;
}

.res-nightmode .content thead,
.res-nightmode .content tr:nth-of-type(2n) {
    background-color: #555;
}

.res-nightmode .content tbody {
    background-color: #444;
}

.RESSubscriptionButton .res-icon {
    position: relative;
    top: 1px
}

.child > form > .usertext-edit {
    padding-left: 11px
}

.thing.spam > .entry.res-selected,
.thing.spam > .entry.res-selected .md-container {
    background-color: #ec6b5b !important;
}

.res-nightmode .thing.spam > .entry.res-selected,
.res-nightmode .thing.spam > .entry.res-selected .md-container {
    background-color: #3e1e1a !important;
}

.res-nightmode .comment.spam > .child, .res-nightmode .message.spam > .child {
    background-color: #232323 !important;
}

.flairselector.drop-choices.active {
    background-color: #f9f9f9;
    border: 1px solid black !important;
}

#srList {
    z-index: 99999999 !important;
    top: 30px !important;
    left: 5px !important;
    width: 350px !important;
    padding: 5px;
}

#srList table {
    margin: 5px;
}
