.over18 button,
.wiki-page .wiki-page-content input.wiki_button,
button,
span.RESDashboardToggle,
span.RESDashboardToggle.remove,
span.RESshortcutside,
span.RESshortcutside.remove {
    width: auto;
    border-radius: 5px;
    padding: 0 10px
}

.over18 button,
.side .fancy-toggle-button .active,
.usertext .help-toggle .active,
.usertext a.reddiquette,
.wiki-page .wiki-page-content input.wiki_button,
button,
span.RESDashboardToggle,
span.RESDashboardToggle.remove,
span.RESshortcutside,
span.RESshortcutside.remove {
    display: inline-block;
    height: 30px;
    border: 1px solid rgba(144, 144, 144, .25);
    background: 0 0;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: #4d5968;
    transition: .2s
}

.usertext .help-toggle .active,
.usertext a.reddiquette {
    width: auto;
    padding: 0 10px
}

.flair-jump button,
.submit-page .tabmenu.formtab li a,
.wiki-page .pageactions .wikiaction,
span.RESSubscriptionButton,
span.RESSubscriptionButton.unsubscribe {
    display: inline-block;
    color: #4d5968
}

input#addSubreddit {
    display: inline-block
}

.flair-jump button,
.res .blueButton,
.res a.RESNotificationButtonBlue,
.submit-page .tabmenu.formtab li a,
.wiki-page .pageactions .wikiaction,
a.guider_button,
input#addSubreddit,
span.RESSubscriptionButton,
span.RESSubscriptionButton.unsubscribe {
    width: auto;
    height: 30px;
    border: 1px solid rgba(144, 144, 144, .25);
    border-radius: 5px;
    padding: 0 10px;
    background: 0 0;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    transition: .2s
}

.md a[href="#bigbutton"]+a:hover,
.md a[href="#button"]+a:hover,
.side .fancy-toggle-button .active:hover,
.usertext .help-toggle .active:hover,
.usertext a.reddiquette:hover,
.wiki-page .pageactions .wikiaction:hover,
body button.RESBigEditorPop:hover,
button:hover,
span.RESDashboardToggle.remove:hover,
span.RESDashboardToggle:hover,
span.RESSubscriptionButton:hover,
span.RESshortcutside.remove:hover,
span.RESshortcutside:hover {
    background-color: rgba(144, 144, 144, .075)
}

.md a[href="#bigbutton"]+a:active,
.md a[href="#button"]+a:active,
.side .fancy-toggle-button .active:active,
.usertext .help-toggle .active:active,
.usertext a.reddiquette:active,
button.RESBigEditorPop:active,
button:active,
span.RESDashboardToggle.remove:active,
span.RESDashboardToggle:active,
span.RESshortcutside.remove:active,
span.RESshortcutside:active {
    background-color: rgba(144, 144, 144, .2)
}

.md {
    a[href="#button"]+a {
        display: inline-block;
        color: #4d5968
    }
    a[href="#button"]+a,
    a[href="#specialbutton"]+a {
        width: auto;
        height: 30px;
        border: rgba(144, 144, 144, .25);
        border-radius: 5px;
        padding: 0 10px;
        background: 0 0;
        line-height: 26px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        transition: .2s
    }
    a[href="#bigbutton"]+a {
        display: inline-block;
        color: #4d5968
    }
    a[href="#bigbutton"]+a,
    a[href="#bigspecialbutton"]+a {
        width: auto;
        border: 2px solid rgba(144, 144, 144, .25);
        border-radius: 5px;
        background: 0 0;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        transition: .2s
    }
    a[href="#bigbutton"]+a+.keyNavAnnotation,
    a[href="#bigspecialbutton"]+a+.keyNavAnnotation,
    a[href="#button"]+a+.keyNavAnnotation,
    a[href="#specialbutton"]+a+.keyNavAnnotation,
    i#RESSearchMenuItem {
        display: none
    }
    a[href="#bigbutton"]+a,
    a[href="#bigspecialbutton"]+a {
        height: 40px;
        padding: 0 20px;
        line-height: 36px
    }
}

.md a[href="#bigspecialbutton"]+a:active,
.md a[href="#specialbutton"]+a:active,
.morelink a:active,
button.save:active,
button[name=save]:active {
    border-color: #a00;
    background: #a00
}

.side .fancy-toggle-button+span+span,
.side .md a[href="#rightalign"]+a[href="#button"]+a,
.side .md a[href="#rightalign"]+a[href="#specialbutton"]+a {
    margin-right: 0
}

.BEFoot button {
    margin-right: 10px
}

.side .md {
    a[href="#bigbutton"]+a,
    a[href="#bigspecialbutton"]+a,
    a[href="#button"]+a,
    a[href="#specialbutton"]+a {
        margin-top: 5px;
        overflow: hidden;
        vertical-align: center;
        text-overflow: ellipsis;
        text-align: center
    }
    a[href="#button"]+a,
    a[href="#specialbutton"]+a {
        margin-right: 10px;
        width: 93.3px
    }
    a[href="#bigbutton"]+a,
    a[href="#bigspecialbutton"]+a {
        width: 300px
    }
}