body>.content {
    grid-area: content;
    margin: $announcement-height 0 0 0;
    .sitetable {
        @include display-flex();
        flex-direction: column;
        background-color: $content-color;
    }
}