// ToDo: Break up into logical flairsheets to decrease compression
$image-flairs: (blair, brown, clegg, clinton, erhard, keating, khama, macron, obama, osborne, thatcher, tusk, yew, eu, nato, wto, commonwealth, un, acemoglu, autor, bernanke, carney, fama, friedman, george, goolsbee, hayek, heckman, keynes, krugman, mankiw, sen, yellen, hrclinton, merkel, verhofstadt, kant, volcker, sumner, lagarde, greenspan, mill, singh, aziz, douglas, indrawati, juncker, locke, montesquieu, okonjoiweala, peel, smith, wollstonecraft, globe, trudeau, rockefeller, au, stalin, trump, worldbank, imf, soros, foucault, fdr, bush, bloomberg, draghi, mrworldwide, reagan, picardiasanders, pvnr, burke, rajan, samuelson, gladstone, musculindner, lidner, coolmutti, ryan, vestager, elizabeth);
$flair-colors: ( red: #c22, orange: #ffa500, green: #69b391, lime: lime, babyblue: #78c8ee, blue: #0348ae, purple: #8075e5, pink: #e286a9, plain: transparent);
.tagline .flair {
    display: none;
    border-radius: 0px;
    visibility: hidden;
    white-space: nowrap;
    width: 1px;
    margin-right: -10px;
    padding: 2px 4px;
    font-size: 10px;
    font-weight: 600;
    &:empty {
        background: transparent;
        border: 0;
        margin-left: 36px;
    }
    .link & {
        margin-top: 0
    }
    &-image {
        margin-top: 12px;
        margin-bottom: 9px;
        margin-left: 40px;
        display: inline-block;
        &:before {
            background-image: url(%%flairs%%);
            background-size: 36px calc(0.4* #{length($image-flairs) * 100}px);
            width: 36px;
            height: 40px;
            position: absolute;
            content: "";
            margin-left: -45px;
            margin-top: -15px;
            visibility: visible
        }
    }
    &-text {
        border: 0;
        display: inline-block;
        visibility: visible;
        width: auto;
        margin-right: 5px;
        color: #fff;
    }
}

@each $image in $image-flairs {
    $offset: -100 * (index($image-flairs, $image) - 1);
    .flair-#{$image}:before,
    a[href="#flair-#{$image}-img"] {
        background-position: 0 calc(0.4 * #{$offset}px);
    }
}

@each $key,
$color in $flair-colors {
    .tagline .flair-#{"" + $key},
    .flairselector .linkflair-#{"" + $key},
    .linkflair-#{"" + $key} .title .linkflairlabel {
        background-color: $color;
    }
    .tagline .flair-#{"" + $key}-border {
        border: 2px solid $color
    }
}

a.author.moderator~.flair-mod {
    background-color: #c22 !important
}