$flair-colors: (
    "red": #c22,
    "orange": orange,
    "yellow": #FFBA49,
    "green": #84A98C,
    "lime": lime,
    "babyblue": #78c8ee,
    "blue": #003366,
    "indigo": indigo,
    "purple": #8075e5,
    "brown": #8B4513,
    "grey": #5f5f5f,
    "pink": #e286a9,
    "black": #000,
    "plain": (transparent, #000)
);

.tagline {
    .flair {
        display: inline-flex;
        align-items: center;
        border-radius: 0;
        white-space: nowrap;
        padding: 0;
        border: 0;
    }
    .flair-image {
        margin: 0 0 0 $flair-image-width;
        padding: 0 $flair-image-padding;
        &:before {
            @include box($flair-image-width, $flair-image-height);
            position: absolute;
            content: "";
            margin-left: -#{$flair-image-width};
            visibility: visible
        }
    }
    .flair-text {
        height: 18px;
        width: auto !important;
        font-size: 10px;
        font-weight: 600;
        @include box-sizing(border-box);
        visibility: visible;
        padding: 0 $flair-text-padding;
        margin: 11px 5px 11px 0px;
        color: #fff;
    }
    .flair-text.flair-image {
        $flair-spacing: $flair-image-width + $flair-text-padding + $flair-text-spacing;
        margin-left: $flair-spacing;
        &:before {
            margin-left: -#{$flair-spacing}
        }
    }
}

//@each $name, $category in image-flairs() {
//    $length: length($category) * $flairsheet-flair-height;
//    .flair-#{$name}:before,
//    a[href$="#{$name}-img"] {
//        background: url(image-reference("#{$name}-flair")) no-repeat;
//        background-size: $flair-image-width #{$flair-image-scale-factor * $length};
//    }
//
//    @each $image in $category {
//        $offset: -$flairsheet-flair-height * (index($category, $image) - 1);
//        .flair-#{$image}:before,
//        a[href$="##{$image}-#{$name}-img"] {
//            background-position: 0 #{$flair-image-scale-factor * $offset};
//        }
//    }
//}

a[href$="-img"] {
    display: inline-block;
    min-width: $flair-image-width;
    height: $flair-image-height;
    font-size: 0;
}

a[href$="-img"] + .res-freetext-expando {
    display: none;
}

@each $key, $color in $flair-colors {
    .tagline .flair-#{$key},
    .flairselector .linkflair-#{$key},
    .linkflair-#{$key} .title .linkflairlabel {
        background-color: nth($color, 1);
        @if type-of($color) == list {
            color: nth($color, 2);
        }
    }
    .tagline .flair-#{$key}-border {
        border: 2px solid nth($color, 1);
    }
}

a.author.moderator~.flair-mod {
    $color: map-get($flair-colors, "red");
    background-color: $color;
    border-color: $color;
}

.linkflairlabel {
    overflow: visible;
    max-width: none;
    font-size: 11px;
    color: #fff;
    background-color: #777;
}

.flairemoji {
    height: 37px !important;
    min-height: 37px;
    width: 40px !important;
    min-width: 40px;
    visibility: visible;
}

.flair.flairrichtext {
    overflow: visible !important;
    background: transparent;
    font-size: 10px;
    font-weight: bold;
    visibility: hidden;
    height: auto;
}

.flairselector .flair.flairrichtext {
    line-height: 10px;
}

.flair-settings.fancy-settings::before {
    content: "Please do not use this page to apply flairs. Instead, use New Reddit. Contact /u/jenbanim for details";
    font-size: 45px;
}

.flair span:last-child {
    padding: 0 4px 0 4px;
    visibility: visible;
    background-color: inherit;
    white-space: normal;
}

// Red bordered flairs
div[data-author="ThatFrenchieGuy"] > .entry .flair span:last-child,
div[data-author="thebowski"] > .entry .flair span:last-child,
div[data-author="errantventure"] > .entry .flair span:last-child,
div[data-author="MrDannyOcean"] > .entry .flair span:last-child,
div[data-author="cdstephens"] > .entry .flair span:last-child,
div[data-author="1amathrowaway"] > .entry .flair span:last-child,
div[data-author="thatfrenchieguy"] > .entry .flair span:last-child,
div[data-author="caesar15"] > .entry .flair span:last-child,
div[data-author="lionmoose"] > .entry .flair span:last-child,
div[data-author="BainCapitalist"] > .entry .flair span:last-child,
div[data-author="ostrichmustard"] > .entry .flair span:last-child,
div[data-author="paulatreides0"] > .entry .flair span:last-child,
div[data-author="vakiadia"] > .entry .flair span:last-child,
div[data-author="birdious"] > .entry .flair span:last-child,
div[data-author="DiveIntoTheShadows"] > .entry .flair span:last-child,
div[data-author="p00bix"] > .entry .flair span:last-child,
div[data-author="neoliberal_shill_bot"] > .entry .flair span:last-child,
div[data-author="commalacomekrugman"] > .entry .flair span:last-child,
div[data-author="sansampersamp"] > .entry .flair span:last-child,
div[data-author="qchisq"] > .entry .flair span:last-child,
div[data-author="daokedao4"] > .entry .flair span:last-child,
div[data-author="buenzlitum"] > .entry .flair span:last-child,
div[data-author="int6"] > .entry .flair span:last-child,
div[data-author="ExternalNeoliberal"] > .entry .flair span:last-child,
div[data-author="BastestKitty1"] > .entry .flair span:last-child,
div[data-author="jenbanim"] > .entry .flair span:last-child,
div[data-author="EScforlyfe"] > .entry .flair span:last-child,
div[data-author="adamtraskk"] > .entry .flair span:last-child,
div[data-author="Boule_de_Neige"] > .entry .flair span:last-child,
div[data-author="dubyahhh"] > .entry .flair span:last-child,
div[data-author="riverafaun"] > .entry .flair span:last-child,
div[data-author="sir_shivers"] > .entry .flair span:last-child,
div[data-author="sower_of_salt"] > .entry .flair span:last-child {
    border: 2px solid #c22;
}

// Pink border
div[data-author="usrname42"] > .entry .flair span:last-child {
    border: 2px solid #e286a9;
}

// Blue border flairs
div[data-author="BernieMeinhoffGang"] > .entry .flair span:last-child {
    border: 2px solid #003366;
}

// Pale magenta borders, originally girl flairs
div[data-author="Kelsig"] > .entry .flair span:last-child,
div[data-author="AJungianIdeal"] > .entry .flair span:last-child,
div[data-author="LefthandedLunatic"] > .entry .flair span:last-child,
div[data-author="karry9001"] > .entry .flair span:last-child,
div[data-author="ByzantiumBall"] > .entry .flair span:last-child,
div[data-author="onometre"] > .entry .flair span:last-child,
div[data-author="thelargestgay"] > .entry .flair span:last-child,
div[data-author="taylor1589"] > .entry .flair span:last-child {
    border: 2px solid #ffa4f0;
}

// Flip gammbus' username
div[data-author="gammbus"] > .entry .author {
    transform: scale(-1, -1);
}

// Replace usernames
div[data-author="MistakeNotDotDotDot"] > .entry .author,
div[data-author="p00bix"] > .entry .author,
div[data-author="sansampersamp"] > .entry .author,
div[data-author="lionmoose"] > .entry .author,
div[data-author="paulatreides0"] > .entry .author,
div[data-author="EScforlyfe"] > .entry .author,
div[data-author="warrioguythi"] > .entry .author,
div[data-author="dubyahhh"] > .entry .author,
div[data-author="stupid-_-"] > .entry .author,
div[data-author="The420Roll"] > .entry .author,
div[data-author="jonathansfox"] > .entry .author,
div[data-author="BainCapitalist"] > .entry .author {
    font-size: 0px !important;
}

div[data-author="warrioguythi"] > .entry .author::after {
    font-size: 11px;
    content: "Fake Lusvig";
}

div[data-author="dubyahhh"] > .entry .author::after {
    font-size: 11px;
    content: "George W Bush";
}

div[data-author="p00bix"] > .entry .author::after {
    font-size: 11px;
    content: "Pizzabix";
}

div[data-author="sansampersamp"] > .entry .author::after {
  font-size: 11px;
  content: "S&";
}

div[data-author="lionmoose"] > .entry .author::after {
  font-size: 11px;
  content: "cuccmoose";
}

div[data-author="paulatreides0"] > .entry .author::after {
  font-size: 11px;
  content: "Leto Atreides II";
}

div[data-author="EScforlyfe"] > .entry .author::after {
  font-size: 11px;
  content: "Carl Bildt stan account";
}

div[data-author="stupid-_-"] > .entry .author::after {
  font-size: 11px;
  content: "diese nüsse";
}

div[data-author="The420Roll"] > .entry .author::after {
  font-size: 11px;
  content: "Jeb! 420 Bush";
}

div[data-author="jonathansfox"] > .entry .author::after {
  font-size: 11px;
  content: "Jonathan S. Fox";
}

div[data-author="BainCapitalist"] > .entry .author::after {
  font-size: 11px;
  content: "BrainCRAPitalist";
}

div[data-author="MistakeNotDotDotDot"] > .entry .author::before {
  font-size: 11px;
  content: "Ue ";
}

div[data-author="MistakeNotDotDotDot"] > .entry .author::after {
  font-size: 11px;
  content: "Mistake Not...";
  font-style: italic;
}
