$flair-colors: (
    "red": #c22,
    "orange": orange,
    "yellow": #FFBA49,
    "green": #84A98C,
    "lime": lime,
    "babyblue": #78c8ee,
    "blue": #003366,
    "indigo": indigo,
    "purple": #8075e5,
    "brown": #8B4513,
    "grey": #5f5f5f,
    "pink": #e286a9,
    "black": #000,
    "plain": (transparent, #000)
);

.tagline {
    .flair {
        display: inline-flex;
        align-items: center;
        border-radius: 0;
        white-space: nowrap;
        padding: 0;
        border: 0;
    }
    .flair-image {
        margin: 0 0 0 $flair-image-width;
        padding: 0 $flair-image-padding;
        &:before {
            @include box($flair-image-width, $flair-image-height);
            position: absolute;
            content: "";
            margin-left: -#{$flair-image-width};
            visibility: visible
        }
    }
    .flair-text {
        height: 18px;
        width: auto !important;
        font-size: 10px;
        font-weight: 600;
        @include box-sizing(border-box);
        visibility: visible;
        padding: 0 $flair-text-padding;
        margin: 11px 5px 11px 0px;
        color: #fff;
    }
    .flair-text.flair-image {
        $flair-spacing: $flair-image-width + $flair-text-padding + $flair-text-spacing;
        margin-left: $flair-spacing;
        &:before {
            margin-left: -#{$flair-spacing}
        }
    }
}

//@each $name, $category in image-flairs() {
//    $length: length($category) * $flairsheet-flair-height;
//    .flair-#{$name}:before,
//    a[href$="#{$name}-img"] {
//        background: url(image-reference("#{$name}-flair")) no-repeat;
//        background-size: $flair-image-width #{$flair-image-scale-factor * $length};
//    }
//
//    @each $image in $category {
//        $offset: -$flairsheet-flair-height * (index($category, $image) - 1);
//        .flair-#{$image}:before,
//        a[href$="##{$image}-#{$name}-img"] {
//            background-position: 0 #{$flair-image-scale-factor * $offset};
//        }
//    }
//}

a[href$="-img"] {
    display: inline-block;
    min-width: $flair-image-width;
    height: $flair-image-height;
    font-size: 0;
}

a[href$="-img"] + .res-freetext-expando {
    display: none;
}

@each $key, $color in $flair-colors {
    .tagline .flair-#{$key},
    .flairselector .linkflair-#{$key},
    .linkflair-#{$key} .title .linkflairlabel {
        background-color: nth($color, 1);
        @if type-of($color) == list {
            color: nth($color, 2);
        }
    }
    .tagline .flair-#{$key}-border {
        border: 2px solid nth($color, 1);
    }
}

a.author.moderator~.flair-mod {
    $color: map-get($flair-colors, "red");
    background-color: $color;
    border-color: $color;
}

.linkflairlabel {
    overflow: visible;
    max-width: none;
    font-size: 11px;
    color: #fff;
    background-color: #777;
}

.flairemoji {
    height: 37px !important;
    min-height: 37px;
    width: 40px !important;
    min-width: 40px;
    visibility: visible;
    margin: 0 4px 0 4px;
}

.flair span:first-child {
    margin-left: 0;
}

.flair span:last-child {
    margin-right: 0;
}

.flair.flairrichtext {
    overflow: visible !important;
    background: transparent;
    font-size: 10px;
    font-weight: bold;
    visibility: hidden;
    height: auto;
}

.flairselector .flair.flairrichtext {
    line-height: 10px;
}

.flair-settings.fancy-settings::before {
    content: "Please do not use this page to apply flairs. Instead, use New Reddit. Contact /u/jenbanim for details";
    font-size: 45px;
}

.flair span:not(.flairemoji) {
    padding: 0 4px 0 4px;
    visibility: visible;
    background-color: inherit;
    white-space: normal;
}

// Red bordered flairs
a[href$="ThatFrenchieGuy"] ~ .flair span:not(.flairemoji),
a[href$="thebowski"] ~ .flair span:not(.flairemoji),
a[href$="errantventure"] ~ .flair span:not(.flairemoji),
a[href$="MrDannyOcean"] ~ .flair span:not(.flairemoji),
a[href$="cdstephens"] ~ .flair span:not(.flairemoji),
a[href$="1amathrowaway"] ~ .flair span:not(.flairemoji),
a[href$="thatfrenchieguy"] ~ .flair span:not(.flairemoji),
a[href$="caesar15"] ~ .flair span:not(.flairemoji),
a[href$="lionmoose"] ~ .flair span:not(.flairemoji),
a[href$="BainCapitalist"] ~ .flair span:not(.flairemoji),
a[href$="ostrichmustard"] ~ .flair span:not(.flairemoji),
a[href$="paulatreides0"] ~ .flair span:not(.flairemoji),
a[href$="vakiadia"] ~ .flair span:not(.flairemoji),
a[href$="birdious"] ~ .flair span:not(.flairemoji),
a[href$="DiveIntoTheShadows"] ~ .flair span:not(.flairemoji),
a[href$="p00bix"] ~ .flair span:not(.flairemoji),
a[href$="neoliberal_shill_bot"] ~ .flair span:not(.flairemoji),
a[href$="commalacomekrugman"] ~ .flair span:not(.flairemoji),
a[href$="sansampersamp"] ~ .flair span:not(.flairemoji),
a[href$="qchisq"] ~ .flair span:not(.flairemoji),
a[href$="daokedao4"] ~ .flair span:not(.flairemoji),
a[href$="buenzlitum"] ~ .flair span:not(.flairemoji),
a[href$="int6"] ~ .flair span:not(.flairemoji),
a[href$="ExternalNeoliberal"] ~ .flair span:not(.flairemoji),
a[href$="BastestKitty1"] ~ .flair span:not(.flairemoji),
a[href$="jenbanim"] ~ .flair span:not(.flairemoji),
a[href$="EScforlyfe"] ~ .flair span:not(.flairemoji),
a[href$="adamtraskk"] ~ .flair span:not(.flairemoji),
a[href$="Boule_de_Neige"] ~ .flair span:not(.flairemoji),
a[href$="dubyahhh"] ~ .flair span:not(.flairemoji),
a[href$="riverafaun"] ~ .flair span:not(.flairemoji),
a[href$="sir_shivers"] ~ .flair span:not(.flairemoji),
a[href$="sower_of_salt"] ~ .flair span:not(.flairemoji) {
    border: 2px solid #c22;
}

// Pink border
a[href$="usrname42"] ~ .flair span:not(.flairemoji) {
    border: 2px solid #e286a9;
}

// Blue border flairs
a[href$="BernieMeinhoffGang"] ~ .flair span:not(.flairemoji) {
    border: 2px solid #003366;
}

// Pale magenta borders, originally girl flairs
a[href$="Kelsig"] ~ .flair span:not(.flairemoji),
a[href$="AJungianIdeal"] ~ .flair span:not(.flairemoji),
a[href$="LefthandedLunatic"] ~ .flair span:not(.flairemoji),
a[href$="karry9001"] ~ .flair span:not(.flairemoji),
a[href$="ByzantiumBall"] ~ .flair span:not(.flairemoji),
a[href$="onometre"] ~ .flair span:not(.flairemoji),
a[href$="thelargestgay"] ~ .flair span:not(.flairemoji),
a[href$="taylor1589"] ~ .flair span:not(.flairemoji) {
    border: 2px solid #ffa4f0;
}

// Flip gammbus' username
a[href$="gammbus"] ~ .author {
    transform: scale(-1, -1);
}

// Replace usernames
a[href$="MistakeNotDotDotDot"] ~ .author,
a[href$="p00bix"] ~ .author,
a[href$="sansampersamp"] ~ .author,
a[href$="lionmoose"] ~ .author,
a[href$="paulatreides0"] ~ .author,
a[href$="EScforlyfe"] ~ .author,
a[href$="warrioguythi"] ~ .author,
a[href$="dubyahhh"] ~ .author,
a[href$="stupid-_-"] ~ .author,
a[href$="The420Roll"] ~ .author,
a[href$="jonathansfox"] ~ .author,
a[href$="BainCapitalist"] ~ .author {
    font-size: 0px !important;
}

a[href$="warrioguythi"] ~ .author::after {
    font-size: 11px;
    content: "Fake Lusvig";
}

a[href$="dubyahhh"] ~ .author::after {
    font-size: 11px;
    content: "George W Bush";
}

a[href$="p00bix"] ~ .author::after {
    font-size: 11px;
    content: "Pizzabix";
}

a[href$="sansampersamp"] ~ .author::after {
  font-size: 11px;
  content: "S&";
}

a[href$="lionmoose"] ~ .author::after {
  font-size: 11px;
  content: "cuccmoose";
}

a[href$="paulatreides0"] ~ .author::after {
  font-size: 11px;
  content: "Leto Atreides II";
}

a[href$="EScforlyfe"] ~ .author::after {
  font-size: 11px;
  content: "Carl Bildt stan account";
}

a[href$="stupid-_-"] ~ .author::after {
  font-size: 11px;
  content: "diese nüsse";
}

a[href$="The420Roll"] ~ .author::after {
  font-size: 11px;
  content: "Jeb! 420 Bush";
}

a[href$="jonathansfox"] ~ .author::after {
  font-size: 11px;
  content: "Jonathan S. Fox";
}

a[href$="BainCapitalist"] ~ .author::after {
  font-size: 11px;
  content: "BrainCRAPitalist";
}

a[href$="MistakeNotDotDotDot"] ~ .author::before {
  font-size: 11px;
  content: "Ue ";
}

a[href$="MistakeNotDotDotDot"] ~ .author::after {
  font-size: 11px;
  content: "Mistake Not...";
  font-style: italic;
}
