.footer-parent {
    @include display-flex();
    flex-direction: column;
    position: relative;
    padding: 0;
    background-color: $footer-color;
    width: 100%;
    padding: $footer-spacing;
    color: $footer-text-color;
    font-family: $future-font;
    font-weight: 400;
    a {
        color: $footer-link-color;
    }
    .footer {
        display: block;
        margin: 0;
        width: 100%;
        max-width: none;
        border: 0;
        border-radius: 0;
        .col {
            @include flex(none);
            border: 0;
            padding: 0;
            .flat-vert.title {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 700;
                color: #fff;
                &:before {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: -30px;
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    background: url(%%spritesheet%%) 0/120px 290px;
                    content: "";
                }
            }
            &:nth-of-type(1) .flat-vert.title:before {
                background-position: -56px -168px
            }
            &:nth-of-type(2) .flat-vert.title:before {
                background-position: -84px -168px
            }
            &:nth-of-type(3) .flat-vert.title:before {
                background-position: 0 -196px
            }
            &:nth-of-type(4) .flat-vert.title:before {
                background-position: -56px -168px
            }
        }
    }
    .bottommenu {
        color: inherit;
        text-transform: uppercase;
        padding: 10px 0;
        a {
            text-decoration: none;
        }
    }
    ~.debuginfo {
        position: relative;
        margin-top: -25px;
        color: $footer-text-color;
        .icon {
            color: inherit;
            padding: 0;
        }
    }
}