#header {
    height: 300px;
    border: 0;
    box-shadow: inset 0 -38px 0 0 rgba(49, 49, 49, 0.8);
    background: url(%%header-ex%%);
    z-index: 2147483647;
    font-family: $future-font;
    letter-spacing: 2px;
    .separator,
    .srSep {
        display: none;
        margin: 0
    }
    #sr-header-area {
        height: 60px;
        border: 0;
        padding: 0 20px;
        line-height: unset;
        background: rgba(21, 27, 33, .3);
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        @include display-flex();
        align-items: center;
        justify-content: flex-end;
        .width-clip {
            @include display-flex();
            justify-content: center;
        }
        #srLeftContainer {
            @include display-flex();
            max-height: none;
            padding: 0;
        }
        #RESShortcutsViewport {
            display: none;
        }
        #srLeftContainer,
        #RESShortcutsEditContainer {
            max-height: none
        }
        #RESShortcuts {
            display: block;
            float: none;
            text-transform: uppercase
        }
        #sr-more-link,
        #RESShortcutsEditContainer {
            @include display-flex();
            width: auto;
            height: auto;
            max-height: none;
            background: none;
            color: #fff;
            position: inherit;
            align-items: center;
            justify-content: space-around;
        }
        #RESShortcutsEditContainer div {
            position: inherit;
            display: inline-block;
            width: auto;
            height: auto;
            line-height: unset;
            background: none;
            color: #fff
        }
        #RESShortcutsRight {
            order: 2
        }
        a {
            padding: 0 6px;
            display: inline-block;
            color: #fff;
        }
        .sr-list {
            margin-right: 50px
        }
        .ChatApp__reddit-icon {
            margin-left: 20px;
            color: #fff
        }
        .drop-choices.srdrop {
            margin-top: 10px;
            margin-left: 10px
        }
    }
    #header-bottom-left {
        #header-img-a,
        .redditname {
            display: none;
        }
        .tabmenu {
            position: absolute;
            text-transform: uppercase;
            top: auto;
            bottom: 0;
            height: 40px;
            @include display-flex();
            flex-direction: row;
            align-items: center;
            margin: 0;
            padding: 0 20px;
            li {
                display: inline-block;
                margin: 0;
                padding: 0 6px;
                font-weight: 400;
                &.selected {
                    font-weight: 600
                }
                a {
                    border: 0;
                    padding: 0;
                    color: #fff;
                    background: none;
                }
            }
        }
    }
    #header-bottom-right {
        top: auto;
        bottom: 0;
        padding: 0 20px;
        background: none;
        height: 40px;
        text-transform: uppercase;
        @include display-flex();
        justify-content: flex-end;
        align-items: center;
        .user {
            @include display-flex();
            align-items: center;
            background-color: none;
            margin: 0;
            white-space: nowrap;
            font-size: 12px;
            color: #fff;
            a {
                font-weight: 400;
                color: #fff;
            }
        }
        .beta-hint,
        .beta-hint a {
            position: relative;
            margin: 0;
            opacity: 1
        }
        #mail,
        #modmail,
        #openRESPrefs .gearIcon,
        .logout a,
        a.pref-lang,
        #RESAccountSwitcherIcon,
        .beta-hint,
        .beta-hint a {
            @include display-flex();
            justify-content: center;
            height: 20px;
            width: 20px;
            margin: 0 6px;
            overflow: hidden;
            background: url(%%spritesheet%%) 0/120px 290px;
            font-size: 0
        }
        #openRESPrefs .gearIcon {
            margin-left: 0;
            background-position: -56px -56px
        }
        .beta-hint a {
            background-position: -28px -28px
        }
        #RESAccountSwitcherIcon {
            margin: 0 10px;
            background-position: -56px -28px
        }
        #modmail,
        #new_modmail,
        #chat,
        #mail {
            top: 0;
            margin: 0 6px;
        }
        #mail {
            background-position: -84px -28px;
            &.havemail {
                background-position: -79px -23px;
            }
        }
        #modmail {
            background-position: 0 -56px;
            &.havemail {
                background-position: 5px -51px;
            }
        }
        #chat {
            $factor: (20/15);
            @include transform(scale($factor))
        }
        #new_modmail {
            $factor: (20/16);
            @include transform(scale($factor))
        }
        a.pref-lang {
            background-position: -28px -56px
        }
        .logout a {
            background-position: -84px -56px
        }
    }
}

#srList {
    left: 10px;
    thead {
        font-weight: 700;
    }
    td {
        padding: 0 8px;
        &.RESshortcut,
        &.RESvisited {
            text-transform: uppercase;
        }
    }
}