#header {
    grid-area: header;
    @include box($combined-header-height, 100%);
    border: 0;
    background: url(image-reference("header"));
    font-family: $future-font;
    font-size: $header-font-size;
    color: $header-text-color;
    background-position: center $topbar-height;
    background-color: $main-color;
    .separator,
    .srSep {
        display: none;
        margin: 0
    }
    &:after {
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        @include box($bottombar-height, 100%);
        background: $bottombar-color;
        content: "";
    }
    #sr-header-area {
        height: $topbar-height;
        border: 0;
        padding: 0 $header-spacing;
        line-height: unset;
        background: $topbar-color;
        text-transform: uppercase;
        font-size: inherit;
        color: inherit;
        @include display-flex();
        align-items: center;
        justify-content: center;
        .width-clip {
            @include display-flex();
            justify-content: center;
            padding: 0 $header-spacing;
            .dropdown.srdrop {
                float: none;
                padding: 0;
                .selected {
                    background-image: none;
                    padding: 0;
                    margin: 0;
                    color: inherit;
                    &:after {
                        content: "▼"
                    }
                }
            }
        }
        #srLeftContainer {
            @include display-flex();
            max-height: none;
            padding: 0;
        }
        #RESShortcutsViewport {
            display: none;
        }
        #srLeftContainer,
        #RESShortcutsEditContainer {
            max-height: none
        }
        #RESShortcuts {
            display: block;
            float: none;
            text-transform: uppercase
        }
        #sr-more-link,
        #RESShortcutsEditContainer {
            @include display-flex();
            @include box(auto, auto);
            max-height: none;
            background: none;
            position: inherit;
            align-items: center;
            justify-content: space-around;
        }
        #RESShortcutsEditContainer div {
            @include display-flex();
            @include box(auto, auto);
            position: inherit;
            display: inline-block;
            line-height: unset;
            background: none;
            color: $header-text-color;
        }
        #RESShortcutsRight {
            order: 2
        }
        a {
            padding: 0 $header-item-spacing;
            display: inline-block;
            text-decoration: none;
            color: inherit;
        }
        .sr-list {
            margin-right: 50px
        }
        .ChatApp__reddit-icon {
            margin-left: 20px;
        }
    }
    #header-bottom-left {
        font-size: inherit;
        #header-img-a,
        .redditname {
            display: none;
        }
        .tabmenu {
            position: absolute;
            text-transform: uppercase;
            top: auto;
            bottom: 0;
            height: $bottombar-height;
            @include display-flex();
            flex-direction: row;
            align-items: center;
            margin: 0;
            padding: 0 $header-spacing;
            li {
                display: inline-block;
                margin: 0;
                padding: 0 $header-item-spacing;
                font-weight: 400;
                &.selected {
                    font-weight: 600
                }
                a {
                    border: 0;
                    padding: 0;
                    background: none;
                    color: inherit;
                }
            }
        }
    }
    #header-bottom-right {
        top: auto;
        bottom: 0;
        padding: 0 $header-item-spacing;
        background: none;
        height: $bottombar-height;
        text-transform: uppercase;
        font-size: inherit;
        @include display-flex();
        justify-content: flex-end;
        align-items: center;
        .user {
            @include display-flex();
            align-items: center;
            background: none;
            margin: 0;
            white-space: nowrap;
            color: inherit;
            a {
                font-weight: 400;
                color: inherit;
            }
        }
        .message-count {
            position: fixed;
            left: 0;
            right: 0;
            bottom: $message-count-bottom;
            margin: 0 auto;
            @include box($message-count-width, $message-count-height);
            line-height: $message-count-height;
            text-align: center;
            background-color: $message-count-background-color;
            font-size: $message-count-text-size;
            color: $message-count-text-color;
            font-weight: inherit;
            z-index: 2;
            &:after {
                content: $message-count-text;
                margin-left: 0.5em;
            }
        }
        .beta-hint,
        .beta-hint a {
            position: relative;
            margin: 0;
            opacity: 1
        }
        #mail,
        #modmail,
        #openRESPrefs .gearIcon,
        .logout a,
        a.pref-lang,
        #RESAccountSwitcherIcon,
        .beta-hint,
        .beta-hint a {
            @include display-flex();
            @include box(20px);
            justify-content: center;
            margin: 0 6px;
            overflow: hidden;
            background: url(image-reference("spritesheet")) 0/120px 290px;
            font-size: 0
        }
        #openRESPrefs .gearIcon {
            margin-left: 0;
            background-position: -56px -56px
        }
        .beta-hint a {
            background-position: -28px -28px
        }
        #RESAccountSwitcherIcon {
            margin: 0 10px;
            background-position: -56px -28px
        }
        #modmail,
        #new_modmail,
        #chat,
        #mail {
            top: 0;
            margin: 0 6px;
        }
        #mail {
            background-position: -84px -28px;
            &.havemail {
                background-position: -79px -23px;
            }
        }
        #modmail {
            background-position: 0 -56px;
            &.havemail {
                background-position: 5px -51px;
            }
        }
        #chat {
            $factor: (20/15);
            @include transform(scale($factor))
        }
        #new_modmail {
            $factor: (20/16);
            @include transform(scale($factor))
        }
        a.pref-lang {
            background-position: -28px -56px
        }
        .logout a {
            background-position: -84px -56px
        }
    }
}

#srList {
    left: 10px;
    thead {
        font-weight: 700;
    }
    td {
        padding: 0 8px;
        &.RESshortcut,
        &.RESvisited {
            text-transform: uppercase;
        }
    }
}