/* thonk, wew, and rolf are also flairs */
.flair-thonk:before,
a[href$="thonk-img"] {
    background: url("%%thonk-img%%") no-repeat;
    background-size: 40px 40px; }

.flair-wew:before,
a[href$="wew-img"] {
    background: url("%%wew-img%%") no-repeat;
    background-size: 56.98px 40px;
    width: 56.98px;
}

.flair-rolf:before, .flair-rofl:before,
a[href$="rolf-img"], a[href$="rofl-img"] {
    background: url("%%image%%") no-repeat;
    background-size: 40px 40px;
    min-width: 40px; 
}

a[href$="rolf-img"]:hover, a[href$="rofl-img"]:hover {
    animation-timing-function: ease-out;
    transform-origin: bottom center;
    animation-name: intensifies;
    animation-duration: 5s;
}


.md [href='#goolsbee-stupid']{
    background: url(%%goolsbee-stupid%%);
    background-size: cover;
    cursor: default;
    display: inline-block;
    height: 74px;
    width: 259px;
}

.md [href='#goolsbee-pistol']{
    background: url(%%goolsbee-pistol%%);
    background-size: cover;
    cursor: default;
    display: inline-block;
    height: 70px;
    width: 301px;

}

.md [href="#ohjeremycorbyn"] {
    background: url(%%corbyn%%);
    cursor: default;
    display: inline-block;
    height: 315px;
    width: 387px;
    animation: corbyn 3.5s steps(40) infinite;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    overflow: hidden
}

.md [href="#mission-accomplished"] {
    background: url(%%mission-accomplished%%);
    background-size: cover;
    cursor: default;
    display: inline-block;
    height: 360px;
    width: 640px;
    animation: bush 4.8s steps(42) infinite;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    overflow: hidden;
}

.md [href="#theresamay"] {
    background: url(%%theresamay%%);
    cursor: default;
    display: inline-block;
    height: 172px;
    width: 300px;
    animation: theresamay 3.5s steps(73) infinite;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    overflow: hidden
}

.md [href="#BasicShyBear"] {
    background: url(%%BasicShyBear%%);
    cursor: default;
    display: inline-block;
    height: 250px;
    width: 444px;
    animation: BasicShyBear 8.6s steps(86) infinite;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    overflow: hidden;
}

.md [href="#theresamayfish"] {
    background: url(%%theresamayfish%%);
    cursor: default;
    display: inline-block;
    height: 180px;
    width: 374px;
    animation: theresamayfish 3.5s steps(90) infinite;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    overflow: hidden
}

.md [href="#GOAT"] {
    background: url(%%GOAT%%);
    cursor: default;
    display: inline-block;
    height: 200px;
    width: 270px;
    animation: GOAT 1.34s steps(155) infinite;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    overflow: hidden
}

.md [href="#grievelife"],
.md [href="#grievelife"]:hover,
.md [href="#grievelife"]:active,
.md [href="#grievelife"]:visited {
    background: url(%%grievelife%%);
    cursor: default;
    display: inline-block;
    width: 383px;
    height: 216px;
    animation: grievelife 3.1s steps(75) infinite;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    overflow: hidden;
}

.md [href="#ryandab"] {
    background: url(%%ryandab%%);
    cursor: default;
    display: inline-block;
    height: 278px;
    width: 468px;
    animation: ryandab 1.9s steps(38) infinite;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    overflow: hidden
}

.md [href="#voteblair"] {
    background: url(%%blair%%);
    cursor: default;
    display: inline-block;
    height: 240px;
    width: 300px;
    animation: blair 2.8s steps(50) infinite;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    overflow: hidden
}

.md [href="#corbynwwe"] {
    background: url(%%corbynwwe%%);
    cursor: default;
    display: inline-block;
    height: 459px;
    width: 480px;
    animation: corbynwwe 1.7s steps(19) infinite;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    overflow: hidden
}

.md [href="#corbynretreat"] {
    background: url(%%corbynretreat%%);
    cursor: default;
    display: inline-block;
    height: 459px;
    width: 480px;
    animation: corbynwwe 1.7s steps(19) infinite;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    overflow: hidden
}

.md [href^="#needle"] {
    display: block;
    min-width: 370px;
    max-width: 370px;
    height: 162px;
    border: 0;
    cursor: default;
    background: url(%%needle%%) no-repeat;
    background-size: 370px 162px;
    background-position: center;
    position: relative;
    margin-bottom: 20px !important;
    text-indent: -999999px;
    line-height: 0;
}

.md [href^="#needle"]:after {
    content: " ";
    position: relative;
    left: 50%;
    width: 3px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.50);
    display: block;
    top: 100%;
    transform-origin: top;
    animation-duration: 3s;
    animation-name: jiggle;
    animation-iteration-count: infinite;
    text-indent: 0px;
    line-height: 1;
}

.md [href^="#needle"]:before {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    text-indent: 0px;
    line-height: 1;
    margin-top:5px;
    overflow: hidden;
    max-width: 100%;
    max-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}
.md [href^="#needle"]:before {
        content: "100% for democrats";
        color: blue;
}
.md [href^="#needle"]:after {
    transform: translateX(-50%) rotate(90deg);
}
.md [href="#needle-blue"]:before {
    content: attr(title);
    color: blue;
    text-align: center;
    width: 100%;
}
.md [href="#needle-blue"]:after {
    animation-name: jiggle-blue;
    transform: translateX(-50%) rotate(100deg);
}
.md [href="#needle-red"]:before {
    content: attr(title);
    color: red;
    text-align: center;
    width: 100%;
}
.md [href="#needle-red"]:after {
    animation-name: jiggle-red;
    transform: translateX(-50%) rotate(265deg);
}
.md [href="#needle-crazy"]:before {
    content: attr(title);
    color: green;
    text-align: center;
    width: 100%;
}
.md [href="#needle-crazy"]:after {
    animation-name: jiggle-crazy;
    animation-duration: 1s;
    transform: translateX(-50%) rotate(90deg);
}
.md [href="#needle-center"]:before {
    content: attr(title);
    color: purple;
    text-align: center;
    width: 100%;
}
.md [href="#needle-center"]:after {
    animation-name: jiggle-center;
    transform: translateX(-50%) rotate(180deg);
}

.md [href="#party-parrot"] {
    background: url(%%parrot-flair%%);
    cursor: default;
    display: inline-block;
    height: 100px;
    width: 92px;
    animation: party-parrot 0.4s steps(9) infinite;
    color: #fff;
    text-shadow: 0 0 15px #000;
    text-align: center;
    font-family: impact;
    font-size: 20px;
    overflow: hidden;
    background-position: 0px;
}

a[href$="communism-img"] {
  background: url("%%communism-img%%") no-repeat;
  width: 300px;
  height: 190px;
}
