.side .md>ul:nth-of-type(3) {
    position: fixed;
    z-index: 100000;
    top: 0;
    right: 0;
    margin: 0;
    padding-left: 0;
    background-color: rgba(0, 0, 0, .8);
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.side .md>ul:nth-of-type(3) a {
    color: #fff;
    padding: 0 20px;
}

.side .md>ul:nth-of-type(3) li {
    position: relative;
    display: inline-block;
    padding: 0 13px;
    height: 36px;
    line-height: 36px;
    transition: .2s;
}

.side .md>ul:nth-of-type(3)>li>ul {
    position: absolute;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    padding: 0;
    text-align: left;
    background: rgba(0, 0, 0, .8);
    left: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.side .md>ul:nth-of-type(3)>li:hover>ul,
.side .md>ul:nth-of-type(3)>li>ul:hover,
.side .md>ul:nth-of-type(3)>li>ul>li:hover>ul,
.side .md>ul:nth-of-type(3)>li>ul>li>ul:hover {
    opacity: 1;
    pointer-events: auto
}

.side .md>ul:nth-of-type(3)>li>ul>li,
.side .md>ul:nth-of-type(3)>li>ul>li>ul>li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0;
}

.side .md > ul:nth-of-type(3) li:hover {
    background-color: rgba(0,0,0,0.55);
}

.side .md > ul:nth-of-type(3) > li:first-of-type{
    padding-left: 16px;
}
