.md [href^="#needle"] {
    display: block;
    min-width: 370px;
    max-width: 370px;
    height: 162px;
    border: 0;
    cursor: default;
    background: url(%%needle%%) no-repeat;
    background-size: 370px 162px;
    background-position: center;
    position: relative;
    margin-bottom: 20px !important;
    text-indent: -999999px;
    line-height: 0;
}

.md [href^="#needle"]:after {
    content: " ";
    position: relative;
    left: 50%;
    width: 3px;
    height: 130px;
    background-color: rgba(0, 0, 0, 0.50);
    display: block;
    top: 100%;
    transform-origin: top;
    animation-duration: 3s;
    animation-name: jiggle;
    animation-iteration-count: infinite;
    text-indent: 0px;
    line-height: 1;
}

.md [href^="#needle"]:before {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    text-indent: 0px;
    line-height: 1;
    margin-top:5px;
    overflow: hidden;
    max-width: 100%;
    max-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}
.md [href^="#needle"]:before {
    content: "100% for democrats";
    color: blue;
}
.md [href^="#needle"]:after {
    transform: translateX(-50%) rotate(90deg);
}
@keyframes jiggle {
    0%   { transform: translateX(-50%) rotate(90deg); }
    1%   { transform: translateX(-50%) rotate(90.5deg); }
    22%  { transform: translateX(-50%) rotate(89.5deg); }
    43%  { transform: translateX(-50%) rotate(90deg); }
    52%  { transform: translateX(-50%) rotate(90.5deg); }
    67%  { transform: translateX(-50%) rotate(91.5deg); }
    86%  { transform: translateX(-50%) rotate(90.5deg); }
    99%  { transform: translateX(-50%) rotate(90deg); }
}

.md [href^="#needle-blue"]:before {
    content: attr(title);
    color: blue;
    text-align: center;
    width: 100%;
}

.md [href^="#needle-blue"]:after {
    animation-name: jiggle-blue;
    transform: translateX(-50%) rotate(100deg);
}

@keyframes jiggle-blue {
    0%   { transform: translateX(-50%) rotate(95deg); }
    1%   { transform: translateX(-50%) rotate(95.5deg); }
    22%  { transform: translateX(-50%) rotate(94.5deg); }
    43%  { transform: translateX(-50%) rotate(95deg); }
    52%  { transform: translateX(-50%) rotate(95.5deg); }
    67%  { transform: translateX(-50%) rotate(96.5deg); }
    86%  { transform: translateX(-50%) rotate(95.5deg); }
    99%  { transform: translateX(-50%) rotate(95deg); }
}

.md [href^="#needle-red"]:before {
    content: attr(title);
    color: red;
    text-align: center;
    width: 100%;
}

.md [href^="#needle-red"]:after {
    animation-name: jiggle-red;
    transform: translateX(-50%) rotate(265deg);
}
@keyframes jiggle-red {
    0%   { transform: translateX(-50%) rotate(265deg); }
    1%   { transform: translateX(-50%) rotate(265.5deg); }
    22%  { transform: translateX(-50%) rotate(264.5deg); }
    43%  { transform: translateX(-50%) rotate(265deg); }
    52%  { transform: translateX(-50%) rotate(265.5deg); }
    67%  { transform: translateX(-50%) rotate(266.5deg); }
    86%  { transform: translateX(-50%) rotate(265.5deg); }
    99%  { transform: translateX(-50%) rotate(265deg); }
}

.md [href^="#needle-crazy"]:before {
    content: attr(title);
    color: green;
    text-align: center;
    width: 100%;
}

.md [href^="#needle-crazy"]:after {
    animation-name: jiggle-crazy;
    animation-duration: 1s;
    transform: translateX(-50%) rotate(90deg);
}

@keyframes jiggle-crazy {
    0%   { transform: translateX(-50%) rotate(90deg);  }
    13%  { transform: translateX(-50%) rotate(123deg); }
    18%  { transform: translateX(-50%) rotate(146deg); }
    28%  { transform: translateX(-50%) rotate(189deg); }
    29%  { transform: translateX(-50%) rotate(217deg); }
    48%  { transform: translateX(-50%) rotate(243deg); }
    50%  { transform: translateX(-50%) rotate(270deg); }
    55%  { transform: translateX(-50%) rotate(241deg); }
    69%  { transform: translateX(-50%) rotate(209deg); }
    75%  { transform: translateX(-50%) rotate(174deg); }
    81%  { transform: translateX(-50%) rotate(141deg); }
    96%  { transform: translateX(-50%) rotate(114deg); }
    100% { transform: translateX(-50%) rotate(90deg);  }
}

.md [href^="#needle-center"]:before {
    content: attr(title);
    color: purple;
    text-align: center;
    width: 100%;
}

.md [href^="#needle-center"]:after {
    animation-name: jiggle-center;
    transform: translateX(-50%) rotate(180deg);
}

@keyframes jiggle-center {
    0%   { transform: translateX(-50%) rotate(180deg); }
    1%   { transform: translateX(-50%) rotate(180.5deg); }
    22%  { transform: translateX(-50%) rotate(179.5deg); }
    43%  { transform: translateX(-50%) rotate(180deg); }
    52%  { transform: translateX(-50%) rotate(180.5deg); }
    67%  { transform: translateX(-50%) rotate(181.5deg); }
    86%  { transform: translateX(-50%) rotate(180.5deg); }
    99%  { transform: translateX(-50%) rotate(180deg); }
}

