.link {
    .score {
        margin: 5px 0
    }
    .entry {
        padding-right: 0
    }
    &.stickied .thumbnail {
        background-position: -26px -133px
    }
    .usertext-body .md {
        border-color: rgba(144, 144, 144, .25);
        border-radius: 5px;
        background: #fff;
        padding: 15px
    }
    .midcol {
        margin: 0 10px
    }
    &.last-clicked {
        background: rgba(144, 144, 144, .05)
    }
}

html body .midcol :not(.score)+div.arrow {
    margin-top: 5px
}

body .thumbnail {
    margin: 0 10px 0 0;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    img {
        width: auto;
        height: 70px
    }
}

p.title {
    @include display-flex();
    flex-direction: row;
    align-items: center;
}

.approval-checkmark {
    margin: 0 5px 0 0;
}

.link.stickied .thumbnail,
.search-result.has-thumbnail>.thumbnail.nsfw,
.self .thumbnail,
.thumbnail.default,
.thumbnail.nsfw,
.thumbnail[href*="reddit.com"] {
    margin: 0 22.5px 0 12.5px;
    flex: none;
    width: 45px;
    height: 45px;
    border: 2px solid rgba(144, 144, 144, .25);
    border-radius: 50%;
    box-sizing: border-box;
    background: #fff url(%%spritesheet%%)
}

.thumbnail.default {
    background-position: -97px -133px
}

.thumbnail[href*="reddit.com"] {
    background-position: 8px -27px
}

.self .thumbnail.self {
    background-position: -60px -133px
}

.search-result.has-thumbnail>.thumbnail.nsfw,
.thumbnail.nsfw {
    background-position: 8px -166px
}

.thing a.title {
    vertical-align: top
}

.expando-button {
    position: relative;
    width: 25px;
    height: 25px;
    max-width: none;
    max-height: none;
    border: 1px solid rgba(144, 144, 144, .25);
    border-radius: 5px;
    background: #fff url(%%spritesheet%%) 0/90px 218px;
    &.selftext {
        background-position: -17px -101px
    }
    &.video {
        background-position: -38px -101px
    }
    &.image {
        background-position: -59px -101px;
        &.gallery {
            background-position: 2px -122px
        }
    }
    &.video-muted {
        background-position: -17px -124px
    }
    &.expanded:after {
        @include transform(scale(1));
        opacity: 1
    }
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        @include transform(scale(1));
        opacity: 0;
        width: 21px;
        height: 21px;
        border-radius: 5px;
        background: #fff;
        line-height: 21px;
        text-align: center;
        text-indent: 1px;
        font-size: 14px;
        font-weight: 900;
        color: #4d5968;
        content: "✕";
        transition: .2s
    }
}

.tagline {
    @include display-flex();
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    min-height: 40px;
    a.moderator,
    a.submitter {
        display: inline-block;
        border-radius: 0;
        padding: 0 6px;
        height: 20px;
        line-height: 20px;
        font-size: 10px;
        font-weight: 400;
    }
    a.moderator {
        background: #c22;
    }
    a.submitter {
        background: #5f9dd2;
    }
    a.admin {
        background: #e286a9;
    }
    .author,
    time,
    .score,
    .voteWeight {
        color: #585858;
        margin: 0 3px;
    }
    .userattrs {
        font-size: 0;
        a {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            color: white;
            margin: 0 3px;
            font-weight: 600;
            padding: 0 6px;
            font-size: 10px;
            text-decoration: none;
            &.moderator:after {
                content: "oderator, speaking officially"
            }
            &.submitter:after {
                content: "ubmitter"
            }
            &.admin:after {
                content: "dmin"
            }
        }
    }
}