.side {
    margin: $sidebar-spacing 0;
    padding: $sidebar-spacing;
    width: $sidebar-width;
    background-color: $sidebar-background-color;
    @include box-sizing(content-box);
    @include display-flex();
    flex-direction: column;
    @if variable-exists($name: "sidebar-image") {
        &:before {
            display: block;
            height: $sidebar-image-height;
            background: url("%%#{$sidebar-image}%%");
            content: ""
        }
    }
    * {
        @include box-sizing(border-box);
    }
    .spacer {
        margin: $sidebar-item-spacing 0;
    }
    .word {
        display: none;
    }
    .subscribers {
        font-size: 14px;
        display: block;
        margin: 5px 0;
        .number:after {
            content: $subscriber-text;
        }
    }
    .users-online {
        display: block;
        margin: 0 0 10px;
        font-size: 14px;
        .number:after {
            content: $online-text;
        }
    }
    #search input[type=text] {
        height: 40px;
        width: 100%;
    }
    #searchexpando {
        margin-top: 10px
    }
    label+#moresearchinfo {
        margin-top: 10px;
        border: 0
    }
    .account-activity-box a,
    .morelink,
    .sidecontentbox a.helplink {
        @include display-flex();
        justify-content: center;
        align-items: center;
        position: relative;
        float: none;
        height: $sidebar-button-height;
        border: 0;
        background: 0 0;
        text-transform: uppercase;
        font-family: $future-font;
        font-size: $sidebar-button-font-size;
        font-weight: $sidebar-button-font-weight;
        letter-spacing: $sidebar-button-letter-spacing;
        background-color: $sidebar-button-color;
    }
    .morelink a,
    .account-activity-box a,
    .sidecontentbox a.helplink {
        @include display-flex();
        justify-content: center;
        align-items: center;
        color: $sidebar-button-text-color;
    }
    .disabled .morelink a {
        color: rgba(255, 255, 255, .6)
    }
    .account-activity-box a:before,
    .create .morelink a:before,
    .sidecontentbox a.helplink:before,
    .submit.mod-override .morelink a:after,
    .submit:not(.disabled) .morelink a:before {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        background: url(%%spritesheet%%) 0/120px 290px;
        content: ""
    }
    .submit-link:not(.disabled) .morelink a:before {
        background-position: 0 -84px
    }
    .submit-text:not(.disabled) .morelink a:before {
        background-position: -28px -84px
    }
    .create .morelink a:before {
        background-position: -84px -84px
    }
    .sidecontentbox a.helplink:before {
        background-position: -84px -28px
    }
    .account-activity-box a:before {
        background-position: 0 -112px
    }
    .submit.mod-override .morelink a:after {
        margin: 0;
        left: 35px;
        background-position: -56px -84px;
        opacity: 1
    }
    .flairselector li a.author,
    .flairselector li a.title,
    .hover-bubble.anchor-right:before,
    .morelink .nub,
    .titlebox .leavemoderator:before,
    .users-online:before {
        display: none
    }
    .fancy-toggle-button {
        margin: 0
    }
    .fancy-toggle-button .add,
    .side .fancy-toggle-button .add,
    .sidecontentbox a.helplink,
    input#addSubreddit {
        text-align: center
    }
    .res & span.RESDashboardToggle,
    .res & span.RESshortcutside,
    .fancy-toggle-button .active {
        width: 100%;
        padding: 0;
        white-space: nowrap;
        text-align: center
    }
    .hover-bubble {
        border: 0
    }
    .leavemoderator,
    .titlebox form.toggle {
        padding: 0;
        font-size: 12px;
        color: inherit
    }
    .leavemoderator,
    .users-online {
        margin-bottom: 8px
    }
    .linkflairlabel {
        font-size: 11px;
        font-weight: 400
    }
    .login-form-side,
    .sidecontentbox .content {
        border: 1px solid rgba(144, 144, 144, .25);
        border-radius: 5px;
        padding: 10px
    }
    .sidecontentbox .helplink~.content li {
        margin: 2px 0
    }
    .sidecontentbox span.score,
    a.reddit-comment-link {
        font-weight: 400;
        color: #5e6875
    }
    .titlebox {
        .subButtons {
            @include display-flex();
            flex-direction: row;
            justify-content: space-between;
            margin: 5px 0 10px;
            >span {
                flex-grow: 1;
                flex-basis: 0;
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        form.toggle {
            @include display-flex();
            flex-direction: row;
            align-items: center;
            padding: 5px 0;
            input {
                margin: 0 5px 0 0;
            }
        }
        .bottom {
            display: none;
        }
        .sidecontentbox .title {
            margin-bottom: 5px
        }
        .sidecontentbox .collapse-button {
            width: 15px;
            height: 15px;
            border: 1px solid rgba(144, 144, 144, .25);
            border-radius: 5px;
            text-indent: 0;
            font-weight: 700;
            background: 0 0;
            color: #4d5968;
            line-height: 12px;
        }
        .fancy-toggle-button .active {
            border-radius: 5px
        }
    }
    &:after {
        font-size: 12px;
        content: $sidebar-text;
        text-align: center
    }
}