.side {
    margin: 0 0 50px 10px;
    border-bottom-left-radius: 5px;
    border-left: 2px solid rgba(144, 144, 144, .25);
    border-bottom: 2px solid rgba(144, 144, 144, .25);
    padding: 0 10px 10px;
    .spacer {
        margin: 10px 0;
    }
    .subscribers {
        font-size: 14px;
        display: block;
        margin: 5px 0;
        .number:after {
            content: $subscriber-text;
        }
    }
    .users-online {
        display: inline-block;
        margin-left: 10px;
        font-size: 14px;
        .number:after {
            content: $online-text;
        }
    }
    div.flairselector.drop-choices {
        left: auto!important;
        right: 10px;
        width: 300px!important;
        &:before {
            left: calc(50% - 8px)
        }
    }
    .md {
        h1:first-of-type {
            position: absolute;
            overflow: hidden;
            top: 310px;
            left: 10px;
            right: 330px;
            margin: 0;
            height: 40px;
            border: 1px solid rgba(144, 144, 144, .25);
            border-radius: 5px;
            padding: 0 10px;
            white-space: nowrap;
            text-transform: none;
            letter-spacing: 0;
            font: 300 14px/40px -apple-system, "Open Sans", Helvetica, sans-serif!important;
            color: #5e6875!important;
            strong {
                color: #c22
            }
            &:before {
                text-transform: uppercase;
                letter-spacing: .05em;
                font-weight: 700;
                color: #4d5968!important;
                content: "Announcements: "
            }
        }
        >ul:nth-of-type(1) {
            position: fixed;
            z-index: 2147483646;
            top: 0;
            right: 0;
            margin: 0;
            width: 320px;
            height: 36px;
            padding-left: 5px;
            background-color: rgba(0, 0, 0, 0.75);
            white-space: nowrap;
            text-align: right;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 700;
            color: #fff
        }
        >ul:nth-of-type(1) a,
        >ul:nth-of-type(1) strong {
            text-decoration: none;
            color: #fff
        }
        >ul:nth-of-type(1) li {
            position: relative;
            display: inline-block;
            padding: 0 12px;
            height: 36px;
            line-height: 36px
        }
        >ul:nth-of-type(1)>li>p {
            display: inline-block
        }
        >ul:nth-of-type(1)>li>ul,
        >ul:nth-of-type(1)>li>ul>li>ul {
            position: absolute;
            margin: 0;
            opacity: 0;
            pointer-events: none;
            border: 0;
            padding: 0 5px;
            text-align: left;
            background: rgba(0, 0, 0, 0.75);
            transition: opacity .1s
        }
        >ul:nth-of-type(1)>li>ul {
            top: 36px;
            border-radius: 0;
        }
        >ul:nth-of-type(1)>li>ul>li>ul {
            top: 0;
            right: calc(100% - -20px);
            border-radius: 5px
        }
        >ul:nth-of-type(1)>li:hover>ul,
        >ul:nth-of-type(1)>li>ul:hover,
        >ul:nth-of-type(1)>li>ul>li:hover>ul,
        >ul:nth-of-type(1)>li>ul>li>ul:hover {
            opacity: 1;
            pointer-events: auto
        }
        >ul:nth-of-type(1)>li:hover>ul:after,
        >ul:nth-of-type(1)>li>ul:hover:after {
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: 10px;
            content: ""
        }
        >ul:nth-of-type(1)>li>ul>li,
        >ul:nth-of-type(1)>li>ul>li>ul>li {
            display: block;
            margin: 0;
            height: 40px;
            border-bottom: 1px solid rgba(255, 255, 255, .075);
            padding: 0 20px;
            line-height: 40px;
            white-space: nowrap
        }
        >ul:nth-of-type(1)>li>ul>li:hover:before {
            position: absolute;
            top: 0;
            left: -20px;
            width: 20px;
            height: 40px;
            content: ""
        }
        >ul:nth-of-type(1)>li>ul>li>ul>li ul {
            display: none
        }
        >ul:nth-of-type(1)>li:nth-of-type(2)>ul {
            left: -5px;
        }
        >ul:nth-of-type(1)>li:nth-of-type(3)>ul {
            left: -6px;
        }
    }
    #search input[type=text] {
        height: 40px
    }
    #searchexpando {
        margin-top: 10px
    }
    label+#moresearchinfo {
        margin-top: 10px;
        border: 0
    }
    .infobar {
        border: 1px solid rgba(144, 144, 144, .25);
        background: #fff
    }
    #searchexpando,
    .ad300x250,
    .infobar {
        border-radius: 5px
    }
    .account-activity-box a,
    .morelink,
    .morelink:hover,
    .sidecontentbox a.helplink {
        position: relative;
        float: none;
        height: 40px;
        border: 0;
        background: 0 0;
        line-height: 40px;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700
    }
    .account-activity-box a,
    .morelink,
    .morelink:hover {
        display: block
    }
    .sidecontentbox a.helplink {
        border-radius: 5px;
        background: #c22;
        transition: .2s
    }
    .account-activity-box a,
    .morelink a {
        border-radius: 5px;
        background: #c22;
        color: #fff;
        transition: .2s
    }
    .disabled .morelink a {
        color: rgba(255, 255, 255, .6)
    }
    .account-activity-box a {
        background: #f36c60;
        &:hover {
            background: #f87
        }
        &:active {
            background: #dc6257
        }
    }
    .account-activity-box a:before,
    .create .morelink a:before,
    .sidecontentbox a.helplink:before,
    .submit.mod-override .morelink a:after,
    .submit:not(.disabled) .morelink a:before {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        background: url(%%spritesheet%%) 0/120px 290px;
        content: ""
    }
    .submit-link:not(.disabled) .morelink a:before {
        background-position: 0 -84px
    }
    .submit-text:not(.disabled) .morelink a:before {
        background-position: -28px -84px
    }
    .create .morelink a:before {
        background-position: -84px -84px
    }
    .sidecontentbox a.helplink:before {
        background-position: -84px -28px
    }
    .account-activity-box a:before {
        background-position: 0 -112px
    }
    .submit.mod-override .morelink a:after {
        margin: 0;
        left: 35px;
        background-position: -56px -84px;
        opacity: 1
    }
    .flairselector li a.author,
    .flairselector li a.title,
    .hover-bubble.anchor-right:before,
    .morelink .nub,
    .titlebox .leavemoderator:before,
    .users-online:before {
        display: none
    }
    .fancy-toggle-button {
        margin: 0
    }
    .sidecontentbox a.helplink {
        display: block;
        margin: 10px 0
    }
    .fancy-toggle-button .add,
    .side .fancy-toggle-button .add,
    .sidecontentbox a.helplink,
    input#addSubreddit {
        border-color: transparent;
        background: #c22;
        color: #fff;
        text-align: center
    }
    .fancy-toggle-button .add,
    .sidecontentbox a.helplink {
        &:hover {
            background: #e44
        }
        &:active {
            background: #d33
        }
    }
    .res & span.RESDashboardToggle,
    .res & span.RESshortcutside,
    .fancy-toggle-button .active {
        width: 100%;
        padding: 0;
        white-space: nowrap;
        text-align: center
    }
    .hover-bubble {
        border: 0
    }
    .leavemoderator,
    .titlebox form.toggle {
        padding: 0;
        font-size: 12px;
        color: inherit
    }
    .leavemoderator,
    .users-online {
        margin-bottom: 8px
    }
    .linkflairlabel {
        font-size: 11px;
        font-weight: 400
    }
    .titlebox {
        .subButtons {
            @include display-flex();
            flex-direction: row;
            justify-content: space-between;
            margin: 5px 0 10px;
            >span {
                flex-grow: 1;
                flex-basis: 0;
                margin-right: 5px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        form.toggle {
            @include display-flex();
            flex-direction: row;
            align-items: center;
            padding: 5px 0;
            input {
                margin: 0 5px 0 0 !important;
            }
        }
        .bottom {
            border-top: 1px solid rgba(144, 144, 144, .25);
            font-weight: 300;
            color: #5e6875;
            padding: 10px 0;
        }
        .sidecontentbox .title {
            margin-bottom: 5px
        }
        .sidecontentbox .collapse-button {
            width: 15px;
            height: 15px;
            border: 1px solid rgba(144, 144, 144, .25);
            border-radius: 5px;
            text-indent: 0;
            font-weight: 700;
            background: 0 0;
            color: #4d5968;
            line-height: 12px;
        }
        .login-form-side,
        .sidecontentbox .content {
            border: 1px solid rgba(144, 144, 144, .25);
            border-radius: 5px;
            padding: 10px
        }
        .sidecontentbox .helplink~.content li {
            margin: 2px 0
        }
        .sidecontentbox span.score,
        a.reddit-comment-link {
            font-weight: 400;
            color: #5e6875
        }
        .fancy-toggle-button .active {
            border-radius: 5px
        }
        &:before {
            display: block;
            margin: 10px 0;
            height: 428px;
            border-radius: 5px;
            background: url("%%" + $sidebar-image + "%%");
            content: ""
        }
    }
    &:after {
        font-size: 12px;
        content: $sidebar-text;
        text-align: center
    }
}